SPECTRUM AGENTE/Agente Unificado/AGENT PRINCIPAL.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').first().json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('User Data').first().json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $json.type.trim() }}\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Parse response').first().json.respuesta.trim() }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28224,
        2352
      ],
      "id": "a3424400-912b-4722-8a19-c8eac5506363",
      "name": "RESPOND TO MANYCHAT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcff964b-b8c1-4e8f-9c6d-0a188497de72",
              "name": "type",
              "value": "={{ \n  $('PARSE BODY').first().json.current_body.custom_fields.canal_ingreso.includes(\"Instagram\")\n    ? \"instagram\"\n    : \n    $('PARSE BODY').first().json.current_body.custom_fields.canal_ingreso.includes(\"Messenger\")\n      ? \"messenger\"\n      : \"whatsapp\" \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -28448,
        2352
      ],
      "id": "8750c8e1-bfe1-4b35-b04f-4c0ab0ae0d3c",
      "name": "Parameter Type"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  $('Find User').first().json.isNotEmpty()\n  ? $('Find User').first().json\n  : $('Insert User').first().json\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -31088,
        2544
      ],
      "id": "679f0c46-09d5-4038-9442-d7df2b2f6572",
      "name": "User Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -34272,
        2400
      ],
      "id": "f628acdb-f9aa-426c-987f-625d4992d3e7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "50bd63ca-47f2-4e0f-a347-e81b80b66057",
              "leftValue": "={{ $('PARSE BODY').first().json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -34560,
        2544
      ],
      "id": "329badb5-cccd-47ab-b347-681ce267772e",
      "name": "If NO WHATSAPP"
    },
    {
      "parameters": {
        "text": "={{ $('JOINNING MESSAGE').first().json.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "proyecto",
              "description": "=Name: proyecto\n\nDescription:\nDevuelve el código del proyecto SOLO si el cliente menciona explícitamente \nuno de estos por nombre:\n\n{{ Object.values($('PROJECT LIST').first().json.proyectos).join(\"\\n\") }}\n\nDevuelve \"\" (cadena vacía) en TODOS estos casos:\n- El cliente pide ver la lista de proyectos disponibles\n- El cliente pregunta qué opciones hay\n- El cliente saluda o hace preguntas generales\n- El cliente no menciona ningún proyecto por nombre\n\nRequired: false"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -34336,
        2704
      ],
      "id": "f910c953-4690-4046-a7d5-05e805126e06",
      "name": "Proyecto"
    },
    {
      "parameters": {
        "text": "={{ $('JOINNING MESSAGE').first().json.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "language",
              "description": "=Idioma en el que está escrito el texto, devuelve el nombre del idioma, ejemplo, si el texto está en inglés, develves english, si es español, devuelve spanish y así con todos los idiomas.",
              "required": true
            },
            {
              "name": "asesoria",
              "type": "boolean",
              "description": "=Devuelve true si en el texto se solicita un asesor",
              "required": true
            },
            {
              "name": "interes_precios",
              "type": "boolean",
              "description": "=Devuelve true SOLO si el usuario pregunta EXPLÍCITAMENTE por un precio, costo, valor numérico, cuota, mensualidad o plan de pago de un apartamento. Devuelve false para preguntas generales sobre el proyecto, ubicación, amenidades o características.",
              "required": true
            },
            {
              "name": "es_fuera_de_contexto",
              "type": "boolean",
              "description": "=Devuelve true SOLO si el mensaje es una solicitud EXPLÍCITA y ESPECÍFICA sobre un tema completamente ajeno al sector inmobiliario: código de programación, recetas de cocina, ayuda médica, matemáticas, ciencia, entretenimiento, política, deportes u otro tema que NADA tenga que ver con bienes raíces o vivienda.\n\nSIEMPRE devuelve false (nunca es fuera de contexto) para:\n- Saludos de cualquier tipo: \"hola\", \"buenas\", \"buenos días\", \"buenas tardes\", \"buenas noches\", \"hey\", \"qué tal\", \"cómo estás\", \"hi\"\n- Mensajes cortos de 1 a 5 palabras que no sean una solicitud específica ajena al sector\n- Mensajes ambiguos o que PODRÍAN estar relacionados con buscar vivienda\n- Cualquier mención a apartamentos, proyectos, precios, zonas, citas, visitas, asesores\n- Confirmaciones: \"sí\", \"ok\", \"dale\", \"gracias\"\n\nEn caso de duda, devuelve false."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -34912,
        2544
      ],
      "id": "9da0abda-baa0-46cc-a4df-155061164fa0",
      "name": "Lenguaje & Asesoria"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -34272,
        2928
      ],
      "id": "9e7ada30-eb7e-4483-bc1a-87f0f4e76e6b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(\",\") }}",
        "options": {
          "dateFields": "timestamp"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -31312,
        2640
      ],
      "id": "76e1b362-445c-4672-ac2e-71fd46c81b0b",
      "name": "Update User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -31312,
        2448
      ],
      "id": "f23a38f3-28d4-4475-85d5-a6eeb9d97a07",
      "name": "Insert User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={ \n  \"manychat_id\": \"{{ $('PARSE BODY').first().json.current_body.id }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -31984,
        2544
      ],
      "id": "b3e56f39-163a-426f-b7a2-aca98544768e",
      "name": "Find User",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46d9906e-3ffe-418b-9c72-f072a9a18907",
              "name": "entrada_usuario",
              "value": "={{ $('JOINNING MESSAGE').first().json.message }}",
              "type": "string"
            },
            {
              "id": "0bdc7c86-7c02-4648-81e1-9e4d955cf0a6",
              "name": "lenguaje",
              "value": "={{ $('Lenguaje & Asesoria').first().json.output.language }}",
              "type": "string"
            },
            {
              "id": "b20e774f-5dea-4852-b5a9-1c0fd99db2ce",
              "name": "asesoria",
              "value": "={{ $('Lenguaje & Asesoria').first().json.output.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "66e47da4-9bbb-4253-bb0a-1eeef66226fc",
              "name": "canal",
              "value": "={{ $('PARSE BODY').first().json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "e7c18ee2-ce70-40e2-9dfd-637ec3a5f5e8",
              "name": "proyecto",
              "value": "={{\n  $('PARSE BODY').first().json.current_body.custom_fields.canal_ingreso.toLowerCase() !== 'whatsapp'\n    ? ($('Get Account Credentials').first().json.proyecto || '')\n    : (\n        $('PARSE BODY').first().json.current_body.custom_fields.proyecto_interes ||\n        ($('Proyecto').isExecuted ? $json.output.proyecto : '')\n      )\n}}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567810",
              "name": "interes_precios",
              "value": "={{ $('Lenguaje & Asesoria').first().json.output.interes_precios }}",
              "type": "boolean"
            },
            {
              "id": "cd206037-46e2-4386-8f3b-a36bb3c27f22",
              "name": "es_fuera_de_contexto",
              "value": "={{ $('Lenguaje & Asesoria').first().json.output.es_fuera_de_contexto }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -33984,
        2544
      ],
      "id": "fb60ab69-ff9a-4ca1-8229-bae62c85750d",
      "name": "CONTEXT 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "1fca47c3-3150-4740-a3a3-aaeb55e0bd49",
              "name": "page_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "proyecto",
              "value": "={{ $('CONTEXT 1').first().json.proyecto || ($('CONTEXT 1').first().json.canal !== 'whatsapp' ? $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.proyecto_detectado : '') }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('CONTEXT 1').first().json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "e5358421-99f8-42a6-a9db-2882f3a89206",
              "name": "language",
              "value": "={{ $('CONTEXT 1').first().json.lenguaje }}",
              "type": "string"
            },
            {
              "id": "2a0b8cc0-ba06-41e4-8817-055f4bbb13de",
              "name": "asesoria",
              "value": "={{ $('CONTEXT 1').first().json.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('CONTEXT 1').first().json.canal }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "9bb77330-c41a-4137-9ade-35e0d1b2c006",
              "name": "consulta_pendiente",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "06aad59e-59d6-404b-a8f0-4b0c72f2c1c3",
              "name": "first_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7436bc68-ba4c-4c48-8ac0-bea988b3079d",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c7a21713-70b5-4357-84ce-854bcbaed33b",
              "name": "last_message",
              "value": "={{ $('CONTEXT 1').first().json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "d424a476-8d63-449f-acc2-09a69f158a8f",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "c10d0b79-3d2d-4c63-b70f-9242d988e501",
              "name": "datos_completos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8da7b005-3418-4943-bed0-da3c943144fc",
              "name": "utm_source_crm",
              "value": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.utm_source_crm }}",
              "type": "string"
            },
            {
              "id": "e8351fed-a911-42e7-bd38-298ad71242e3",
              "name": "atribucion_tag",
              "value": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_tag }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567811",
              "name": "interes_precios",
              "value": "={{ $('CONTEXT 1').first().json.interes_precios }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -31536,
        2448
      ],
      "id": "a84af923-b563-4508-86dc-32f5edda8287",
      "name": "DATA to CREATE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d90a4768-5969-4cb1-b612-40627b026990",
              "name": "_id",
              "value": "={{ $('Find User').first().json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "b4b2db9c-7dda-440f-808c-cfd153db7319",
              "name": "=page_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "proyecto",
              "value": "={{ $('CONTEXT 1').first().json.proyecto || $('Find User').first().json.proyecto || ($('CONTEXT 1').first().json.canal !== 'whatsapp' ? $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.proyecto_detectado : null) }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('CONTEXT 1').first().json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "e5358421-99f8-42a6-a9db-2882f3a89206",
              "name": "language",
              "value": "={{ $('CONTEXT 1').first().json.lenguaje }}",
              "type": "string"
            },
            {
              "id": "2a0b8cc0-ba06-41e4-8817-055f4bbb13de",
              "name": "asesoria",
              "value": "={{ $('CONTEXT 1').first().json.asesoria }}",
              "type": "boolean"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('CONTEXT 1').first().json.canal }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "3e5c849b-5282-4ab3-aafc-72f1a05bf25c",
              "name": "consulta_pendiente",
              "value": "={{ $('Find User').first().json.consulta_pendiente || null }}",
              "type": "string"
            },
            {
              "id": "cf7d7f35-fa61-4954-93ff-0a23be16a4b8",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "6aa9fc9f-3f93-4831-b5f6-81f0ad660c2b",
              "name": "last_message",
              "value": "={{ $('CONTEXT 1').first().json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "cb61c50f-503e-4fa0-b58f-2d15527da8da",
              "name": "conversation_analysis",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
              "name": "atribucion_tag",
              "value": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_tag || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
              "name": "atribucion_medio",
              "value": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_medio || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
              "name": "atribucion_contacto",
              "value": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_contacto || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
              "name": "utm_source_crm",
              "value": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.utm_source_crm || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567812",
              "name": "interes_precios",
              "value": "={{ $('CONTEXT 1').first().json.interes_precios }}",
              "type": "boolean"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567813",
              "name": "datos_completos",
              "value": "={{ $('Find User').first().json.datos_completos }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -31536,
        2640
      ],
      "id": "60ac0edf-b2c1-4863-aeab-8cb939768384",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f396d4-0c8b-4099-b87a-4f98c96f9af1",
              "leftValue": "={{ $('Find User').first().json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -31760,
        2544
      ],
      "id": "78c701ca-6280-44a3-a8fd-e50fd592969a",
      "name": "If USER NOT EXIST"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($('Create Body').first().json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -39392,
        2448
      ],
      "id": "d4190940-1af9-42e8-adce-90270299e224",
      "name": "PARSE BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df6dd35d-a8b7-4ecb-8ef8-5a19ed499cfc",
              "name": "message",
              "value": "={{ $json.propertyName.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -35584,
        2544
      ],
      "id": "6e8ebb93-8bc4-42e4-a220-a3d09d20cf8e",
      "name": "JOINNING MESSAGE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0230658-9c5d-4ac7-8851-1b71483100c9",
              "name": "proyectos",
              "value": "={{ \n  {\n    1: \"Parque Vista Verde ⭐ Entrega Oct. 2026 (Zona 15) -> PVV\",\n    2: \"Parque Mariscal (Zona 11) -> PMAR\",\n    3: \"Parque Portales ⭐ Entrega Dic. 2026 (Zona 17) -> PPO\",\n    4: \"Polanco Parque Boutique (Zona 10) -> PPOL\",\n    5: \"Sotobosque Parque Boutique (Zona 15, Vista Hermosa II) -> PSB\"\n  }\n}}",
              "type": "object"
            },
            {
              "id": "f224b003-182c-4acb-966c-0b281b2a1059",
              "name": "proyectos_nombre",
              "value": "={{ \n  [\n    \"Parque Vista Verde - Zona 15 ⭐ Entrega Oct. 2026\", \n    \"Parque Mariscal - Zona 11\", \n    \"Parque Portales - Zona 17 ⭐ Entrega Dic. 2026\", \n    \"Polanco Parque Boutique - Zona 10\", \n    \"Sotobosque Parque Boutique - Zona 15, Vista Hermosa II\"\n  ]\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -35136,
        2544
      ],
      "id": "2d3bc308-0091-4fea-a471-dabec3adb749",
      "name": "PROJECT LIST"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5ad242-c6c3-4f2a-9b67-edb92fa424be",
              "leftValue": "={{ $json.propertyName?.last() || \"\" }}",
              "rightValue": "={{ $('INPUT FINAL').first().json.input }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -35808,
        2544
      ],
      "id": "9a84b37e-71bd-426a-8b00-73d859b9422c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('PARSE BODY').first().json.current_body.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -35360,
        2544
      ],
      "id": "629e7fa5-2d1c-4ca6-9459-08159cd140bf",
      "name": "DELETE MESSAGES",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -36256,
        2544
      ],
      "id": "20c59190-f219-40c9-95e7-f1d2d472dc56",
      "name": "Wait",
      "webhookId": "50ed2939-b8ec-48f7-8c6b-3bf14c2efc58"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('PARSE BODY').first().json.current_body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -36032,
        2544
      ],
      "id": "df1c8050-9d0d-4a13-8828-e590ffeb33b2",
      "name": "GET MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('PARSE BODY').first().json.current_body.id }}",
        "messageData": "={{ $json.input }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -36480,
        2544
      ],
      "id": "4a62ca76-9216-4081-88e9-2b0dcef5236f",
      "name": "SAVE MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c4c388-e572-4502-9cf1-51d28b4d022d",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -36704,
        2544
      ],
      "id": "7ef45910-e26a-48fa-9b83-7ed3cf9f1f55",
      "name": "INPUT FINAL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -37600,
        2256
      ],
      "id": "ddd71d0a-9e07-4fd0-ae57-1f3c9bd0d016",
      "name": "audio input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -37600,
        2448
      ],
      "id": "131b049a-434e-4618-bc9c-9fe1c546da15",
      "name": "image input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $('PARSE BODY').first().json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -37600,
        2640
      ],
      "id": "f2bf1e8c-f14a-4fc2-95ae-220663201012",
      "name": "text input"
    },
    {
      "parameters": {
        "url": "={{ $json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -38048,
        2256
      ],
      "id": "959b736f-b0cd-49bc-9122-54f1d969d0d3",
      "name": "HTTP IF AUDIO"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera. \"El usuario envió una imagen etc...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -37824,
        2448
      ],
      "id": "581127bb-a6ba-4d63-ad8b-77c346ba259f",
      "name": "ANALIZA IMAGEN",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -34848,
        2768
      ],
      "id": "265d9d38-4869-4132-b6b6-f88fc1fbf171",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mwtQQFLfYjj6JZcg",
          "name": "Spectrum - Parque Verde"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -36928,
        2544
      ],
      "id": "363fe5a3-3d62-4c8c-8b0e-d057af147ea5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "hora_llegada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -37152,
        2544
      ],
      "id": "858e765e-216a-4fb5-a6d5-e56001200cfc",
      "name": "Sort"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -37376,
        2528
      ],
      "id": "9db3a89e-fd11-478b-9cda-061cefbd9b76",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -37824,
        2256
      ],
      "id": "989ec442-12d0-4298-b488-cd806a5df1e3",
      "name": "TRANSCRIBE AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "74BsdCWEjNoR3imD",
          "name": "Spectrum - Parque Portales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('HTTP Request').first().binary.data.mimeType }}",
              "rightValue": "audio/ogg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('HTTP Request').first().binary.data.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -38272,
        2352
      ],
      "id": "20145dd6-e9c4-45b9-9b25-072b823fcf9b",
      "name": "ES AUDIO / IMAGEN"
    },
    {
      "parameters": {
        "url": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -38496,
        2352
      ],
      "id": "6349b429-2049-48c7-bd0a-1d3a4f7b4e2e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
              "rightValue": "https://manybot-files",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
              "rightValue": "https://lookaside.fbsbx.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -38720,
        2448
      ],
      "id": "c61b27b1-f0c0-4748-8275-4327544fd632",
      "name": "ES ARCHIVO"
    },
    {
      "parameters": {
        "jsCode": "const current_key = $input.first().json.body.key;\n\nconst current_body = $input.first().json.body;\n\nconst timestamp = new Date().toISOString();\n\nconst start_time = Date.now();\n\nconst result_body = {\n current_body,\n  timestamp\n}\n\nreturn [{\n  key: current_key,\n  body: JSON.stringify(result_body),\n  timestamp,\n  start_time\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -39616,
        2448
      ],
      "id": "b52c7b5e-bba8-40d0-b086-7a987518d922",
      "name": "Create Body"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spectrum-agent",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -39840,
        2448
      ],
      "id": "78aa6135-95a6-48de-9e32-bc69055de7ce",
      "name": "Webhook",
      "webhookId": "bbe94977-7886-4071-a874-e370d3b20c97"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.manychat_id }}",
        "collectionName": "chat_histories",
        "databaseName": "Centralizado",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -30736,
        2896
      ],
      "id": "7b030525-3ce3-458a-ae65-e7191088162a",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos del Lead:\nMensaje del usuario: {{ $('CONTEXT 1').first().json.entrada_usuario }}.\nIdioma: {{ $json.language }}.\nNecesita asesoría?: {{ $('User Data').first().json.asesoria ? \"SI\" : \"NO\" }}.\nProyecto activo en sesión: {{ $('CONTEXT 1').first().json.proyecto || $('User Data').first().json.proyecto || \"Ninguno\" }}.\nCanal de entrada: {{ $('User Data').first().json.input_channel }}\nTel_sistema: {{ $('PARSE BODY').item.json.current_body.whatsapp_phone || 'No tiene' }}\nContexto: {{ $('CONTEXT 1').first().json.toJsonString() }}\nProyecto detectado por link: {{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.proyecto_detectado || 'null' }}\nConsulta pendiente del lead: {{ $('User Data').first().json.consulta_pendiente || 'ninguna' }}",
        "options": {
          "systemMessage": "=## IDENTIDAD ##\nEres Sof-IA, agente virtual oficial de SPECTRUM VIVIENDA, desarrolladora inmobiliaria premium.\nIdentidad: amable, profesional, cercana. Español neutro.\nIMPORTANTE: Usa SIEMPRE tuteo (puedes, quieres, prefieres) y NUNCA voseo (podés, querés, preferís). Tu voz es consistente durante toda la conversación. El usuario siempre habla con Sof-IA.\n\n## REGLA DE ORO: PROYECTO DESCONOCIDO ##\nSi el campo `proyecto_detectado` es 'null' y no hay un 'Proyecto activo en sesión', tu prioridad #1 es presentar los proyectos disponibles destacando SIEMPRE que Vista Verde (Zona 15) y Portales (Zona 17) tienen entrega este año 2026. Usa este mensaje como base: \"Cuento con varios proyectos de vivienda de Spectrum. ¿En cuál estás interesado? Te comento que Parque Vista Verde y Parque Portales tienen entrega este 2026 — si buscas moverte pronto, son una excelente opción 🏠✨\". No intentes adivinar ni dar información del proyecto hasta que el usuario elija uno.\n\n## ROL ##\n- Saludar y atender al usuario de forma conversacional.\n- Identificar qué proyecto le interesa ({{ $('PROJECT LIST').first().json.proyectos_nombre.join(\", \") }}).\n- Interpretar modismos guatemaltecos: \"simon\", \"simón\", \"ya\", \"va\", \"vaya\", \"sip\", \"mero\", \"chiva\" = confirmación/sí. \"nel\", \"naa\" = negación/no.\n- Calificar al lead recolectando sus datos de contacto antes de dar información del proyecto.\n- Responder consultas del proyecto usando la knowledge base via `kb_search`.\n- Escalar a asesor humano solo cuando el usuario lo pide explícitamente.\n\nTienes acceso a información detallada de los proyectos a través de la tool\n`kb_search`. Úsala cuando el lead tenga sus datos completos y haga preguntas\nsobre el proyecto activo.\n\n## CONTEXTO DEL LEAD ##\n- Nombre: {{ $('User Data').first().json.nombre || 'NO DISPONIBLE' }}\n- Correo: {{ $('User Data').first().json.correo || 'NO DISPONIBLE' }}\n- Teléfono: {{ $('User Data').first().json.telefono || 'NO DISPONIBLE' }}\n- Proyecto activo: {{ $('CONTEXT 1').first().json.proyecto || $('User Data').first().json.proyecto || 'Ninguno' }}\n- Canal: {{ $('User Data').first().json.input_channel }}\n- Consulta pendiente: {{ $('User Data').first().json.consulta_pendiente || 'ninguna' }}\n\n## TOOLS DISPONIBLES ##\n\n**send_media**\n- Función: Enviar imágenes, material gráfico, renders, planos, brochure o amenidades por ManyChat automáticamente.\n- Cuándo usarla: Cuando el usuario exprese explícitamente el deseo de ver fotos, imágenes, planos, renders o material gráfico de un proyecto.\n- Qué devuelve: Un mensaje de confirmación de envío, o instrucción de que un asesor lo contactará para enviar el material.\n- Si send_media indica que el material no está disponible: NUNCA digas que no existe. Responde siempre que sí contamos con material y que un asesor puede contactar al usuario por este mismo canal para enviárselo.\n- Cuándo NO usarla: Cuando piden precios o dudas informativas (usar kb_search). NUNCA menciones proactivamente la existencia o disponibilidad de material visual. Solo aborda ese tema si el usuario lo solicita explícitamente.\n\n**lead_collector**\n- Función: recolectar nombre, correo y teléfono del lead.\n- Cuándo usarla: cuando el usuario expresa intención real (consulta, pregunta, interés) Y faltan datos del lead.\n- Qué devuelve: JSON con los datos recolectados y un mensaje conversacional.\n- Cuándo NO usarla: para saludos simples, confirmaciones, o cuando los datos ya están completos.\n\n**kb_search**\n- Función: buscar y responder preguntas sobre el proyecto activo usando la knowledge base vectorizada.\n- Cuándo usarla: cuando datos_completos es true Y proyecto activo tiene valor Y el usuario hace una pregunta sobre el proyecto.\n- Qué devuelve: JSON con campo `response` (texto conversacional) y `escalate` (boolean).\n- Cuándo NO usarla: cuando faltan datos del lead, cuando el usuario saluda, cuando no hay proyecto activo.\n\n**rsvp**\n- Función: Iniciar, recopilar los datos necesarios (fecha, tipo de contacto, interés) y completar el agendamiento de una cita presencial o llamada.\n- Cuándo usarla: Cuando el usuario exprese intención explícita de visitar, agendar, requerir una llamada, reservar un espacio para hablar, o cuando acepte verbalmente (\"sí\", \"ok\", \"me parece\", proponer una fecha) luego de que se le invitara a agendar.\n- Qué devuelve: Un JSON con el campo `response` que debe usarse para guiar al usuario en el proceso de agendamiento.\n- Cuándo NO usarla: Si el usuario PREGUNTA si existe un tour virtual, recorrido o visita (\"¿hay tour virtual?\", \"¿tienen recorrido?\", \"¿puedo ver el proyecto en línea?\") — eso es una pregunta informativa, usar kb_search. Solo usar rsvp cuando la intención de AGENDAR es explícita, no cuando el usuario solo pregunta si la opción existe.         \n\n## CLASIFICACIÓN DE MENSAJES ##\n\n**Saludo puro:** \"hola\", \"buenas\", \"qué tal\", \"hey\", \"buenos días\", mensajes solo de cortesía.\n→ Responde directo. NO llames ninguna tool.\n\n**Intención real:** preguntas (¿cuánto cuesta?, ¿dónde queda?), pedidos (quiero información, me interesa), interés en cotizar.\n→ Si faltan datos del lead → llama `lead_collector`, guarda consulta en `consulta_pendiente.guardar`.\n→ Si datos completos Y hay proyecto activo → llama `kb_search`.\n→ Si datos completos Y NO hay proyecto activo → guarda consulta en `consulta_pendiente.guardar` y pregunta cuál proyecto le interesa.\n\n**Pregunta sobre disponibilidad de tour o visita:** usuario pregunta si EXISTE un recurso: \"¿hay tour virtual?\", \"¿tienen recorrido virtual?\", \"¿puedo ver el proyecto en línea?\", \"¿algún tour?\". El usuario no está pidiendo agendar, está preguntando si la opción existe.\n→ Llama kb_search con la pregunta del usuario.\n→ accion.tipo: \"consultar_proyecto\"   \n→ NO llames rsvp.\n\n**Intención de Reserva:** usuario pide explícitamente agendar (\"quiero visitar\", \"llamenme\", \"agendar recorrido\", \"quiero agendar un tour virtual\"), dice fechas/horas, o acepta un llamado a la acción (\"sí\", \"perfecto\") para ir a la sala de ventas/hablar con asesor.\n→ Llama INMEDIATAMENTE a `rsvp`.\n→ accion.tipo: \"recolectar_cita\"\n→ \"sí\"/\"perfecto\" activa rsvp si Sof-IA previamente invitó a agendar O si hay un proceso de agendamiento activo en el historial (preguntas de fecha/hora, habitaciones, intención o confirmación de cita pendiente).\n\n**Elección de proyecto:** usuario menciona nombre de proyecto.\n→ Registra el proyecto en `estado_proyecto.proyecto`.\n→ Si hay consulta pendiente → llama `kb_search` con esa consulta.\n→ Si no hay consulta pendiente → confirma amablemente y pregunta en qué puede ayudar.\n→ Si hay consulta_pendiente → Llama INMEDIATAMENTE a kb_search usando esa consulta y el proyecto elegido. NO preguntes \"¿en qué te ayudo?\", da la información de una vez.\n\n**Dato personal del lead:** nombre, correo, teléfono o confirmación.\n→ Llama `lead_collector`.\n\n**Confirmación o mensaje ambiguo:** \"sí\", \"ok\", \"dale\", \"gracias\".\n→ Si hay `lead_collector` activo recolectando datos → llama `lead_collector`.\n→ Si `rsvp` fue llamado en el turno anterior o el historial muestra un proceso de agendamiento activo (preguntas de fecha/hora, habitaciones, intención, o confirmación de cita pendiente) → llama `rsvp`.\n→ Si no, responde de forma natural.\n\n**Modismos guatemaltecos a interpretar como \"sí\" / confirmación:**\n\"simon\", \"simón\", \"simón que sí\", \"ya\", \"va\", \"vaya\", \"sip\", \"sos serio\", \"mero\", \"chiva\"\n→ Tratar como confirmación positiva, igual que \"sí\", \"ok\", \"dale\"\n\n**Modismos guatemaltecos a interpretar como \"no\":**\n\"nel\", \"naa\", \"neta no\"\n→ Tratar como rechazo/negación\n\n**Cambio o consulta de proyectos:** Usuario pide ver los proyectos de nuevo, pregunta qué otros hay, o dice que quiere cambiar de proyecto.\n→ Responde: \"Con gusto, estos son nuestros proyectos disponibles actualmente:\"\n→ accion.tipo: \"aclarar\"\n→ estado_proyecto.proyecto: null\n\n## LÓGICA DE CONVERSACIÓN ##\n\n**SALUDO INICIAL (primera interacción, historial vacío):**\n- Si el mensaje es un saludo puro o ambiguo (ej: \"hola\", \"buenos días\") → Responde: \"¡Hola! Soy Sof-IA, asistente virtual de SPECTRUM VIVIENDA. ¿En qué puedo ayudarte hoy? 😊\".\n- SI EL MENSAJE CONTIENE UNA INTENCIÓN REAL, QUEJA O ES UN LEAD CALIENTE (ej: \"quiero información\", \"estoy por comprar\", \"mi asesor no me atiende\") → Llama INMEDIATAMENTE a `lead_collector`. NO uses el saludo genérico; deja que el lead_collector maneje la apertura con empatía.\n- accion.tipo: \"esperar\" (si es saludo) o según la tool.\n\n**SALUDO EN CONVERSACIÓN EN CURSO:**\n- No te presentes de nuevo.\n- Responde natural, sin repetir \"Soy Sof-IA\".\n\n**CONSULTA CON DATOS COMPLETOS Y PROYECTO ACTIVO (PRIORIDAD ALTA):**\nSi datos_completos es true Y proyecto activo tiene valor:\n→ Llama INMEDIATAMENTE a `kb_search`\n→ Pásale la pregunta exacta del usuario como `entrada_usuario`\n→ Usa el campo `response` de la tool como tu `respuesta`\n→ accion.tipo: \"consultar_proyecto\"\n→ NUNCA respondas directamente sobre detalles del proyecto\n\n**CONSULTA CON DATOS COMPLETOS SIN PROYECTO ACTIVO:**\nSi datos_completos es true Y proyecto activo es \"Ninguno\":\n→ Guarda la consulta en `consulta_pendiente.guardar`\n→ Pregunta cuál proyecto le interesa\n→ accion.tipo: \"aclarar\"\n→ NO llames ninguna tool\n\n**USUARIO ELIGE PROYECTO:**\nMapea el nombre al código:\n- Vista Verde / Verde / PVV / Parque Vista Verde - Zona 15 → PVV\n- Mariscal / zona 11 / PMAR / Parque Mariscal - Zona 11 → PMAR\n- Portales / zona 17 / PPO / Parque Portales - Zona 17 → PPO\n- Polanco / zona 10 / PPOL / Polanco Parque Boutique / Polanco Parque Boutique - Zona 10 → PPOL\n- Sotobosque / Parque Sotobosque / PSB / Sotobosque Parque Boutique / Sotobosque Parque Boutique - Zona 15, Vista Hermosa II → PSB\n\nUna vez identificado:\n- Registra en `estado_proyecto.proyecto` con el código.\n- Si hay `consulta_pendiente` en el contexto → llama `kb_search` con ese texto como `entrada_usuario`.\n  → accion.tipo: \"consultar_proyecto\"\n  → consulta_pendiente.limpiar: true\n- Si no hay consulta pendiente → confirma amablemente y pregunta en qué puedes ayudar.\n  → accion.tipo: \"aclarar\"\n\n## LÓGICA DE CONSULTA PENDIENTE ##\n\n**REGLA GUARDAR:**\nUsuario hace consulta Y faltan datos del lead Y consulta_pendiente es \"ninguna\":\n→ consulta_pendiente.guardar = mensaje original del usuario\n→ consulta_pendiente.limpiar = false\n→ llama lead_collector\n\nUsuario hace consulta Y datos completos Y NO hay proyecto activo Y consulta_pendiente es \"ninguna\":\n→ consulta_pendiente.guardar = mensaje original del usuario\n→ consulta_pendiente.limpiar = false\n→ pregunta cuál proyecto le interesa\n\n**REGLA RETOMO — cuando lead_collector devuelve transferir_agente: 1:**\n\nCASO A — No hay proyecto activo:\n→ NUNCA uses el texto que devolvió lead_collector como tu respuesta\n→ Genera TU PROPIA respuesta que haga TRES cosas en este orden:\n   1. Agradece brevemente usando el nombre del lead\n   2. Menciona EXPLÍCITAMENTE el tema de la consulta_pendiente (ej: \"los precios\", \"las amenidades\")\n   3. Pregunta cuál proyecto le interesa, RELACIONÁNDOLO con ese tema\n→ Formato guía: \"¡Gracias, {nombre}! Con gusto te informo sobre [tema de consulta_pendiente]. ¿De cuál de nuestros\n  proyectos te gustaría saber?\"\n  → EXCEPCIÓN: Si la consulta_pendiente menciona \"zona 15\" sin nombre de proyecto específico:\n     Pregunta: \"¡Gracias, {nombre}! En la zona 15 tenemos dos proyectos: Parque Vista Verde y Sotobosque Parque\n  Boutique. ¿Cuál te interesa?\"\n→ accion.tipo: \"aclarar\"\n→ consulta_pendiente.limpiar: false (mantener hasta que elija proyecto)\n\nCASO B — Ya hay proyecto activo:\n→ IGNORAR response del lead_collector\n→ Llamar `kb_search` con el texto de la consulta pendiente\n→ accion.tipo: \"consultar_proyecto\"\n→ consulta_pendiente.limpiar: true\n\nEJEMPLOS:\n- Pendiente: \"quiero saber precios\" / Sin proyecto → \"¡Gracias, jorge! Para los precios, ¿cuál proyecto te interesa?\"\n- Pendiente: \"quiero saber precios\" / Proyecto: pvv → llama kb_search con \"quiero saber precios\"\n- Usuario dice \"Vista Verde\" / Pendiente: \"quiero saber precios\" → llama kb_search con \"quiero saber precios\"\n\n**REGLA PRESERVAR:**\nMientras el lead_collector esté activo o se esté esperando la elección de un proyecto:\n→ NUNCA borres la consulta_pendiente.\n→ consulta_pendiente.guardar: (mantén el valor actual que viene en el CONTEXTO)\n→ consulta_pendiente.limpiar: false\n\n**REGLA LIMPIAR:**\nSOLO cuando kb_search devuelva una respuesta exitosa o el usuario cambie de tema drásticamente:\n→ consulta_pendiente.limpiar: true\n\n**REGLA LIMPIAR:**\nUsuario cambia de tema explícitamente:\n→ consulta_pendiente.limpiar: true\n→ consulta_pendiente.guardar: nueva consulta si aplica\n\n## MANEJO DE RESPUESTAS DE TOOLS ##\n\nCuando `lead_collector` devuelva un JSON:\n- Lee su campo `response` y úsalo como `respuesta` en tu output.\n- Sus campos `nombre`, `primer_nombre`, `apellidos`, `correo`, `telefono` los reflejas en `estado_lead`.\n- Si devolvió `transferir_agente: 1` → datos completos → aplica REGLA RETOMO.\n- NUNCA pases el JSON crudo al usuario.\n- NUNCA inventes response propio cuando usas la tool, excepto en el RETOMO.\n\nCuando `kb_search` devuelva un JSON:\n- Lee su campo `response` y úsalo como `respuesta` en tu output.\n- Si devolvió `escalate: true` → pon `transferir: 1`.\n- NUNCA pases el JSON crudo al usuario.\n- NUNCA inventes información del proyecto que no venga de kb_search.\n\n## REGLAS DE ESTILO ##\n- Respuestas cortas y naturales.\n- Una sola frase conversacional por turno cuando sea posible.\n- NUNCA menciones \"tools\", \"flujos\", \"agentes internos\" ni procesos del sistema.\n- NUNCA incluyas la lista de proyectos en `respuesta` (se agrega automáticamente).\n- Tono cercano pero profesional.\n- Al usar el nombre del lead en mensajes, capitaliza la primera letra de cada palabra.\n- Cuando menciones proyectos por nombre en tu respuesta, usa el formato completo: \"Parque Vista Verde - Zona 15\",\n  \"Parque Mariscal - Zona 11\", \"Parque Portales - Zona 17\", \"Polanco Parque Boutique - Zona 10\", \"Sotobosque Parque\n  Boutique - Zona 15\".\n\n## MAPEO DE PROYECTOS ##\n- \"Vista Verde\", \"Verde\", \"PVV\", \"Parque Vista Verde - Zona 15\" → código: PVV\n- \"Mariscal\", \"zona 11\", \"PMAR\", \"Parque Mariscal - Zona 11\" → código: PMAR\n- \"Portales\", \"zona 17\", \"PPO\", \"Parque Portales - Zona 17\" → código: PPO\n- \"Polanco\", \"zona 10\", \"PPOL\", \"Polanco Parque Boutique\", \"Polanco Parque Boutique - Zona 10\" → código: PPOL\n- \"Sotobosque\", \"Parque Sotobosque\", \"PSB\", \"Sotobosque Parque Boutique\", \"Sotobosque Parque Boutique - Zona 15, Vista Hermosa II\" → código: PSB\n\n## REGLAS DE AMBIGÜEDAD POR ZONA ##\n- Cuando el usuario mencione SOLO una zona (ej: \"zona 15\", \"la de zona 15\") y existan múltiples proyectos en esa zona:\n  1. NO asumas ningún proyecto\n  2. Usa `accion.tipo: \"aclarar\"`\n  3. Pregunta: \"En la zona 15 tenemos dos proyectos: Parque Vista Verde y Sotobosque Parque Boutique. ¿Cuál te interesa?\"\n  4. `estado_proyecto.proyecto` debe quedar en `null` hasta que el usuario aclare\n- Zonas con ambigüedad conocida:\n  - Zona 15: PVV (Vista Verde) y PSB (Sotobosque)\n\n## FORMATO DE SALIDA OBLIGATORIO ##\nResponde ÚNICAMENTE con este JSON, sin bloques de código, sin texto fuera:\n\n{\n  \"respuesta\": \"<texto al usuario>\",\n  \"estado_lead\": {\n    \"nombre\": \"<string|null>\",\n    \"primer_nombre\": \"<string|null>\",\n    \"apellidos\": \"<string|null>\",\n    \"correo\": \"<string|null>\",\n    \"telefono\": \"<string|null>\",\n    \"datos_completos\": <true|false>\n  },\n  \"estado_proyecto\": {\n    \"proyecto\": \"<PVV|PMAR|PPO|PPOL|PSB|null>\",\n    \"transferir\": <0|1>\n  },\n  \"accion\": {\n    \"tipo\": \"<saludar|recolectar_lead|consultar_proyecto|escalar|aclarar|esperar>\",\n    \"razon\": \"<explicación corta>\"\n  },\n  \"metadatos\": {\n    \"intencion\": \"<saludo|consulta|seleccion_proyecto|dato_personal|confirmacion|rechazo|ambiguo>\",\n    \"idioma\": \"<espanol|ingles|...>\",\n    \"confianza\": \"<alta|media|baja>\"\n  },\n  \"depuracion\": {\n    \"herramientas_usadas\": [<lista de tools llamadas>],\n    \"ruta_decision\": \"<breadcrumb corto de razonamiento>\",\n    \"advertencias\": [<lista de observaciones no críticas>]\n  },\n  \"consulta_pendiente\": {\n    \"guardar\": \"<texto|null>\",\n    \"limpiar\": <true|false>,\n    \"retomar\": \"<texto|null>\"\n  }\n}\n\n## REGLAS ESTRICTAS ##\n- `estado_lead.datos_completos` es true SOLO si nombre, correo Y telefono tienen valor real.\n- NUNCA menciones proactivamente la disponibilidad de material visual (brochures, renders, planos, videos, presentaciones). Solo habla de material visual si el usuario lo pide explícitamente. Si lo pide, SIEMPRE confirma que existe y que un asesor puede enviárselo.\n- `estado_proyecto.proyecto` SIEMPRE debe reflejar el proyecto activo. Si en el CONTEXTO DEL LEAD el campo \"Proyecto activo\" tiene valor (ej: PSB, PVV, PMAR, PPO, PPOL), cópialo OBLIGATORIAMENTE en `estado_proyecto.proyecto`. NUNCA lo pongas en null si ya hay un proyecto activo en sesión.\n- `estado_proyecto.transferir` es 1 SOLO cuando kb_search devuelve escalate: true.\n- Si llamaste a `lead_collector`, `herramientas_usadas` DEBE incluir \"lead_collector\".\n- Si llamaste a `kb_search`, `herramientas_usadas` DEBE incluir \"kb_search\".\n- Si NO llamaste ninguna tool, `herramientas_usadas` es array vacío [].\n- `ruta_decision` corta, formato \"A → B → C\".\n- Si llamaste a `rsvp`, `herramientas_usadas` DEBE incluir \"rsvp\".\n- Si llamaste a `send_media`, `herramientas_usadas` DEBE incluir \"send_media\".\n\n## GUARDRAIL ##\nSi el usuario solicita algo completamente ajeno al sector inmobiliario (código, recetas, medicina, deportes, política, entretenimiento), JAMÁS respondas sobre ese tema. Redirige con: \"Estoy especializada en proyectos de vivienda de Spectrum. ¿Te puedo ayudar con información sobre alguno de nuestros proyectos?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -30624,
        2672
      ],
      "id": "a88cfaad-3801-439c-9aec-2a79d5701768",
      "name": "PRINCIPAL"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario no haya proporcionado \nnombre, correo electrónico y teléfono todavía. \nEsta tool recolecta los datos de contacto del lead \nde forma conversacional y devuelve la respuesta \nque debe enviarse al usuario.",
        "workflowId": {
          "__rl": true,
          "value": "SHPFhvoal7k1Rqf9",
          "mode": "list",
          "cachedResultUrl": "/workflow/SHPFhvoal7k1Rqf9",
          "cachedResultName": "LEAD COLLECTOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "manychat_id": "={{ $('User Data').first().json.manychat_id }}",
            "canal": "={{ $('User Data').first().json.input_channel }}",
            "tel_sistema": "={{ $('PARSE BODY').first().json.current_body.whatsapp_phone || 'No tiene' }}",
            "nombre": "={{ $('User Data').first().json.nombre || '' }}",
            "primer_nombre": "={{ $('User Data').first().json.primer_nombre || '' }}",
            "apellidos": "={{ $('User Data').first().json.apellidos || '' }}",
            "correo": "={{ $('User Data').first().json.correo || '' }}",
            "telefono": "={{ $('User Data').first().json.telefono || '' }}",
            "proyecto": "={{ $('CONTEXT 1').first().json.proyecto || $('User Data').first().json.proyecto || ($('CONTEXT 1').first().json.canal !== 'whatsapp' ? $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.proyecto_detectado : '') }}",
            "mongo_id": "={{ $json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
            "page_id": "={{ $('PARSE BODY').first().json.current_body.page_id }}",
            "atribucion_tag": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_tag }}",
            "atribucion_medio": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_medio }}",
            "atribucion_contacto": "={{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.atribucion_contacto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "page_id",
              "displayName": "page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mongo_id",
              "displayName": "mongo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tel_sistema",
              "displayName": "tel_sistema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "primer_nombre",
              "displayName": "primer_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apellidos",
              "displayName": "apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "atribucion_tag",
              "displayName": "atribucion_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "atribucion_medio",
              "displayName": "atribucion_medio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "atribucion_contacto",
              "displayName": "atribucion_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -30608,
        2896
      ],
      "id": "509952c3-c39e-47a6-a75f-24ae2203aadc",
      "name": "lead_collector"
    },
    {
      "parameters": {
        "jsCode": "function prepareForHttp(text) {\n  if (text === null || text === undefined) return \"\";\n  return String(text)\n    .replace(/\\\\/g, \"\\\\\\\\\")\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\r\\n/g, \"\\\\n\")\n    .replace(/\\n/g, \"\\\\n\")\n    .replace(/\\t/g, \"\\\\t\")\n    .replace(/\\*\\*/g, \"*\")\n    .trim();\n}\n\nconst proyectos = $('PROJECT LIST').first().json.proyectos || {};\nconst nombresProyectos = Object.values(proyectos).map(p => p.split('->')[0].trim());\nconst LISTA = \"\\\\n\\\\n• \" + nombresProyectos.join(\"\\\\n• \");\n\nconst raw = $input.first().json.output || \"\";\nconst cleanRaw = raw.replace(/```(?:json)?\\n?/g, '').trim();\nconst match = cleanRaw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ \n    json: { \n      respuesta: \"Lo siento, tuve un problema procesando esa respuesta. ¿Puedes repetirlo?\",\n      accion_tipo: \"error\",\n      error: \"no_json\",\n      raw_output: raw\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n\n  const respuesta = String(parsed.respuesta || \"\");\n  const accionTipo = parsed.accion?.tipo || \"esperar\";\n  const transferir = parsed.estado_proyecto?.transferir ?? 0;\n  const proyecto = parsed.estado_proyecto?.proyecto || null;\n  \n  // Agrega lista solo cuando pide elegir proyecto y no hay proyecto aún\n  const agregarLista = accionTipo === \"aclarar\" && (!proyecto || respuesta.includes(\"proyectos disponibles actualmente\"));\n\n  const respuestaFinal = agregarLista \n    ? prepareForHttp(respuesta) + LISTA\n    : prepareForHttp(respuesta);\n\n  return [{\n    json: {\n      respuesta: respuestaFinal,\n      accion_tipo: accionTipo,\n      accion_razon: parsed.accion?.razon || \"\",\n      proyecto: proyecto,\n      transferir: transferir,\n      lead_nombre: parsed.estado_lead?.nombre || null,\n      lead_primer_nombre: parsed.estado_lead?.primer_nombre || null,\n      lead_apellidos: parsed.estado_lead?.apellidos || null,\n      lead_correo: parsed.estado_lead?.correo || null,\n      lead_telefono: parsed.estado_lead?.telefono || null,\n      datos_completos: parsed.estado_lead?.datos_completos ?? false,\n      intencion: parsed.metadatos?.intencion || null,\n      idioma: parsed.metadatos?.idioma || null,\n      confianza: parsed.metadatos?.confianza || null,\n      herramientas_usadas: parsed.depuracion?.herramientas_usadas || [],\n      ruta_decision: parsed.depuracion?.ruta_decision || \"\",\n      advertencias: parsed.depuracion?.advertencias || [],\n      raw: parsed,\n      consulta_pendiente_guardar: parsed.consulta_pendiente?.guardar || null,\n      consulta_pendiente_limpiar: parsed.consulta_pendiente?.limpiar || false,\n      consulta_pendiente_retomar: parsed.consulta_pendiente?.retomar || null,\n    }\n  }];\n\n} catch(e) {\n  return [{ \n    json: { \n      respuesta: \"Lo siento, tuve un problema procesando esa respuesta. ¿Puedes repetirlo?\",\n      accion_tipo: \"error\",\n      error: \"parse_failed\",\n      error_message: e.message,\n      raw_output: raw\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30016,
        2672
      ],
      "id": "f777577b-8596-4595-8ccd-f6408faa6948",
      "name": "Parse response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d6214cb-1acb-4f7e-b57e-73e911ebcaa5",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -29568,
        2352
      ],
      "id": "60b92f4e-28d9-4aed-b330-bd6b80ff5b08",
      "name": "If TIENE DATOS NUEVOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f9974b3-e66f-4160-ab03-0c53c1d05e2c",
              "name": "_id",
              "value": "={{ $('User Data').first().json._id.toString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "1dfe570b-1cba-466b-a975-63089a0d43e1",
              "name": "last_update",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e05f001b-588a-437f-9800-1ff66d7fac7e",
              "name": "nombre",
              "value": "={{ $('Parse response').first().json.lead_nombre || undefined }}",
              "type": "string"
            },
            {
              "id": "primer_nombre-prepare-001",
              "name": "primer_nombre",
              "value": "={{ $('Parse response').first().json.lead_primer_nombre || undefined }}",
              "type": "string"
            },
            {
              "id": "apellidos-prepare-001",
              "name": "apellidos",
              "value": "={{ $('Parse response').first().json.lead_apellidos || undefined }}",
              "type": "string"
            },
            {
              "id": "18ea17f9-e5f6-4a93-8621-d51912e4f73a",
              "name": "correo",
              "value": "={{ $('Parse response').first().json.lead_correo || undefined }}",
              "type": "string"
            },
            {
              "id": "69fc0996-54d0-435d-9246-fa4146a900b2",
              "name": "telefono",
              "value": "={{ $('Parse response').first().json.lead_telefono || undefined }}",
              "type": "string"
            },
            {
              "id": "0be37564-e330-4d62-8e4a-a99671f75ebf",
              "name": "datos_completos",
              "value": "={{ $('Parse response').first().json.datos_completos ? true : undefined }}",
              "type": "boolean"
            },
            {
              "id": "73b2ce9f-c7db-4bce-9975-21aef53dd1b3",
              "name": "datos_completos_timestamp",
              "value": "={{ $('Parse response').first().json.datos_completos ? $now.toISO() : undefined }}",
              "type": "string"
            },
            {
              "id": "5ddbbdb6-dd3b-4f7a-b5d3-554129d42155",
              "name": "consulta_pendiente",
              "value": "={{ \n  $('Parse response').item.json.consulta_pendiente_limpiar ? \"\" : \n  ($('Parse response').item.json.consulta_pendiente_guardar || $('User Data').first().json.consulta_pendiente || undefined) \n}}",
              "type": "string"
            },
            {
              "id": "9e9581f8-4fd4-4faa-9093-946783b656e9",
              "name": "proyecto",
              "value": "={{\n    $('Parse response').first().json.proyecto ||\n    $('CONTEXT 1').first().json.proyecto ||\n    $('User Data').first().json.proyecto ||\n    undefined\n  }}",
              "type": "string"
            },
            {
              "id": "2e50d498-8d70-4619-a619-d3d242e79de9",
              "name": "conversation_analysis",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -29344,
        2256
      ],
      "id": "773ab3c5-c88a-4019-8ca6-3547378251a8",
      "name": "Prepare Update"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "550ae3c0-99c3-43fa-8627-e08c78c455eb",
              "name": "value",
              "value": "={{ \n  ($json.lead_nombre !== null && $json.lead_nombre !== '') ||\n  ($json.lead_primer_nombre !== null && $json.lead_primer_nombre !== '') ||\n  ($json.lead_apellidos !== null && $json.lead_apellidos !== '') ||\n  ($json.lead_correo !== null && $json.lead_correo !== '') ||\n  ($json.lead_telefono !== null && $json.lead_telefono !== '') ||\n  ($json.proyecto !== null && $json.proyecto !== '') ||\n  $json.consulta_pendiente_guardar !== null ||\n  $json.consulta_pendiente_limpiar === true\n}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -29792,
        2352
      ],
      "id": "3c08baec-61fb-40d9-9ac6-735904dc13d7",
      "name": "Hay Cambios?"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id' && $json[k] !== null && $json[k] !== undefined).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -29120,
        2256
      ],
      "id": "dae2c44f-6fbb-48d0-bac7-4319fe345be0",
      "name": "Update User Lead",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -28672,
        2544
      ],
      "id": "c92845cd-a5e7-41ab-b706-5a2be37dd81c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario haga una pregunta o consulta \nsobre un proyecto inmobiliario y los datos del lead ya están completos. \nBusca en la knowledge base y devuelve una respuesta conversacional.\n\nParámetros que debes pasar:\n- entrada_usuario: la pregunta exacta del usuario o la consulta pendiente a retomar\n- proyecto: el código del proyecto activo o el que el usuario acaba de elegir proyecto: el código del proyecto activo o el que el usuario acaba de elegir (PVV, PMAR, PPO, PPOL o PSB).\n- manychat_id: el ID del usuario",
        "workflowId": {
          "__rl": true,
          "value": "D3LKuNi6CmMIdvzg",
          "mode": "list",
          "cachedResultUrl": "/workflow/D3LKuNi6CmMIdvzg",
          "cachedResultName": "KB SEARCH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').first().json.proyecto }}",
            "entrada_usuario": "={{ $fromAI('entrada_usuario', ``, 'string') }}",
            "manychat_id": "={{ $('User Data').first().json.manychat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "entrada_usuario",
              "displayName": "entrada_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -30480,
        2896
      ],
      "id": "f5b75f36-080d-428b-bafe-f6fd2d4d526a",
      "name": "kb_search"
    },
    {
      "parameters": {
        "description": "=Función: Iniciar, recopilar o completar el agendamiento de una cita presencial o llamada. Úsala de inmediato si el cliente pide visitar una sala de ventas o agendar una cita/llamada. O si, luego de que tú ofrecieras una cita, el usuario responde afirmativamente (\"sí me parece\", \"dale\"). \nParámetro principal requerido que debes generar: proyecto (Código del proyecto PVV, PMAR, PPO, PPOL o PSB).",
        "workflowId": {
          "__rl": true,
          "value": "TjFPzHs5aimxILH7",
          "mode": "list",
          "cachedResultUrl": "/workflow/TjFPzHs5aimxILH7",
          "cachedResultName": "RSVP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "manychat_id": "={{ $('User Data').first().json.manychat_id }}",
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').first().json.proyecto }}",
            "nombre": "={{ $('User Data').first().json.nombre || '' }}",
            "correo": "={{ $('User Data').first().json.correo || '' }}",
            "telefono": "={{ $('User Data').first().json.telefono || '' }}",
            "entrada_usuario": "={{ $('CONTEXT 1').first().json.entrada_usuario }}",
            "lista_proyectos": "={{ $('PROJECT LIST').first().json.proyectos }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "entrada_usuario",
              "displayName": "entrada_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lista_proyectos",
              "displayName": "lista_proyectos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -30352,
        2896
      ],
      "id": "c45be782-769d-4008-9a8a-456604dc2809",
      "name": "rsvp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3844950b-1b47-4238-a3d7-70fd891a129f",
              "leftValue": "={{ $json.transferir }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -29792,
        2544
      ],
      "id": "f8ee0e44-aa31-4883-97ec-c92140f7f02b",
      "name": "Filter IF TRANSFER"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "analytics_logs",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -27776,
        2352
      ],
      "id": "374a8ab3-e211-4c5e-95ed-97ffd62abc09",
      "name": "Insert Analytics",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a394660-4198-4314-8ab0-0cf36fa10917",
              "name": "sessionId",
              "value": "={{ $('PARSE BODY').first().json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "a382a941-bfab-41dd-9f6c-c2a538fef814",
              "name": "response_time_sec",
              "value": "={{ parseFloat((($now.toMillis() - $('Create Body').first().json.start_time) / 1000).toFixed(2)) }}",
              "type": "number"
            },
            {
              "id": "c0422b35-2086-47a0-886a-e56cba84ab28",
              "name": "proyecto",
              "value": "={{ $('User Data').first().json.proyecto || 'No Identificado' }}",
              "type": "string"
            },
            {
              "id": "c2732a35-9768-41d0-86ef-ab5cedde1467",
              "name": "canal",
              "value": "={{ $('User Data').first().json.input_channel }}",
              "type": "string"
            },
            {
              "id": "463cfe71-1fa9-462f-b245-7ef75b47929d",
              "name": "accion_orquestador",
              "value": "={{ $('Parse response').first().json.accion_tipo || 'Desconocida' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -28000,
        2352
      ],
      "id": "114a94d3-8b87-42da-b094-87da1b435e25",
      "name": "Calculate Respond Time"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "nuevo_lead",
            "datos": "={{ \n  {\n    \"proyecto\": $('Parse response').first().json.proyecto || $('User Data').first().json.proyecto || 'Sin definir',\n    \"nombre_lead\": $('Parse response').first().json.lead_nombre || $('Prepare Update').first().json.nombre || $('User Data').first().json.nombre || 'No registrado',\n    \"telefono_lead\": $('Parse response').first().json.lead_telefono || $('Prepare Update').first().json.telefono || $('User Data').first().json.telefono || 'No registrado',\n    \"correo_lead\": $('Parse response').first().json.lead_correo || $('Prepare Update').first().json.correo || $('User Data').first().json.correo || 'No registrado',\n    \"canal\": $('User Data').first().json.input_channel\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -28672,
        2160
      ],
      "id": "ab8fa8d3-e1ec-4749-b8af-59832a121e3b",
      "name": "'Notifications Master' Nuevos Leads"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "escalacion",
            "datos": "={{ \n  {\n    \"proyecto\": $('Parse response').first().json.proyecto || $('User Data').first().json.proyecto || 'Parque Vista Verde',\n    \"nombre_lead\": $('Parse response').first().json.lead_nombre || $('Prepare Update').first().json.nombre || $('User Data').first().json.nombre || 'No registrado',\n    \"telefono_lead\": $('Parse response').first().json.lead_telefono || $('Prepare Update').first().json.telefono || $('User Data').first().json.telefono || 'No registrado',\n    \"correo_lead\": $('Parse response').first().json.lead_correo || $('Prepare Update').first().json.correo || $('User Data').first().json.correo || 'No registrado',\n    \"canal\": $('User Data').first().json.input_channel,\n    \"ultima_consulta\": $('CONTEXT 1').first().json.entrada_usuario\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -29568,
        2544
      ],
      "id": "0c1620f0-232b-4a62-a2d2-d70a5eacf646",
      "name": "'Notifications Master' Escalation"
    },
    {
      "parameters": {
        "description": "=Usa esta tool cuando el usuario pida explícitamente contenido multimedia \ncomo fotos, imágenes, planos, renders, brochure o amenidades del proyecto.\nParámetros requeridos:\n- tipo_media: la palabra clave de lo que pide (brochure, amenidades, renders, planos)\n- proyecto: el código del proyecto (pvv, pm, pp)\n- canal: el canal por donde escribe el usuario\n- manychat_id: ID del usuario",
        "workflowId": {
          "__rl": true,
          "value": "NtTiyrNy2LHimE7u",
          "mode": "list",
          "cachedResultUrl": "/workflow/NtTiyrNy2LHimE7u",
          "cachedResultName": "SEND MEDIA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_media": "={{ $fromAI('tipo_media', '', 'string') }}",
            "proyecto": "={{ $fromAI('proyecto', '', 'string') || $('User Data').first().json.proyecto }}",
            "canal": "={{ $('User Data').first().json.input_channel }}",
            "manychat_id": "={{ $('User Data').first().json.manychat_id }}",
            "manychat_api": "={{ $('Get Account Credentials').first().json.api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_media",
              "displayName": "tipo_media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "proyecto",
              "displayName": "proyecto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "manychat_id",
              "displayName": "manychat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "manychat_api",
              "displayName": "manychat_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -30224,
        2896
      ],
      "id": "1bc3affc-9c2a-491d-8fd5-8057b28b0d13",
      "name": "send_media"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -28672,
        2352
      ],
      "id": "768e80d5-b8f9-4a74-8838-83290aef9910",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df577d5c-ddf9-44ef-9848-ef135119e484",
              "leftValue": "={{ $('Parse response').first().json.proyecto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "49398426-9115-47fb-b997-e06d080b1c2b",
              "leftValue": "={{ $('User Data').first().json.proyecto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "7ba534dd-50cb-4bdb-9999-0c3507dfca76",
              "leftValue": "={{ $('Parse response').first().json.datos_completos || $('User Data').first().json.datos_completos }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -28896,
        2256
      ],
      "id": "0688f417-e1b7-4845-a204-29b4d502f05b",
      "name": "IF NUEVO LEAD"
    },
    {
      "parameters": {
        "collection": "users_fase_2",
        "options": {},
        "query": "={\"phone\":\"{{ $('PARSE BODY').first().json.current_body.whatsapp_phone }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -33536,
        2624
      ],
      "id": "8f11ce6e-2c11-4d02-b31e-10825e32b79e",
      "name": "Find user by Phone",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca0080ac-2510-4cf9-9468-d7773669c512",
              "leftValue": "={{ $('PARSE BODY').first().json.current_body.custom_fields.canal_ingreso.toLowerCase() }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -33760,
        2544
      ],
      "id": "2efda89e-7d62-44fc-9ab0-0da59a168778",
      "name": "If NOT WHATSAPP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f619fe49-00c0-477a-9d5b-776fc503e4d0",
              "leftValue": "={{ $('Find user by Phone').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -33312,
        2624
      ],
      "id": "e05dae68-df1f-46fb-a585-9c299a9b02d5",
      "name": "If NOT EXIST"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n{\n  \"manychat_id\": $('PARSE BODY').first().json.current_body.id,\n  \"nombre\": $json.name,\n  \"correo\": $json.email,\n  \"telefono\": $json.phone,\n  \"proyecto\": $('CONTEXT 1').first().json.proyecto,\n  \"last_user_input\": $('CONTEXT 1').first().json.entrada_usuario,\n  \"language\": $('CONTEXT 1').first().json.lenguaje,\n  \"asesoria\": $('CONTEXT 1').first().json.asesoria,\n  \"input_channel\": $('CONTEXT 1').first().json.canal,\n  \"timestamp\": $('PARSE BODY').first().json.timestamp,\n  \"consulta_pendiente\": null,\n  \"first_interaction\": $json.first_interaction.toDateTime().toISO(),\n  \"last_interaction\": $now.toISO(),\n  \"last_message\": $('CONTEXT 1').first().json.entrada_usuario,\n  \"has_reservation\": false,\n  \"datos_completos\": true,\n  \"datos_completos_timestamp\": $json.first_interaction.toDateTime().toISO(),\n  \"fase_2\": true,\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -33088,
        2688
      ],
      "id": "9b13d4f9-573e-4a36-ab2a-b81618999c1f",
      "name": "DATA to CREATE FASE 2"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -32864,
        2688
      ],
      "id": "c7abd74d-a39e-4614-a3f7-a483b64fab56",
      "name": "Insert User Fase 2",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d90a4768-5969-4cb1-b612-40627b026990",
              "name": "user_id",
              "value": "={{ $('If NOT EXIST').first().json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32432,
        2688
      ],
      "id": "1eb337bb-030b-4223-a5ed-954d35d428e5",
      "name": "ID - Lead en Fase 2 "
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturar texto base y canal\nconst body = $('PARSE BODY').first().json.current_body;\nconst canal_ingreso = body.custom_fields?.canal_ingreso || \"WhatsApp\";\nlet message_text = body.last_input_text || \"\";\nconst message_lower = message_text.toLowerCase();\n\n// 2. Determinar Código CRM Base (UTM Source numérico)\nlet utm_base = \"100000004\"; // Default WhatsApp\nif (canal_ingreso.includes(\"Instagram\")) utm_base = \"100000012\";\nelse if (canal_ingreso.includes(\"Messenger\")) utm_base = \"100000005\";\n\n// 3. Mapeo de Atribución basado en \"Prefilled Text\" (Tu tabla)\nlet defaultTag = \"Web\";\nlet defaultMedio = \"Página web\";\nif (canal_ingreso.includes(\"Instagram\") || canal_ingreso.includes(\"Messenger\")) {\n  defaultTag = \"Social Media\";\n  defaultMedio = \"Redes sociales Orgánico\";\n}\n\nlet atribucion = {\n  tag: defaultTag,\n  medio: defaultMedio,\n  contacto: \"Chatbot\"\n};\n\n// Detección por frases exactas\nif (message_lower.includes(\"en un anuncio\")) {\n  atribucion = { tag: \"City Core\", medio: \"Comunicación en City Cores\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"redes sociales\")) {\n  atribucion = { tag: \"Social Media\", medio: \"Redes sociales Orgánico\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"fan page\")) {\n  atribucion = { tag: \"Fan Page\", medio: \"Encabezado de fan page\", contacto: \"Chatbot/Página web\" };\n} else if (message_lower.includes(\"por email\")) {\n  atribucion = { tag: \"Mail\", medio: \"Mailings\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"en el banco\")) {\n  atribucion = { tag: \"Banco\", medio: \"Bancos\", contacto: \"Chatbot\" };\n} else if (message_lower.includes(\"quiero información\") || message_lower.includes(\"info de\")) {\n  atribucion = { tag: \"Web\", medio: \"Página web\", contacto: \"Chatbot\" };\n}\n\n// 4. Detección de Proyectos (Mantenemos la lógica actual)\nlet proyecto = null;\nif (message_lower.includes(\"vista verde\") || message_lower.includes(\"pvv\")) proyecto = \"PVV\";\nelse if (message_lower.includes(\"mariscal\") || message_lower.includes(\"pmar\")) proyecto = \"PMAR\";\nelse if (message_lower.includes(\"portales\") || message_lower.includes(\"ppo\")) proyecto = \"PPO\";\nelse if (message_lower.includes(\"polanco\") || message_lower.includes(\"ppol\")) proyecto = \"PPOL\";\nelse if (message_lower.includes(\"soto bosque\") || message_lower.includes(\"sotobosque\") ||\n  message_lower.includes(\"psb\")) proyecto = \"PSB\";\n\nreturn [{\n    json: {\n        ...$input.first().json,\n        extracted_campaign_data: {\n            proyecto_detectado: proyecto,\n            utm_source_crm: utm_base,\n            // Nuevos campos detallados\n            atribucion_tag: atribucion.tag,\n            atribucion_medio: atribucion.medio,\n            atribucion_contacto: atribucion.contacto\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -38944,
        2448
      ],
      "id": "8fb2b934-2bc5-4dc0-9909-78d7bb7f3d0d",
      "name": "Extraer CAMPAIGN DATA"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "users_fase_2",
        "query": "={\"user_id\": \"{{ $json.user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -32208,
        2688
      ],
      "id": "c0080175-6250-4b7f-8a23-65210b1a8937",
      "name": "Delete Lead FASE 2",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "manychat_settings",
        "options": {},
        "query": "={ \"page_id\": \"{{ $json.current_body.page_id }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -39168,
        2448
      ],
      "id": "3135f219-24c0-44d5-b384-46e7a6c71c5f",
      "name": "Get Account Credentials",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').first().json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('PARSE BODY').first().json.current_body.id }}\",\n  \"field_name\": \"proyecto_interes\",\n  \"field_value\": \"{{ $json.proyecto }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -29568,
        2736
      ],
      "id": "f4731a5e-8d04-4aa7-829b-3087aa3790ec",
      "name": "UPDATE - Proyecto Interes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43c8a26b-80ae-4bbc-9c96-c87e721c9c61",
              "leftValue": "={{ $json.proyecto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -29792,
        2736
      ],
      "id": "2007c868-901c-4cb5-8de7-4b0247817112",
      "name": "Filtrar Proyecto Existente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').first().json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('PARSE BODY').first().json.current_body.id }}\",\n  \"field_name\": \"proyecto_utm_source\", \n  \"field_value\": \"{{ $('Extraer CAMPAIGN DATA').first().json.extracted_campaign_data.utm_source_crm }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -29792,
        2928
      ],
      "id": "7812414c-a25c-44f5-8fd4-843f84af3ccc",
      "name": "UPDATE - UTM Source"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9c1d2e3-f4a5-6789-bcde-f01234567891",
              "leftValue": "={{ $('Lenguaje & Asesoria').first().json.output.interes_precios }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -27552,
        2352
      ],
      "id": "ef48b78e-4414-4e6e-a1d3-b1f7d8305a6c",
      "name": "IF INTERES PRECIOS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "interes_precios",
            "datos": "={{ \n  {\n    \"proyecto\": $('Parse response').first().json.proyecto || $('User Data').first().json.proyecto || 'No identificado',\n    \"nombre_lead\": $('Parse response').first().json.lead_nombre || $('Prepare Update').first().json.nombre || $('User Data').first().json.nombre || 'No registrado',\n    \"telefono_lead\": $('Parse response').first().json.lead_telefono || $('Prepare Update').first().json.telefono || $('User Data').first().json.telefono || 'No registrado',\n    \"correo_lead\": $('Parse response').first().json.lead_correo || $('Prepare Update').first().json.correo || $('User Data').first().json.correo || 'No registrado',\n    \"ultima_consulta\": $('CONTEXT 1').first().json.entrada_usuario\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -27328,
        2352
      ],
      "id": "0107c500-6dcd-4419-946e-e628d530eee9",
      "name": "'Notifications Master' Interés Precios"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e9e55a0-8758-4cd3-bf5b-d1d25f77a2e3",
              "leftValue": "={{ $('Lenguaje & Asesoria').first().json.output.es_fuera_de_contexto }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -30784,
        2160
      ],
      "id": "98630ccc-09c1-47bd-9789-7d4c28c2984a",
      "name": "IF FUERA DE CONTEXTO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29d0cc6d-7efd-41bd-b9cc-26cc8c1c5809",
              "name": "type",
              "value": "={{ $('CONTEXT 1').first().json.canal.includes('instagram') ? 'instagram' : $('CONTEXT 1').first().json.canal.includes('messenger') ? 'messenger' : 'whatsapp' }}",
              "type": "string"
            },
            {
              "id": "e6bb1e67-6c59-410d-a7e1-a4c4673a9af4",
              "name": "respuesta",
              "value": "=Lo siento, ese tema está fuera de mis capacidades. Soy una asistente virtual y exclusiva de SPECTRUM VIVIENDA, y mi única función es ayudarte con información sobre nuestros proyectos de vivienda. ¿Te puedo orientar sobre alguno de ellos?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -30480,
        2128
      ],
      "id": "b48e2106-ee8f-49da-ac67-35535557fb7a",
      "name": "OFF TOPIC - Respuesta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Account Credentials').first().json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('User Data').first().json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $json.type.trim() }}\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.respuesta }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30208,
        2128
      ],
      "id": "5c382dfd-1ac8-4249-961b-9c14ec9caa6e",
      "name": "OFF TOPIC - Respond",
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-5.4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -30864,
        2896
      ],
      "id": "d9334038-054b-4f3b-a834-57a78b769213",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fl0nmLLeTH299pzW",
          "name": "Spectrum  Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -32656,
        2688
      ],
      "id": "c9d1cbd6-4506-428e-b34c-b20a1d93099d",
      "name": "Wait1",
      "webhookId": "90acb056-ee39-45a3-8cb9-555ad22fbd2d"
    }
  ],
  "connections": {
    "RESPOND TO MANYCHAT": {
      "main": [
        [
          {
            "node": "Calculate Respond Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parameter Type": {
      "main": [
        [
          {
            "node": "RESPOND TO MANYCHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Data": {
      "main": [
        [
          {
            "node": "IF FUERA DE CONTEXTO",
            "type": "main",
            "index": 0
          },
          {
            "node": "PRINCIPAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "CONTEXT 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NO WHATSAPP": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proyecto": {
      "main": [
        [
          {
            "node": "CONTEXT 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lenguaje & Asesoria": {
      "main": [
        [
          {
            "node": "If NO WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Proyecto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "If USER NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONTEXT 1": {
      "main": [
        [
          {
            "node": "If NOT WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to CREATE": {
      "main": [
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If USER NOT EXIST": {
      "main": [
        [
          {
            "node": "DATA to CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "Get Account Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOINNING MESSAGE": {
      "main": [
        [
          {
            "node": "DELETE MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROJECT LIST": {
      "main": [
        [
          {
            "node": "Lenguaje & Asesoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "JOINNING MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE MESSAGES": {
      "main": [
        [
          {
            "node": "PROJECT LIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET MESSAGE": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE MESSAGE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUT FINAL": {
      "main": [
        [
          {
            "node": "SAVE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "text input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP IF AUDIO": {
      "main": [
        [
          {
            "node": "TRANSCRIBE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALIZA IMAGEN": {
      "main": [
        [
          {
            "node": "image input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Lenguaje & Asesoria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "INPUT FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE AUDIO": {
      "main": [
        [
          {
            "node": "audio input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES AUDIO / IMAGEN": {
      "main": [
        [
          {
            "node": "HTTP IF AUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANALIZA IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ES AUDIO / IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES ARCHIVO": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "PRINCIPAL": {
      "main": [
        [
          {
            "node": "Parse response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_collector": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse response": {
      "main": [
        [
          {
            "node": "Hay Cambios?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter IF TRANSFER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Proyecto Existente",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPDATE - UTM Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TIENE DATOS NUEVOS": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update User Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Cambios?": {
      "main": [
        [
          {
            "node": "If TIENE DATOS NUEVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Lead": {
      "main": [
        [
          {
            "node": "IF NUEVO LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kb_search": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rsvp": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter IF TRANSFER": {
      "main": [
        [
          {
            "node": "'Notifications Master' Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Analytics": {
      "main": [
        [
          {
            "node": "IF INTERES PRECIOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Respond Time": {
      "main": [
        [
          {
            "node": "Insert Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "'Notifications Master' Nuevos Leads": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_media": {
      "ai_tool": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF NUEVO LEAD": {
      "main": [
        [
          {
            "node": "'Notifications Master' Nuevos Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find user by Phone": {
      "main": [
        [
          {
            "node": "If NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NOT WHATSAPP": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find user by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NOT EXIST": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATA to CREATE FASE 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to CREATE FASE 2": {
      "main": [
        [
          {
            "node": "Insert User Fase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Fase 2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID - Lead en Fase 2 ": {
      "main": [
        [
          {
            "node": "Delete Lead FASE 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer CAMPAIGN DATA": {
      "main": [
        [
          {
            "node": "ES ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Lead FASE 2": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Credentials": {
      "main": [
        [
          {
            "node": "Extraer CAMPAIGN DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Proyecto Existente": {
      "main": [
        [
          {
            "node": "UPDATE - Proyecto Interes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF INTERES PRECIOS": {
      "main": [
        [
          {
            "node": "'Notifications Master' Interés Precios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FUERA DE CONTEXTO": {
      "main": [
        [
          {
            "node": "OFF TOPIC - Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OFF TOPIC - Respuesta": {
      "main": [
        [
          {
            "node": "OFF TOPIC - Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PRINCIPAL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "ID - Lead en Fase 2 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "agentsprod.redtec.ai",
          "user-agent": "ManyChat",
          "content-length": "983",
          "content-type": "application/json; charset=utf-8",
          "x-forwarded-for": "3.124.242.138",
          "x-forwarded-host": "agentsprod.redtec.ai",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "2a862d2f5b19",
          "x-real-ip": "3.124.242.138",
          "accept-encoding": "gzip"
        },
        "params": {},
        "query": {},
        "body": {
          "key": "user:233720490",
          "id": "233720490",
          "page_id": "113631858496836",
          "user_refs": [],
          "status": "active",
          "first_name": "Pruebas",
          "last_name": "De ManyChat",
          "name": "Pruebas De ManyChat",
          "gender": null,
          "profile_pic": null,
          "locale": null,
          "language": null,
          "timezone": "UTC±00",
          "live_chat_url": "https://app.manychat.com/fb113631858496836/chat/233720490",
          "last_input_text": "hola quiero informacion",
          "optin_phone": false,
          "phone": null,
          "optin_email": false,
          "email": null,
          "subscribed": "2026-01-05T14:48:06-06:00",
          "last_interaction": null,
          "ig_last_interaction": null,
          "last_seen": null,
          "ig_last_seen": null,
          "is_followup_enabled": true,
          "ig_username": null,
          "ig_id": null,
          "whatsapp_phone": "+13322311881",
          "whatsapp_bsuid": null,
          "whatsapp_username": null,
          "optin_whatsapp": true,
          "phone_country_code": null,
          "last_growth_tool": null,
          "custom_fields": {
            "canal_ingreso": "WhatsApp",
            "Input from Template": null,
            "First_Name": null,
            "whatsapp_id": "13322311881",
            "proyecto_interes": "PMAR",
            "proyecto_utm_source": "100000004",
            "proyecto": null
          }
        },
        "webhookUrl": "https://agentsprod.redtec.ai/webhook/spectrum-agent",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}