SPECTRUM AGENTE/Agente Unificado/Lead Collector.json
{
  "id": "SHPFhvoal7k1Rqf9",
  "name": "LEAD COLLECTOR",
  "active": true,
  "isArchived": false,
  "versionId": "e15b0259-cef8-4825-ae40-ec35ab9fc111",
  "activeVersionId": "e15b0259-cef8-4825-ae40-ec35ab9fc111",
  "triggerCount": 0,
  "createdAt": "2026-04-14T22:32:49.261Z",
  "updatedAt": "2026-05-22T15:57:07.548Z",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "1vyPDStd2kybsWQD"
  },
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "SET CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET CONTEXT": {
      "main": [
        [
          {
            "node": "Lead Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Lead Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "LEAD DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAR LEAD CONTACT": {
      "main": [
        [
          {
            "node": "IF CRM OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CRM OK": {
      "main": [
        [
          {
            "node": "CRM Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF DATA COMPLETED": {
      "main": [
        [
          {
            "node": "Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD DATA": {
      "main": [
        [
          {
            "node": "IF DATA COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "GENERAR LEAD CONTACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Data": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [],
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "description": "Flujo del agente colector de leads",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "manychat_id"
            },
            {
              "name": "page_id"
            },
            {
              "name": "mongo_id"
            },
            {
              "name": "canal"
            },
            {
              "name": "tel_sistema"
            },
            {
              "name": "nombre"
            },
            {
              "name": "primer_nombre"
            },
            {
              "name": "apellidos"
            },
            {
              "name": "correo"
            },
            {
              "name": "telefono"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "atribucion_tag"
            },
            {
              "name": "atribucion_medio"
            },
            {
              "name": "atribucion_contacto"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        496,
        432
      ],
      "id": "41d339f6-a3bf-4de0-ad1b-21a2a252cd97",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "392c7ca8-f659-4620-97d1-8dc575b91d82",
              "name": "canal",
              "value": "={{ $json.canal || '' }}",
              "type": "string"
            },
            {
              "id": "8cec27d2-e3a4-4d04-9391-882e65c855db",
              "name": "tel_sistema",
              "value": "={{ $json.tel_sistema || '' }}",
              "type": "string"
            },
            {
              "id": "3a86f300-d7c1-4b6f-9e14-6fff8706c783",
              "name": "manychat_id",
              "value": "={{ $json.manychat_id || '' }}",
              "type": "string"
            },
            {
              "id": "55129296-f352-4004-9036-76e980d1bef2",
              "name": "mongo_id",
              "value": "={{ $json.mongo_id }}",
              "type": "string"
            },
            {
              "id": "e033031f-27bc-4afb-888b-207e5e0a5c02",
              "name": "usuario_input",
              "value": "={{ $('START').item.json.query }}",
              "type": "string"
            },
            {
              "id": "29e7bf5a-a14e-4989-b510-f639ce4fc59a",
              "name": "nombre",
              "value": "={{ $json.nombre || '' }}",
              "type": "string"
            },
            {
              "id": "41bf5e11-24aa-42b7-b89e-011a5490109b",
              "name": "apellido",
              "value": "={{ $json.apellido || '' }}",
              "type": "string"
            },
            {
              "id": "primer_nombre-set-001",
              "name": "primer_nombre",
              "value": "={{ $json.primer_nombre || '' }}",
              "type": "string"
            },
            {
              "id": "apellidos-set-001",
              "name": "apellidos",
              "value": "={{ $json.apellidos || '' }}",
              "type": "string"
            },
            {
              "id": "22b27e42-4ca7-4c3b-b9cb-91f48e38cc16",
              "name": "correo",
              "value": "={{ $json.correo || '' }}",
              "type": "string"
            },
            {
              "id": "75bc176e-ff2f-4d1f-8506-23ea8794bf70",
              "name": "telefono",
              "value": "={{ $json.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "8b243697-1075-4f96-8e02-7eab922d9c39",
              "name": "proyecto",
              "value": "={{ $json.proyecto || '' }}",
              "type": "string"
            },
            {
              "id": "9bcd68be-0364-4be5-bb89-fe074d4d6c16",
              "name": "page_id",
              "value": "={{ $json.page_id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        432
      ],
      "id": "cb6627d8-a9a1-406f-9856-fa92665f66da",
      "name": "SET CONTEXT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=canal: {{ $json.canal }}\ntel_sistema: {{ $json.tel_sistema }}\nmanychat_id: {{ $json.manychat_id }}\nusuario_input: {{ $json.usuario_input }}\nnombre: {{ $json.nombre || \"no aparece\" }}\napellido: {{ $json.apellido || \"no aparece\" }}\nprimer_nombre: {{ $json.primer_nombre || \"no aparece\" }}\napellidos: {{ $json.apellidos || \"no aparece\" }}\ncorreo: {{ $json.correo || \"no aparece\" }}\ntelefono: {{ $json.telefono || \"no aparece\" }}\nproyecto: {{ $json.proyecto || \"no aparece\" }}",
        "options": {
          "systemMessage": "=### ROL ###\n  Eres un extractor de datos de contacto del lead para SPECTRUM VIVIENDA.\n  NO eres un chatbot conversacional extenso, pero debes ser EMPÁTICO si el lead\n  es \"caliente\".\n  Tu única función: pedir y recibir Nombre, Correo y Teléfono.\n\n  ### CONTEXTO ###\n  - CANAL: {{ $('SET CONTEXT').item.json.canal }}\n  - TEL_SISTEMA: {{ $('SET CONTEXT').item.json.tel_sistema }}\n  - Nombre actual: {{ $('SET CONTEXT').item.json.nombre || 'No disponible' }}\n  - Correo actual: {{ $('SET CONTEXT').item.json.correo || 'No disponible' }}\n  - Teléfono actual: {{ $('SET CONTEXT').item.json.telefono || 'No disponible'\n  }}\n\n  ### REGLA DE EMPATÍA (LEAD CALIENTE) ###\n  Si el mensaje del usuario indica que ya está en un proceso avanzado (ej: \"ya\n  compré\", \"estoy por comprar\", \"mi asesor no me atiende\", \"quiero reservar\") o\n  tiene una urgencia:\n  - NO uses el texto genérico del ESCENARIO 1.\n  - ADAPTA la respuesta: Reconoce su situación brevemente y explica que pides\n  los datos para ACELERAR la solución o el proceso.\n  - Ejemplo: \"Entiendo que ya estás en proceso con nosotros y lamento el\n  inconveniente con tu asesoría. Para escalar esto de inmediato y asignarte a\n  alguien que te apoye hoy mismo, ¿podrías confirmarme tu nombre y correo?\"\n\n  ### REGLAS DE LÓGICA ###\n\n  1. EXTRACCIÓN: Identifica nombre, correo y teléfono en el mensaje actual del\n  usuario.\n     - VALIDACIÓN DE CORREO: válido solo si tiene \"@\", nombre antes del \"@\" y\n  dominio con punto después.\n     - Si el correo no cumple ese formato, trátalo como dato FALTANTE.\n     - SEPARACIÓN DE NOMBRE: cuando identifiques el nombre completo, extrae\n  también:\n       - primer_nombre: nombre(s) de pila (todo lo que precede a los apellidos).\n       - apellidos: apellido(s) completo(s).\n       Ejemplo: \"Juan Carlos García López\" → primer_nombre: \"Juan Carlos\",\n  apellidos: \"García López\".\n       Ejemplo: \"María García\" → primer_nombre: \"María\", apellidos: \"García\".\n       Si solo hay un token (ej: \"Juan\"), ponlo en primer_nombre y deja\n  apellidos en null.\n       Si no puedes determinar el corte con certeza, usa el primer token como\n  primer_nombre y el resto como apellidos.\n\n  2. LÓGICA POR CANAL:\n     - CANAL == 'whatsapp' y TEL_SISTEMA válido (no vacío, no \"No tiene\"): usa\n  TEL_SISTEMA directamente como teléfono, sin pedírselo al usuario.\n     - CANAL == 'whatsapp' y TEL_SISTEMA vacío o \"No tiene\": solicita el número\n  al usuario.\n     - CANAL != 'whatsapp': solicita número junto con Nombre y Correo.\n\n  3. CONTEO DE INTENTOS: Cada solicitud de datos en el historial = 1 intento.\n     Al 3er intento o negativa explícita → transferir_agente: 1.\n\n  4. DATOS YA CONOCIDOS: Si algún campo tiene valor en el CONTEXTO, no lo\n  vuelvas a pedir.\n     Mantenlo en el output aunque el usuario no lo repita.\n\n  ### ESCENARIOS ###\n\n  ESCENARIO 1 — Faltan nombre o correo (Lead Estándar):\n  - WhatsApp: \"Para brindarte información, ¿podrías indicarme por favor?:\\n\\n-\n  tu nombre\\n- tu correo electrónico\"\n  - Otro canal: agregar \"\\n- tu número de teléfono\" después del correo.\n  *Nota: Si aplica la REGLA DE EMPATÍA, ignora este texto genérico y genera uno\n  personalizado.*\n\n  ESCENARIO 2 — Correo con formato inválido:\n  \"Parece que hubo un problema con tu correo. ¿Podrías verificarlo e ingresarlo\n  nuevamente? (Ejemplo: nombre@dominio.com) 😊\"\n\n  ESCENARIO 3 — WhatsApp + TEL_SISTEMA vacío + nombre y correo listos:\n  \"¡Gracias! Un último detalle. ¿Cuál es tu número de teléfono para contactarte?\n   😊\"\n\n  ESCENARIO 4 — Datos completos:\n  \"¡Muchas gracias, {nombre}! Ya recibimos tus datos 😊.\"\n  → transferir_agente: 1\n\n  ESCENARIO 5 — Intentos >= 3 o negativa explícita:\n  \"Entiendo. Déjame revisar esa información para ti un momento 😊.\"\n  → transferir_agente: 1\n\n  ### PROHIBICIONES ABSOLUTAS ###\n  - NUNCA digas \"Hola\", \"Soy Sof-IA\" ni ninguna variante de saludo o\n  presentación (esto lo maneja el Agente Principal).\n  - NUNCA preguntes \"¿en qué te puedo ayudar?\".\n  - NUNCA ofrezcas información del proyecto, precios, ubicación ni nada externo\n  a los datos de contacto.\n  - NUNCA respondas preguntas del usuario. Tu único output es pedir los datos o\n  confirmar.\n\n  ### RESTRICCIÓN DE SALIDA ###\n  Responde ÚNICAMENTE con un objeto JSON en una sola línea, sin bloques de\n  código:\n\n  {\"nombre\": \"string|null\", \"primer_nombre\": \"string|null\", \"apellidos\":\n  \"string|null\", \"telefono\": \"string|null\", \"correo\": \"string|null\",\n  \"transferir_agente\": 0|1, \"response\": \"tu_respuesta_aqui\"}\n\n  REGLAS DE CAMPOS JSON:\n  - \"primer_nombre\": nombre(s) de pila. null si no se conoce aún el nombre.\n  - \"apellidos\": apellido(s) completo(s). null si no se puede determinar o el\n  nombre tiene un solo token.\n  - \"correo\": null si el formato es inválido.\n  - \"telefono\" en WhatsApp con TEL_SISTEMA válido: usa TEL_SISTEMA directamente\n  cuando nombre y correo estén listos.\n  - \"telefono\" en WhatsApp sin TEL_SISTEMA: solo cuando el usuario lo escriba.\n  - \"telefono\" en otro canal: solo cuando el usuario lo escriba.\n  - Campos con valor del CONTEXTO: mantenlos aunque el usuario no los repita."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        432
      ],
      "id": "18bd3bec-e7e6-407b-8d81-db72e6d34532",
      "name": "Lead Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('START').item.json.manychat_id }}",
        "collectionName": "chat_histories_lead",
        "databaseName": "Centralizado",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1040,
        656
      ],
      "id": "3c391ab3-45c1-4c3e-bfce-37a826119db3",
      "name": "MongoDB Chat Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\n\ntry {\n  const inicio = raw.indexOf('{');\n  const fin = raw.lastIndexOf('}') + 1;\n  if (inicio === -1 || fin === 0) throw new Error('No JSON');\n\n  const parsed = JSON.parse(\n    raw.substring(inicio, fin).replace(/[\\n\\r]/g, ' ')\n  );\n\n  return [{\n    json: {\n      nombre: parsed.nombre || null,\n      primer_nombre: parsed.primer_nombre || null,\n      apellidos: parsed.apellidos || null,\n      correo: parsed.correo || null,\n      telefono: parsed.telefono || null,\n      transferir_agente: parsed.transferir_agente ?? 0,\n      response: parsed.response || ''\n    }\n  }];\n} catch(e) {\n  return [{\n    json: {\n      nombre: null,\n      correo: null,\n      telefono: null,\n      transferir_agente: 1,\n      response: raw\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        432
      ],
      "id": "811b3811-e1df-4657-b21c-d01a64973a79",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.spectrum.com.gt:8055/Spectrum_WS_GeneracionLead/Service.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "SOAPAction",
              "value": "http://tempuri.org/CreacionClientePotencialBot"
            },
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $('Body').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        352
      ],
      "id": "865de055-f5fb-4a36-8f34-8ece471f4e18",
      "name": "GENERAR LEAD CONTACT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "996ea7a0-c4f4-4a4b-956c-c78d485df9cf",
              "leftValue": "={{ !!$json.nombre && $json.nombre !== \"null\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7ec296d0-2e82-4753-bb09-f8eedc652674",
              "leftValue": "={{ !!$json.correo && $json.correo !== \"null\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7b660a01-58c0-49c9-b1c1-95464ddc7f22",
              "leftValue": "={{ !!$json.telefono && $json.telefono !== \"null\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "proyecto-condition-001",
              "leftValue": "={{ !!$('SET CONTEXT').item.json.proyecto && $('SET CONTEXT').item.json.proyecto !== '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        432
      ],
      "id": "bb229985-d65f-4cce-9569-ab92f5ee6f07",
      "name": "IF DATA COMPLETED"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e1c8eb0-a9f4-4676-b693-db378cd7f353",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "primer_nombre-lead-001",
              "name": "primer_nombre",
              "value": "={{ $json.primer_nombre }}",
              "type": "string"
            },
            {
              "id": "apellidos-lead-001",
              "name": "apellidos",
              "value": "={{ $json.apellidos }}",
              "type": "string"
            },
            {
              "id": "4860ba1b-1522-44b2-8fc3-9b8a48123c88",
              "name": "correo",
              "value": "={{ $json.correo }}",
              "type": "string"
            },
            {
              "id": "9b59f5ef-bbd2-45e8-81b5-b9575012212e",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "136c724c-6660-4eb9-a104-ac6748398e79",
              "name": "transferir_agente",
              "value": "={{ $json.transferir_agente }}",
              "type": "number"
            },
            {
              "id": "b1cfb4f5-a775-49c7-84d0-6bf8288b9bf0",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        432
      ],
      "id": "e5c45de3-bdc0-4438-9b18-c39eef4de037",
      "name": "LEAD DATA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2864,
        528
      ],
      "id": "6b28f702-91b0-4ee2-94e4-6cfbcdf85173",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23996fe8-b2af-4a8a-b8b0-2c04562a2098",
              "name": "response",
              "value": "={{ $('LEAD DATA').item.json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        432
      ],
      "id": "ebe76099-5c7a-4e21-886e-683b9b4cc182",
      "name": "RESPONSE"
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        2192,
        352
      ],
      "id": "130f3d30-3b36-4c60-ad3f-f630c2cec515",
      "name": "PARSE BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29bc8a2a-9b6e-4b09-ae6d-30b74ab45b94",
              "name": "body",
              "value": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <CreacionClientePotencialBot xmlns=\"http://tempuri.org/\">\n      <_OrigenCliente>100000001</_OrigenCliente>\n      <_Proyecto>{{ $('SET CONTEXT').item.json.proyecto }}</_Proyecto>\n      <_Comentarios>{{ $('START').item.json.atribucion_medio }} | {{ $('START').item.json.atribucion_contacto\n     }}</_Comentarios>\n      <_UTMSource>{{ $('SET CONTEXT').item.json.canal.toLowerCase() == 'whatsapp' ? 100000004 : $('SET CONTEXT').item.json.canal.toLowerCase() == 'instagram' ? 100000012 : 100000005 }}</_UTMSource>\n      <_UTMCampaing>{{ ({\"Web\":\"Cliente atendido desde chatbot a través de web\",\"City Core\":\"Cliente atendido desde chatbot a través de anuncios\",\"Social Media\":\"Cliente atendido desde chatbot a través de redes sociales\",\"Fan Page\":\"Cliente atendido desde chatbot a través de fan page\",\"Mail\":\"Cliente atendido desde chatbot a través de email\",\"Banco\":\"Cliente atendido desde chatbot a través de banco\"})[$('START').item.json.atribucion_tag] || \"Cliente atendido desde chatbot a través de web\" }}</_UTMCampaing>\n      <_Nombre>{{ $json.primer_nombre || ($json.nombre || '').split(' ')[0] || 'Cliente' }}</_Nombre>\n      <_Apellido>{{ $json.apellidos || ($json.nombre || '').split(' ').slice(1).join(' ') || 'N/A' }}</_Apellido>\n      <_TelefonoMovil>{{ $json.telefono }}</_TelefonoMovil>\n      <_CorreEletronico>{{ $('LEAD DATA').item.json.correo }}</_CorreEletronico>\n      <_MetodocontactoPref>{{ $('SET CONTEXT').item.json.canal.toLowerCase() == 'whatsapp' ? 4 : 5 }}</_MetodocontactoPref>\n    </CreacionClientePotencialBot>\n  </soap:Body>\n</soap:Envelope>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        352
      ],
      "id": "1a51b800-0e79-4232-962e-e2004c08ff37",
      "name": "Body"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "crm-success-check-001",
              "leftValue": "={{ $json.data || '' }}",
              "rightValue": "System.Exception",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2640,
        352
      ],
      "id": "269f3e7d-b4de-464c-87b7-a046163e1264",
      "name": "IF CRM OK"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "=CRM_Data,page_id,atribucion_tag,atribucion_medio,atribucion_contacto,primer_nombre,apellidos",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        3088,
        304
      ],
      "id": "1a0e990c-0058-4c68-98e5-4729b84cc70d",
      "name": "Update User"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "449990f8-c46e-4e56-a8c2-7db326cd1cc5",
              "name": "_id",
              "value": "={{ $('SET CONTEXT').item.json.mongo_id }}",
              "type": "string"
            },
            {
              "id": "5f13904a-87ae-4879-b79f-ab9fccb8c378",
              "name": "CRM_Data",
              "value": "={{ $('PARSE BODY').item.json['soap:Envelope']['soap:Body'].CreacionClientePotencialBot }}",
              "type": "object"
            },
            {
              "id": "47a4419b-ac79-40c3-9120-de84b732315a",
              "name": "page_id",
              "value": "={{ $('SET CONTEXT').item.json.page_id }}",
              "type": "string"
            },
            {
              "id": "25e1adb0-49a2-4921-bbc7-99074c9e4745",
              "name": "atribucion_tag",
              "value": "={{ $('START').item.json.atribucion_tag }}",
              "type": "string"
            },
            {
              "id": "1de751c6-aeb9-4149-b641-55be0c305c58",
              "name": "atribucion_medio",
              "value": "={{ $('START').item.json.atribucion_medio }}",
              "type": "string"
            },
            {
              "id": "81fa2720-a7c4-455f-ae93-fd30f27f3a74",
              "name": "atribucion_contacto",
              "value": "={{ $('START').item.json.atribucion_contacto }}",
              "type": "string"
            },
            {
              "id": "primer_nombre-crm-001",
              "name": "primer_nombre",
              "value": "={{ $('LEAD DATA').item.json.primer_nombre }}",
              "type": "string"
            },
            {
              "id": "apellidos-crm-001",
              "name": "apellidos",
              "value": "={{ $('LEAD DATA').item.json.apellidos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        304
      ],
      "id": "034f4c9f-73fd-4134-801d-6e7677f26035",
      "name": "CRM Data"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        896,
        656
      ],
      "id": "7a7c6fed-02bb-4e0f-b1b5-fd3366d3d8cf",
      "name": "OpenRouter Chat Model"
    }
  ]
}