SPECTRUM AGENTE/Agente Unificado/Send Media.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const proyecto = $input.item.json.proyecto || \"PVV\";\nconst tipo = ($input.item.json.tipo_media || \"amenidades\").toLowerCase().trim();\nconst canal = ($input.item.json.canal || \"whatsapp\").toLowerCase().trim();\n\n// URLs reales por proyecto y tipo de media.\n// Dejar en null los que aún no tienen archivo listo.\nconst database = {\n  \"PVV\": {\n    \"amenidades\": \"https://res.cloudinary.com/dif0pqsok/image/upload/v1763745364/amenidades_dble4k.png\",\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PMAR\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PPO\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PPOL\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PSB\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  }\n};\n\nconst projectData = database[proyecto] || database[\"PVV\"];\nconst url = projectData[tipo] || null;\n\nconst objectType = canal === 'whatsapp' ? 'text' : 'image';\nconst keyName = canal === 'whatsapp' ? 'text' : 'url';\n\nreturn [{\n  json: {\n    manychat_id: $input.item.json.manychat_id,\n    canal: canal,\n    proyecto: proyecto,\n    url: url,\n    media_disponible: url !== null,\n    objectType: objectType,\n    keyName: keyName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        240
      ],
      "id": "2c0c65d7-a912-4996-85f7-bf633fc82225",
      "name": "Map Media Resources"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "media-disponible-001",
              "leftValue": "={{ $json.media_disponible }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        240
      ],
      "id": "7f79d2b4-5e0e-4055-8512-7b110c960b9c",
      "name": "IF Media Disponible"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('START').item.json.manychat_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Map Media Resources').item.json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $('Map Media Resources').item.json.canal }}\",\n      \"messages\": [\n        {\n          \"type\": \"{{ $('Map Media Resources').item.json.objectType }}\",\n          \"{{ $('Map Media Resources').item.json.keyName }}\": \"{{ $('Map Media Resources').item.json.url }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        144
      ],
      "id": "f0c1fafc-b6c3-416a-affa-cf0ac9a14710",
      "name": "Send API ManyChat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e21820-2c70-4976-8051-789a6be3db9d",
              "name": "response",
              "value": "Media enviada. Dile al usuario con entusiasmo que ya le enviaste lo que solicitó y pregúntale qué le parece el proyecto.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        144
      ],
      "id": "d0a526ad-b86b-4361-84a7-db2ffc726bf7",
      "name": "Response To Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-media-response-001",
              "name": "response",
              "value": "=El material visual de {{ $('Map Media Resources').item.json.proyecto }} aún no está disponible. Informa al usuario de forma amable y ofrécele estas alternativas: (1) un asesor puede contactarlo personalmente para enviarle el material, (2) puede agendar una visita a la sala de ventas donde verá todo en detalle, o (3) puede agendar una llamada con un asesor. Pregúntale cuál prefiere.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        336
      ],
      "id": "9731d96c-f1b1-4b11-a1b1-0a41ed874fd0",
      "name": "No Media Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_media"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "canal"
            },
            {
              "name": "manychat_id"
            },
            {
              "name": "manychat_api"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        240
      ],
      "id": "10bd6d11-5b80-4eda-8f43-60efd831daa8",
      "name": "START"
    }
  ],
  "connections": {
    "Map Media Resources": {
      "main": [
        [
          {
            "node": "IF Media Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Media Disponible": {
      "main": [
        [
          {
            "node": "Send API ManyChat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Media Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send API ManyChat": {
      "main": [
        [
          {
            "node": "Response To Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "Map Media Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}