SPECTRUM AGENTE/Agente Unificado/Send Media.json
{
  "id": "NtTiyrNy2LHimE7u",
  "name": "SEND MEDIA",
  "active": true,
  "isArchived": false,
  "versionId": "ec12c406-4fd7-40b8-8b6b-c5e675a02a00",
  "activeVersionId": "ec12c406-4fd7-40b8-8b6b-c5e675a02a00",
  "triggerCount": 0,
  "createdAt": "2026-04-21T05:50:52.066Z",
  "updatedAt": "2026-05-21T20:48:04.798Z",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "1vyPDStd2kybsWQD",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "connections": {
    "Map Media Resources": {
      "main": [
        [
          {
            "node": "IF Media Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Media Disponible": {
      "main": [
        [
          {
            "node": "Send API ManyChat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Media Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send API ManyChat": {
      "main": [
        [
          {
            "node": "Response To Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "Map Media Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "jsCode": "const proyecto = $input.item.json.proyecto || \"PVV\";\nconst tipo = ($input.item.json.tipo_media || \"amenidades\").toLowerCase().trim();\nconst canal = ($input.item.json.canal || \"whatsapp\").toLowerCase().trim();\n\n// URLs reales por proyecto y tipo de media.\n// Dejar en null los que aún no tienen archivo listo.\nconst database = {\n  \"PVV\": {\n    \"amenidades\": \"https://res.cloudinary.com/dif0pqsok/image/upload/v1763745364/amenidades_dble4k.png\",\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PMAR\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PPO\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PPOL\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  },\n  \"PSB\": {\n    \"amenidades\": null,\n    \"renders\": null,\n    \"planos\": null,\n    \"brochure\": null\n  }\n};\n\nconst projectData = database[proyecto] || database[\"PVV\"];\nconst url = projectData[tipo] || null;\n\nconst objectType = canal === 'whatsapp' ? 'text' : 'image';\nconst keyName = canal === 'whatsapp' ? 'text' : 'url';\n\nreturn [{\n  json: {\n    manychat_id: $input.item.json.manychat_id,\n    canal: canal,\n    proyecto: proyecto,\n    url: url,\n    media_disponible: url !== null,\n    objectType: objectType,\n    keyName: keyName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        496
      ],
      "id": "4090307a-8743-43ff-9f14-cdfca36018da",
      "name": "Map Media Resources"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "media-disponible-001",
              "leftValue": "={{ $json.media_disponible }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        496
      ],
      "id": "37bd53e2-db9b-48e3-91ec-dcbd88fc04fb",
      "name": "IF Media Disponible"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('START').item.json.manychat_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Map Media Resources').item.json.manychat_id }}\",\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"{{ $('Map Media Resources').item.json.canal }}\",\n      \"messages\": [\n        {\n          \"type\": \"{{ $('Map Media Resources').item.json.objectType }}\",\n          \"{{ $('Map Media Resources').item.json.keyName }}\": \"{{ $('Map Media Resources').item.json.url }}\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        400
      ],
      "id": "07a815f3-353d-4f2f-afe0-54634c06a6f7",
      "name": "Send API ManyChat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e21820-2c70-4976-8051-789a6be3db9d",
              "name": "response",
              "value": "Media enviada. Dile al usuario con entusiasmo que ya le enviaste lo que solicitó y pregúntale qué le parece el proyecto.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        400
      ],
      "id": "53a8ed83-558c-41da-8240-1ec8334df8ac",
      "name": "Response To Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-media-response-001",
              "name": "response",
              "value": "=Informa al usuario con entusiasmo que sí contamos con material visual de {{ $('Map Media Resources').item.json.proyecto }} (renders, planos, brochure y más). Dile que un asesor puede contactarle por este mismo canal para enviárselo personalmente. Ofrécele también la opción de agendar una visita a nuestra sala de ventas para verlo en detalle.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        592
      ],
      "id": "59263a90-4433-4f0c-ab62-90cc2ee70263",
      "name": "No Media Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_media"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "canal"
            },
            {
              "name": "manychat_id"
            },
            {
              "name": "manychat_api"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        496
      ],
      "id": "59c22ffb-0fec-4285-9e7e-72087fe88736",
      "name": "START"
    }
  ],
  "tags": [],
  "meta": null,
  "parentFolderId": null,
  "description": "Flujo para enviar imagenes y videos"
}