SPECTRUM AGENTE/Agente Unificado/Sync_CRM.json
{
  "id": "TTVNRX38pPoPmK2X",
  "name": "Sync_CRM",
  "active": true,
  "isArchived": false,
  "versionId": "6c8a3b75-34b5-4bcc-bf86-7b2a68356b0f",
  "activeVersionId": "6c8a3b75-34b5-4bcc-bf86-7b2a68356b0f",
  "triggerCount": 1,
  "createdAt": "2026-04-21T04:53:56.088Z",
  "updatedAt": "2026-05-25T03:53:33.581Z",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "errorWorkflow": "1vyPDStd2kybsWQD",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Time-15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [],
        [
          {
            "node": "Find User Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment": {
      "main": [
        [
          {
            "node": "Manychat User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manychat User ID": {
      "main": [
        [
          {
            "node": "Chat Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time-15min": {
      "main": [
        [
          {
            "node": "Find Users to Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "EXTRACTOR RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACTOR RESPONSE": {
      "main": [
        [
          {
            "node": "Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAR LEAD CONTACT": {
      "main": [
        [
          {
            "node": "XML BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML BODY": {
      "main": [
        [
          {
            "node": "Campos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "GENERAR LEAD CONTACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Users to Sync": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Lead": {
      "main": [
        [
          {
            "node": "LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat RSVP": {
      "main": [
        [
          {
            "node": "RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "PRINCIPAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSVP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PRINCIPAL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Quality Auditor": {
      "main": [
        [
          {
            "node": "Build Quality Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quality Log": {
      "main": [
        [
          {
            "node": "Insert quality_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert quality_logs": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation Analysis": {
      "main": [
        [
          {
            "node": "Quality Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update Conversation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User Credentials": {
      "main": [
        [
          {
            "node": "Find Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE - Proyecto Interes Manychat": {
      "main": [
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos Usuario": {
      "main": [
        [
          {
            "node": "UPDATE - Proyecto Interes Manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Auditor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        7904,
        568
      ],
      "id": "91a4d32f-a10b-4774-9bb3-936ed17f1133",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8576,
        568
      ],
      "id": "d4e4e072-853c-477d-b0b5-87269e0ee23a",
      "name": "Loop Over Users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad37ff15-8600-45b7-b912-b284a9e0157d",
              "name": "lead_messages",
              "value": "={{ $('LEAD').item.json.lead_messages ?? \"No hay\" }}",
              "type": "string"
            },
            {
              "id": "2ec7f63b-931b-4b46-aaa9-001b6c2e93b4",
              "name": "rsvp_messages",
              "value": "={{ $('RSVP').item.json.RSVP_messages ?? \"No hay\" }}",
              "type": "string"
            },
            {
              "id": "6fb0062c-596a-478f-aebb-25416e4aa396",
              "name": "principal_messages",
              "value": "={{ $('PRINCIPAL').item.json.principal_messages ?? \"No hay\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10368,
        400
      ],
      "id": "6525b659-4d4a-41c9-ae2d-ab005ba3f158",
      "name": "Messages",
      "executeOnce": false
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        9920,
        384
      ],
      "id": "20d32727-19c3-4bcb-ae84-9f9c9f1232cf",
      "name": "Merge"
    },
    {
      "parameters": {
        "collection": "appointments",
        "options": {},
        "query": "={\"manychat_id\": \"{{ $('Loop Over Users').item.json.manychat_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9024,
        348
      ],
      "id": "c7700a5e-1cda-4c96-83b7-64ec064f02dc",
      "name": "Find Appointment",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "333ef0a2-5347-49b3-9a2e-94f8780dec53",
              "name": "manychat_user_id",
              "value": "={{ $('Loop Over Users').item.json.manychat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9248,
        348
      ],
      "id": "2985f81c-e5a2-4bbe-a1da-ff6d2807a82e",
      "name": "Manychat User ID"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cutoff: new Date(Date.now() - 15 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8128,
        568
      ],
      "id": "2e617fd8-7f8d-4fdb-999a-0ae8da9c4086",
      "name": "Time-15min"
    },
    {
      "parameters": {
        "text": "=DATOS ACTUALES EN SISTEMA:\n- Proyecto: {{ $('Loop Over Users').item.json.proyecto }}\n- Habitaciones: {{ $('Find Appointment').item.json.habitaciones || 'No especificado' }}\n- Intención: {{ $('Find Appointment').item.json.intencion || 'No especificada' }}\n- Cita: {{ $('Find Appointment').item.json.fecha_hora ? 'Agendada para ' + $('Find Appointment').item.json.fecha_hora : 'No agendada' }}\n\nHISTORIAL DE CONVERSACIÓN COMPLETO:\n\nHistorial del lead agent:{{ Array.isArray($json.lead_messages) ? $json.lead_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.lead_messages }} \n\nHistorial del rsvp agent: \n{{ Array.isArray($json.rsvp_messages) ? $json.rsvp_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.rsvp_messages }}\n\nHistorial del principal agent: \n{{ Array.isArray($json.principal_messages) ? $json.principal_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.principal_messages }}",
        "attributes": {
          "attributes": [
            {
              "name": "Presupuesto",
              "description": "Presupuesto mencionado por el cliente (ej: 'Q800,000', 'No mencionado').",
              "required": true
            },
            {
              "name": "Dormitorios",
              "description": "Número de habitaciones o tipo de unidad que busca.",
              "required": true
            },
            {
              "name": "Requisitos",
              "description": "Requisitos específicos o amenidades de interés (ej: 'piso alto', 'con balcón', 'cerca de amenidades').",
              "required": true
            },
            {
              "name": "Resumen",
              "description": "Resumen narrativo de la conversación. Incluye: (1) qué información se le dio al lead y en qué punto quedó; (2) nivel de interés detectado (ALTO si mostró señales claras como 'sí', 'me interesa', pidió fecha o precio concreto — MEDIO si preguntó pero no comprometió — BAJO si solo exploró); (3) modelo o tipo de unidad que más le interesó si lo mencionó; (4) objeciones o frenos detectados (precio, ubicación, decisión familiar, timing) o 'Sin objeciones' si no hubo.",
              "required": true
            },
            {
              "name": "Dudas",
              "description": "Lista numerada de todas las preguntas o dudas que expresó el cliente durante la conversación. Si no hay dudas explícitas, escribe 'Ninguna'. Formato: 1. ... 2. ... 3. ...",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        10592,
        400
      ],
      "id": "78895e89-cdf5-41ff-b345-3e4b13b852a0",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29811091-f623-46a3-920e-a37d4484e9f2",
              "name": "_id",
              "value": "={{ $('Loop Over Users').item.json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "fd8c37c0-b8b9-4e6d-8514-43839e17ca8e",
              "name": "conversation_analysis",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ab7c37c0-b8b9-4e6d-8514-43839e17ca8f",
              "name": "conversation_ressume",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10944,
        400
      ],
      "id": "cd59fe3b-fe9c-4be2-b09e-a592032caf9e",
      "name": "EXTRACTOR RESPONSE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.spectrum.com.gt:8055/Spectrum_WS_GeneracionLead/Service.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "SOAPAction",
              "value": "http://tempuri.org/CreacionClientePotencialBot"
            },
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $('Body').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11616,
        400
      ],
      "id": "f98c6d03-f63c-4e68-bc6c-ee9e85e0d436",
      "name": "GENERAR LEAD CONTACT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        11840,
        400
      ],
      "id": "a2e12526-9aa6-4229-8b64-bffc40671cb5",
      "name": "XML BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29bc8a2a-9b6e-4b09-ae6d-30b74ab45b94",
              "name": "body",
              "value": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Body>\n<CreacionClientePotencialBot xmlns=\"http://tempuri.org/\">\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_OrigenCliente>' + ($('Loop Over Users').item.json.CRM_Data?._OrigenCliente || 100000001) + '</_OrigenCliente>' : '' }}\n<_Proyecto>{{ $('Loop Over Users').item.json.proyecto }}</_Proyecto>\n<_Nombre>{{ $('Loop Over Users').item.json.primer_nombre || $('Loop Over Users').item.json.nombre?.split(' ')[0] || 'Cliente' }}</_Nombre>\n<_Apellido>{{ $('Loop Over Users').item.json.apellidos || $('Loop Over Users').item.json.nombre?.split(' ').slice(1).join(' ') || 'N/A' }}</_Apellido>\n<_TelefonoMovil>{{ ((($('Loop Over Users').first().json.telefono || '').startsWith('+502') ? '' : '+502') + ($('Loop Over Users').first().json.telefono || '')) }}</_TelefonoMovil>\n<_CorreEletronico>{{ $('Loop Over Users').item.json.correo || \"\" }}</_CorreEletronico>\n{{ $('Loop Over Users').item.json.correo_secundario ? '<_CorreoSecundario>' + $('Loop Over Users').item.json.correo_secundario + '</_CorreoSecundario>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_UTMSource>' + ($('Loop Over Users').item.json.utm_source_crm || 100000004) + '</_UTMSource>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_UTMCampaing>' + (({\"Web\":\"Cliente atendido desde chatbot a través de web\",\"City Core\":\"Cliente atendido desde chatbot a través de anuncios\",\"Social Media\":\"Cliente atendido desde chatbot a través de redes sociales\",\"Fan Page\":\"Cliente atendido desde chatbot a través de fan page\",\"Mail\":\"Cliente atendido desde chatbot a través de email\",\"Banco\":\"Cliente atendido desde chatbot a través de banco\"})[$('Loop Over Users').item.json.atribucion_tag] || \"Cliente atendido desde chatbot a través de web\") + '</_UTMCampaing>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_MetodocontactoPref>' + (($('Find Appointment').item.json?.medio_llamada === 'whatsapp' ? 4 : $('Find Appointment').item.json?.tipo === 'llamada' ? 3 : $('Find Appointment').item.json?.contacto_pref == \"correo\" ? 2 : $('Find Appointment').item.json?.contacto_pref == \"llamada\" ? 3 : $('Find Appointment').item.json?.contacto_pref == \"whatsapp\" ? 4 : $('Find Appointment').item.json?.contacto_pref == \"cualquier_forma\" ? 5 : Number($('Loop Over Users').item.json.CRM_Data?._MetodocontactoPref || 5))) + '</_MetodocontactoPref>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? (\n  $('Find Appointment').item.json?.habitaciones == \"1\" ? '<_NumeroHabitaciones>100000000</_NumeroHabitaciones>' :\n  $('Find Appointment').item.json?.habitaciones == \"2\" ? '<_NumeroHabitaciones>100000001</_NumeroHabitaciones>' :\n  $('Find Appointment').item.json?.habitaciones == \"3\" ? '<_NumeroHabitaciones>100000002</_NumeroHabitaciones>' :\n  ($('Loop Over Users').item.json.CRM_Data?._NumeroHabitaciones ? '<_NumeroHabitaciones>' + $('Loop Over Users').item.json.CRM_Data._NumeroHabitaciones + '</_NumeroHabitaciones>' : '')\n) : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? (\n  $('Find Appointment').item.json?.estado_civil == \"soltero\" ? '<_EstadoCivil>100000000</_EstadoCivil>' :\n  $('Find Appointment').item.json?.estado_civil == \"casado\" ? '<_EstadoCivil>100000001</_EstadoCivil>' :\n  $('Find Appointment').item.json?.estado_civil == \"divorciado\" ? '<_EstadoCivil>100000002</_EstadoCivil>' :\n  $('Find Appointment').item.json?.estado_civil == \"union_libre\" ? '<_EstadoCivil>100000003</_EstadoCivil>' :\n  ($('Loop Over Users').item.json.CRM_Data?._EstadoCivil ? '<_EstadoCivil>' + $('Loop Over Users').item.json.CRM_Data._EstadoCivil + '</_EstadoCivil>' : '')\n) : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? (\n  $('Find Appointment').item.json?.intencion == \"I\" ? '<_MotivoInteres>100000001</_MotivoInteres>' :\n  $('Find Appointment').item.json?.intencion == \"V\" ? '<_MotivoInteres>100000003</_MotivoInteres>' :\n  ($('Loop Over Users').item.json.CRM_Data?._MotivoInteres ? '<_MotivoInteres>' + $('Loop Over Users').item.json.CRM_Data._MotivoInteres + '</_MotivoInteres>' : '')\n) : '' }}\n{{ \n  $('Find Appointment').item.json?.fecha_hora ? '<_FechaCita>' + $('Find Appointment').item.json.fecha_hora.replace(/^(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}).*$/, '$1:00.000Z') + '</_FechaCita>' : \n  ($('Loop Over Users').item.json.CRM_Data?._FechaCita ? '<_FechaCita>' + $('Loop Over Users').item.json.CRM_Data._FechaCita + '</_FechaCita>' : '') \n}}\n{{ \n  ($('Find Appointment').item.json?.tipo == \"cita_presencial\" ? '<_TipoCita>100000000</_TipoCita>' : \n   ['cita_virtual', 'llamada'].includes($('Find Appointment').item.json?.tipo) ? '<_TipoCita>100000001</_TipoCita>' : \n   ($('Loop Over Users').item.json.CRM_Data?._TipoCita ? '<_TipoCita>' + $('Loop Over Users').item.json.CRM_Data._TipoCita + '</_TipoCita>' : '')) \n}}\n{{ $json.conversation_ressume ? '<_ResumenConversacion>' + ('PRESUPUESTO: ' + ($json.conversation_ressume?.Presupuesto || 'No mencionado') + '\\n' + 'DORMITORIOS: ' + ($json.conversation_ressume?.Dormitorios || 'No mencionado') + '\\n' + 'REQUISITOS: ' + ($json.conversation_ressume?.Requisitos || 'Ninguno') + ($('Loop Over Users').item.json.fase_2 && $('Find Appointment').item.json?.estado_civil ? '\\nESTADO CIVIL: ' + $('Find Appointment').item.json.estado_civil : '') + ($('Loop Over Users').item.json.fase_2 && $('Find Appointment').item.json?.intencion ? '\\nMOTIVO: ' + ($('Find Appointment').item.json.intencion === 'V' ? 'Vivienda' : 'Inversion') : '') + '\\n\\n' + 'RESUMEN:\\n' + ($json.conversation_ressume?.Resumen || '')) + '</_ResumenConversacion>' : '' }}\n{{ $json.conversation_ressume?.Dudas ? '<_DudasCliente>' + $json.conversation_ressume.Dudas + '</_DudasCliente>' : '' }}\n</CreacionClientePotencialBot>\n</soap:Body>\n</soap:Envelope>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11168,
        400
      ],
      "id": "7b2725bd-c360-445b-a1dc-6c73f42fc81a",
      "name": "Body"
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        11392,
        400
      ],
      "id": "48ced55d-bff0-494a-91ee-243b04190678",
      "name": "PARSE BODY"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        13760,
        568
      ],
      "id": "5ed6ac71-2e1d-4238-b969-0631c5e0cb3c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"datos_completos\": true,\n  \"conversation_analysis\": { \"$ne\": true },\n  \"last_interaction\": { \"$lt\": \"{{ $json.cutoff }}\" },\n  \"proyecto\": { \"$exists\": true, \"$nin\": [null, \"\"] }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        8352,
        568
      ],
      "id": "6b03e5e8-aa6c-4fc6-a85d-2cbc3d618477",
      "name": "Find Users to Sync",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "collection": "chat_histories_lead",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9472,
        208
      ],
      "id": "8f9cdf8f-f579-4de0-9d36-5cdecdd1530d",
      "name": "Chat Lead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "collection": "chat_histories_rsvp",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9472,
        400
      ],
      "id": "b21ebf76-cf88-4d17-be1d-d0d815e7dc2f",
      "name": "Chat RSVP",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "collection": "chat_histories",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9472,
        592
      ],
      "id": "5c393e79-2890-41dc-a5a1-2e3164b9b3f7",
      "name": "Chat",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        10144,
        400
      ],
      "id": "38eeae86-6675-43d2-81d0-22fee646633f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3607b95d-eec6-47fc-8b07-afdcf62f14ed",
              "name": "lead_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9696,
        208
      ],
      "id": "f1919da2-2060-4d27-b1af-791c77bbadd4",
      "name": "LEAD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b33f15a9-f6d3-46e7-a874-29c3fd3fc960",
              "name": "RSVP_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9696,
        400
      ],
      "id": "a158def1-6b6e-4d83-adef-027bdf6c56c2",
      "name": "RSVP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f56ae14-c394-4836-9b6a-1844357a4718",
              "name": "principal_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9696,
        592
      ],
      "id": "273932de-0ab3-4ca5-a619-2cd5e4247c9b",
      "name": "PRINCIPAL"
    },
    {
      "parameters": {
        "text": "=Lead Agent:\n{{ Array.isArray($('Messages').item.json.lead_messages) ? $('Messages').item.json.lead_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.lead_messages }}\n\nRSVP Agent:\n{{ Array.isArray($('Messages').item.json.rsvp_messages) ? $('Messages').item.json.rsvp_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.rsvp_messages }}\n\nPrincipal Agent:\n{{ Array.isArray($('Messages').item.json.principal_messages) ? $('Messages').item.json.principal_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.principal_messages }}",
        "attributes": {
          "attributes": [
            {
              "name": "funnel_stage",
              "description": "=Etapa del funnel: 'nuevo' (solo saludó), 'identificado' (dio datos), 'proyecto_activo' (eligió proyecto), 'consultando' (hizo preguntas), 'en_rsvp' (inició agendamiento), 'cita_confirmada' (confirmó cita), 'escalado' (pidió humano)",
              "required": true
            },
            {
              "name": "intencion_detectada",
              "description": "=En una frase corta, qué buscaba el usuario en esta conversación",
              "required": true
            },
            {
              "name": "tools_correctas",
              "description": "=¿El agente usó las tools correctas en el momento correcto? Describe brevemente si lead_collector, kb_search, rsvp y send_media se usaron apropiadamente. Si no se usó alguna tool necesaria, indícalo.",
              "required": true
            },
            {
              "name": "errores_detectados",
              "description": "=Lista numerada de errores en la lógica del agente: respuestas incorrectas, loops, confusión de contexto, preguntas innecesarias. Escribe 'Ninguno' si no hay errores.",
              "required": true
            },
            {
              "name": "oportunidades_perdidas",
              "description": "=Momentos donde el agente pudo avanzar en el funnel o mejorar la experiencia pero no lo hizo. Escribe 'Ninguna' si no aplica.",
              "required": true
            },
            {
              "name": "tono_agente",
              "description": "=Evaluación del tono: 'natural y correcto', 'muy formal', 'robotico', 'confuso', 'repetitivo'",
              "required": true
            },
            {
              "name": "puntuacion",
              "description": "=Puntuación del 1 al 10. Criterios: correcta identificación de intención (20%), uso apropiado de tools (20%), tono natural (20%), avance en el funnel (20%), ausencia de errores (20%).",
              "required": true
            },
            {
              "name": "recomendacion",
              "description": "=Una recomendación concreta y accionable para el desarrollador sobre cómo mejorar el comportamiento del agente en conversaciones similares a esta.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        12960,
        400
      ],
      "id": "edfb5a54-2d97-40d5-95ea-36f1db659ddc",
      "name": "Quality Auditor"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst user = $('Loop Over Users').item.json;\nconst resumen = $('EXTRACTOR RESPONSE').item.json.conversation_ressume;\n\nreturn [{\n  json: {\n    manychat_id: user.manychat_id,\n    nombre: user.nombre || 'Desconocido',\n    proyecto: user.proyecto || null,\n    fecha_analisis: $now.toISO(),\n    resumen_conversacion: resumen || null,\n    funnel_stage: output.funnel_stage || null,\n    intencion_detectada: output.intencion_detectada || null,\n    tools_correctas: output.tools_correctas || null,\n    errores_detectados: output.errores_detectados || null,\n    oportunidades_perdidas: output.oportunidades_perdidas || null,\n    tono_agente: output.tono_agente || null,\n    puntuacion: Number(output.puntuacion) || null,\n    recomendacion: output.recomendacion || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13312,
        400
      ],
      "id": "c7826288-dd58-4466-9f69-d703e135ed11",
      "name": "Build Quality Log"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "quality_logs",
        "fields": "={{ Object.keys($json).join(',') }}",
        "options": {
          "dateFields": "fecha_analisis"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        13536,
        400
      ],
      "id": "aaf9cfa7-67cd-4918-9c4b-26973e7edfb5",
      "name": "Insert quality_logs"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "conversation_analysis,conversation_ressume",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        12736,
        400
      ],
      "id": "9c77b8e2-bc74-4bfb-8237-eb5f2e32a5b9",
      "name": "Update Conversation Analysis"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('EXTRACTOR RESPONSE').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12512,
        400
      ],
      "id": "700955bb-617b-4801-95c4-1ca91d38c7a5",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "collection": "manychat_settings",
        "options": {},
        "query": "={ \"page_id\": \"{{ $json.page_id }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        8800,
        348
      ],
      "id": "a8f0ec8d-2c4c-421c-875b-c67e93197c25",
      "name": "Find User Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Find User Credentials').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\",\n  \"field_name\": \"proyecto_interes\",\n  \"field_value\": \"{{ $('Loop Over Users').item.json.proyecto || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12288,
        400
      ],
      "id": "04e7b41a-0c9e-4d3a-8436-8f287213e266",
      "name": "UPDATE - Proyecto Interes Manychat"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/page/getCustomFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Find User Credentials').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12064,
        400
      ],
      "id": "daf8b21f-1f94-4735-ad8d-c00612c0f4e8",
      "name": "Campos Usuario"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10664,
        624
      ],
      "id": "c43e0885-4d9a-4713-b4f7-289b1e16c15e",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        13032,
        624
      ],
      "id": "a06a13cb-a1c5-49c3-8a7a-54ae73fecf14",
      "name": "OpenRouter Chat Model1"
    }
  ],
  "tags": [],
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "description": "Flujo para sincronizar los datos de la BD con el CRM"
}