SPECTRUM AGENTE/Agente Unificado/Vectorizar los KBs.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        -384
      ],
      "id": "abc8face-44f6-44fc-aeff-089459429e78",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pregunta }}. {{ $json.respuesta }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "categoria",
                "value": "={{ $json.categoria }}"
              },
              {
                "name": "tags",
                "value": "={{ $json.tags }}"
              },
              {
                "name": "pregunta",
                "value": "={{ $json.pregunta }}"
              },
              {
                "name": "respuesta",
                "value": "={{ $json.respuesta }}"
              },
              {
                "name": "proyecto",
                "value": "={{ $json.proyecto }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        -384
      ],
      "id": "8e8ac53a-3212-442f-abbd-16b1a266b02a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        -608
      ],
      "id": "bf196608-e15b-454b-87ea-993c85e74caf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "352fa218-4b91-49ac-9a84-1501d98a396c",
              "name": "chunks",
              "value": "=[\n  {\n    \"id\": \"ppol_medidas_balcon\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\n      \"balcón\",\n      \"balcon\",\n      \"medidas\",\n      \"tamaño\",\n      \"dimensiones\",\n      \"cuanto mide\",\n      \"grande\"\n    ],\n    \"pregunta\": \"¿Qué medidas tiene el balcón?\",\n    \"respuesta\": \"🏡 Todos nuestros modelos cuentan con balcón, pensado para brindarte un espacio adicional de confort y conexión con el exterior.\\n\\n📐 Las medidas exactas pueden variar según el modelo y se te comparten con total detalle durante la visita, donde además podrás apreciarlo directamente.\\n\\n📅 Si te parece bien, puedo ayudarte a agendar una visita presencial o virtual con un asesor, para que revises este y otros atributos del apartamento 🤝✨\"\n  },\n  {\n    \"id\": \"pl_resumen_general\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\n      \"resumen\",\n      \"polanco\",\n      \"zona10\",\n      \"boutique\",\n      \"parque boutique\",\n      \"lujo\"\n    ],\n    \"pregunta\": \"¿Qué es Polanco Parque Boutique?\",\n    \"respuesta\": \"Polanco Parque Boutique es un proyecto residencial de la línea Parque Boutique, desarrollado por Spectrum, ubicado en Zona 10 de la Ciudad de Guatemala. Con 175 apartamentos en 22 niveles, ofrece modelos desde 1 hasta 3 habitaciones con vistas privilegiadas a Zona Viva, Colonia Oakland, Vista Hermosa y Zona 14. Cuenta con 16 amenidades de primer nivel, 8 sótanos de estacionamiento, y promueve un estilo de vida exclusivo con una política de convivencia basada en rentas de largo plazo (mínimo 30 días). NO se permite Air BnB.\"\n  },\n  {\n    \"id\": \"pl_ubicacion_direccion\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"ubicacion\",\n    \"tags\": [\n      \"direccion\",\n      \"zona10\",\n      \"zona viva\",\n      \"donde queda\",\n      \"como llegar\"\n    ],\n    \"pregunta\": \"¿Dónde se ubica exactamente Polanco?\",\n    \"respuesta\": \"Polanco Parque Boutique se ubica en Zona 10, el corazón financiero y empresarial de Guatemala, con acceso directo a la Zona Viva, centros comerciales, restaurantes y servicios de primer nivel.\"\n  },\n  {\n    \"id\": \"pl_vistas_orientacion\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"ubicacion\",\n    \"tags\": [\n      \"vistas\",\n      \"orientacion\",\n      \"norte\",\n      \"sur\",\n      \"este\",\n      \"oeste\",\n      \"zona viva\",\n      \"vista hermosa\",\n      \"zona14\",\n      \"oakland\"\n    ],\n    \"pregunta\": \"¿Qué vistas tienen los apartamentos en Polanco?\",\n    \"respuesta\": \"Las vistas desde Polanco se dividen por orientación:\\n- Oeste: vistas hacia la Zona Viva.\\n- Norte: vistas hacia Colonia Oakland.\\n- Este: vistas hacia Vista Hermosa.\\n- Sur: vistas hacia Zona 14.\"\n  },\n  {\n    \"id\": \"pl_entorno_ecosistema\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"ubicacion\",\n    \"tags\": [\n      \"entorno\",\n      \"cercania\",\n      \"colegios\",\n      \"comercio\",\n      \"restaurantes\",\n      \"servicios\",\n      \"puntos interes\"\n    ],\n    \"pregunta\": \"¿Qué lugares de interés hay cerca de Polanco?\",\n    \"respuesta\": \"El entorno cercano de Polanco incluye:\\n- Zona Viva: restaurantes, bares y entretenimiento.\\n- Oakland Mall y Miraflores.\\n- Centros empresariales y financieros de Zona 10.\\n- Hospitales privados y clínicas del sector.\\n- Colegios y universidades privadas.\"\n  },\n  {\n    \"id\": \"pl_desarrollador_spectrum\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"desarrollador\",\n    \"tags\": [\n      \"spectrum\",\n      \"desarrollador\",\n      \"trayectoria\",\n      \"proyectos\",\n      \"confianza\",\n      \"experiencia\",\n      \"boutique\"\n    ],\n    \"pregunta\": \"¿Quién desarrolla Polanco? ¿Qué experiencia tiene Spectrum?\",\n    \"respuesta\": \"Spectrum es el desarrollador de Polanco Parque Boutique. Cuenta con amplia trayectoria en el mercado inmobiliario guatemalteco con múltiples proyectos en diferentes categorías.\"\n  },\n  {\n    \"id\": \"pl_garantias_normativas\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"desarrollador\",\n    \"tags\": [\n      \"garantia\",\n      \"normativas\",\n      \"calidad\",\n      \"aval\",\n      \"bancos\",\n      \"certificado\"\n    ],\n    \"pregunta\": \"¿Qué respaldo legal y técnico tiene Polanco?\",\n    \"respuesta\": \"Polanco cumple con normativas vigentes establecidas por las Instituciones de Gobierno de Guatemala. Cuenta con el aval de las principales entidades bancarias del país. Las unidades de vivienda tienen certificado de garantía por un plazo establecido. IMPORTANTE: Polanco NO cuenta con FHA. El financiamiento es únicamente mediante crédito directo bancario.\"\n  },\n  {\n    \"id\": \"pl_programa_conviviendo\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"desarrollador\",\n    \"tags\": [\n      \"conviviendo\",\n      \"comunidad\",\n      \"valor propiedad\",\n      \"areas comunes\",\n      \"gestion social\"\n    ],\n    \"pregunta\": \"¿Qué es Conviviendo by Spectrum?\",\n    \"respuesta\": \"Conviviendo by Spectrum es un programa de gestión social que impulsa comunidades organizadas, funcionales y sostenibles. Fortalece la convivencia y el buen uso de áreas comunes, mejora la estabilidad operativa del proyecto y contribuye a que el valor de la propiedad crezca con el tiempo.\"\n  },\n  {\n    \"id\": \"pl_sostenibilidad_recursos\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"sostenibilidad\",\n    \"tags\": [\n      \"sostenible\",\n      \"ahorro\",\n      \"energia\",\n      \"agua\",\n      \"eficiencia\",\n      \"medio ambiente\"\n    ],\n    \"pregunta\": \"¿Cómo contribuye Polanco al medio ambiente?\",\n    \"respuesta\": \"A través de 'Spectrum Sostenible', un programa de gestión responsable de desechos para una Guatemala más limpia y sostenible.\"\n  },\n  {\n    \"id\": \"pl_modelos_habitaciones\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\n      \"modelos\",\n      \"cuantos modelos\",\n      \"opciones\",\n      \"s39\",\n      \"s42\",\n      \"s58\",\n      \"s67\",\n      \"s86\",\n      \"s87\",\n      \"s91\",\n      \"s92\",\n      \"promover\"\n    ],\n    \"pregunta\": \"¿Cuáles son los modelos de apartamentos en Polanco?\",\n    \"respuesta\": \"Polanco cuenta con 9 modelos disponibles (Niveles 2 al 19) más penthouse. MODELO A PROMOVER: S-87B (3 habitaciones).\\n\\n1 Habitación:\\n- S-39: 1 dormitorio, 1 baño, sala-comedor, cocina. Vista hacia Colonia Oakland.\\n- S-42: 1 dormitorio, 1 baño, sala-comedor, cocina, balcón.\\n\\n2 Habitaciones:\\n- S-58: Dormitorio principal, 1 secundario, 2 baños, sala-comedor, cocina.\\n- S-67: 2 dormitorios, 2 baños, sala-comedor, cocina. Vista hacia Zona 14.\\n\\n3 Habitaciones:\\n- S-86: Dormitorio principal con walk-in closet, 2 secundarios, 2 baños, sala-comedor, cocina. Vista hacia Vista Hermosa.\\n- S-87A: Dormitorio principal con walk-in closet, 2 secundarios, 2 baños, sala-comedor, cocina. Vista hacia Zona Viva.\\n- S-87B ⭐ PROMOVER: Dormitorio principal con walk-in closet, 2 secundarios + closet, 2 baños, sala-comedor, cocina. Vista hacia Atardecer (oeste).\\n- S-91: Dormitorio principal con walk-in closet, 2 secundarios, 2+ baños, sala-comedor, cocina. Vista al amanecer (este).\\n- S-92: Dormitorio principal con walk-in closet, 2 secundarios, 2+ baños, sala-comedor, cocina. Modelo premium.\"\n  },\n  {\n    \"id\": \"pl_modelos_comparacion\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\n      \"comparacion\",\n      \"modelos\",\n      \"resumen\",\n      \"diferencias\",\n      \"cual elegir\",\n      \"todos los modelos\"\n    ],\n    \"pregunta\": \"¿Cuáles son las diferencias entre los modelos de Polanco?\",\n    \"respuesta\": \"Resumen comparativo de modelos de Polanco:\\n\\n1 HAB: S-39, S-42\\n2 HAB: S-58, S-67\\n3 HAB: S-86, S-87A, S-87B (MODELO A PROMOVER), S-91, S-92\\n\\nTodos incluyen acceso a las 16 amenidades del edificio.\"\n  },\n  {\n    \"id\": \"pl_modelo_s87b_promover\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"modelos\",\n    \"tags\": [\n      \"s87b\",\n      \"s-87b\",\n      \"promover\",\n      \"modelo estrella\",\n      \"3 habitaciones\",\n      \"atardecer\",\n      \"oeste\"\n    ],\n    \"pregunta\": \"¿Cuál es el modelo a promover en Polanco?\",\n    \"respuesta\": \"El modelo S-87B es el modelo estrella de Polanco para el equipo comercial. Cuenta con 3 habitaciones completas: dormitorio principal con walk-in closet, 2 dormitorios secundarios con closet, 2 baños completos, sala-comedor y cocina. Tiene orientación privilegiada con vista hacia el Atardecer (oeste).\"\n  },\n  {\n    \"id\": \"pl_precio_general\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\n      \"precio\",\n      \"costo\",\n      \"cuanto cuesta\",\n      \"valor\",\n      \"desde cuanto\",\n      \"rango\"\n    ],\n    \"pregunta\": \"¿Cuánto cuesta un apartamento en Polanco?\",\n    \"respuesta\": \"Para conocer el precio exacto por modelo y unidades disponibles, contacta directamente con un asesor comercial de Spectrum.\"\n  },\n  {\n    \"id\": \"pl_precio_reserva\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\n      \"reserva\",\n      \"costo reserva\",\n      \"apartar\",\n      \"bloquear\",\n      \"como reservar\"\n    ],\n    \"pregunta\": \"¿Cómo puedo reservar un apartamento en Polanco?\",\n    \"respuesta\": \"La reserva se realiza directamente con un asesor comercial de Spectrum. Una vez formalizada la reserva, la unidad queda bloqueada. Requiere formulario de reserva debidamente llenado y firmado.\"\n  },\n  {\n    \"id\": \"pl_financiamiento_general\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\n      \"financiamiento\",\n      \"credito\",\n      \"banco\",\n      \"hipoteca\",\n      \"enganche\",\n      \"mensualidad\",\n      \"cuota\",\n      \"bac\",\n      \"gyt\",\n      \"chn\",\n      \"banrural\",\n      \"industrial\"\n    ],\n    \"pregunta\": \"¿Con qué bancos se puede financiar un apartamento en Polanco?\",\n    \"respuesta\": \"IMPORTANTE: Polanco Parque Boutique NO cuenta con FHA. El financiamiento es únicamente mediante crédito directo bancario.\\n\\nBancos disponibles:\\n- BAC Credomatic — Enganche desde el 10%.\\n- GyT Continental — Enganche desde el 10%.\\n- CHN — Crédito Hipotecario Nacional. Enganche desde el 10%.\\n- Banrural — Enganche desde el 10%.\\n- Banco Industrial — Enganche desde el 10%.\"\n  },\n  {\n    \"id\": \"pl_fha_no\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"precios\",\n    \"tags\": [\n      \"fha\",\n      \"hipoteca asegurada\",\n      \"no fha\",\n      \"primera vivienda\"\n    ],\n    \"pregunta\": \"¿Polanco tiene aval FHA?\",\n    \"respuesta\": \"No. Polanco Parque Boutique NO cuenta con FHA. El financiamiento es únicamente mediante crédito directo bancario con enganche mínimo desde el 10%.\"\n  },\n  {\n    \"id\": \"pl_proceso_compra_pasos\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proceso_compra\",\n    \"tags\": [\n      \"proceso compra\",\n      \"pasos\",\n      \"como comprar\",\n      \"steps\",\n      \"compraventa\",\n      \"como adquirir\"\n    ],\n    \"pregunta\": \"¿Cuál es el proceso para comprar un apartamento en Polanco?\",\n    \"respuesta\": \"El proceso tiene 5 pasos:\\n1) Reserva — Bloquea la unidad elegida. Requiere formulario debidamente llenado y firmado.\\n2) Acuerdo de Compraventa — Documento que inicia formalmente el proceso de venta.\\n3) Formulario de Autorización de Referencias — Investigación en InforNet, EQUIFAX, TransUnion y WORLDCHECKONE.\\n4) Promesa de Compraventa — Contrato legal privado que establece derechos y obligaciones.\\n5) Escritura Pública de Compraventa — Instrumento final que formaliza la transferencia de propiedad.\\n\\nAspectos legales: Factura y escrituras deben coincidir en nombre del comprador. No se puede vender el derecho antes de escriturar. El IUSI es obligatorio.\"\n  },\n  {\n    \"id\": \"pl_proceso_legal_factura\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proceso_compra\",\n    \"tags\": [\n      \"factura\",\n      \"escritura\",\n      \"nombre\",\n      \"legal\",\n      \"registro propiedad\",\n      \"mismo nombre\"\n    ],\n    \"pregunta\": \"¿Puedo poner el apartamento a nombre de otra persona diferente a la factura?\",\n    \"respuesta\": \"No. La factura y las escrituras de compraventa deben estar a nombre de la misma persona. Es un requisito al presentar el testimonio de la escritura pública ante el Registro General de la Propiedad.\"\n  },\n  {\n    \"id\": \"pl_volumen_parqueos\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\n      \"volumen\",\n      \"niveles\",\n      \"parqueos\",\n      \"sotanos\",\n      \"visitas\",\n      \"apartamentos\"\n    ],\n    \"pregunta\": \"¿Cuántos niveles, apartamentos y sótanos tiene Polanco?\",\n    \"respuesta\": \"Polanco cuenta con 22 niveles, 175 apartamentos en 9 modelos (niveles 2 al 19), y 8 sótanos de estacionamiento con parqueos de visita disponibles.\"\n  },\n  {\n    \"id\": \"pl_amenidades_lista\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"amenidades\",\n    \"tags\": [\n      \"amenidades\",\n      \"que tiene\",\n      \"servicios\",\n      \"comodidades\",\n      \"lista\",\n      \"16 amenidades\"\n    ],\n    \"pregunta\": \"¿Qué amenidades ofrece Polanco?\",\n    \"respuesta\": \"Polanco Parque Boutique cuenta con 16 amenidades de primer nivel distribuidas en Nivel 01 y Nivel 21:\\n\\nNivel 01:\\n- Drop Off\\n- Lobby de ingreso\\n- Private Dining (Comedor privado)\\n- Grill Cabanas (Área de churrasqueras)\\n- Children's Playground (Área infantil)\\n- Lounge social\\n- Pool (Piscina)\\n- Spa\\n- Coworking\\n- Meeting Rooms (Salas de reuniones)\\n- Gourmet Kitchen\\n- Sports Lounge\\n- Workout Area (Gimnasio)\\n\\nNivel 21 (Rooftop):\\n- Panoramic Lounge con vistas panorámicas a la ciudad\\n- Fire Pit\"\n  },\n  {\n    \"id\": \"pl_acabados\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"especificaciones\",\n    \"tags\": [\n      \"acabados\",\n      \"piso\",\n      \"cocina\",\n      \"cuarzo\",\n      \"ventanas\",\n      \"cerradura\",\n      \"materiales\",\n      \"low-e\"\n    ],\n    \"pregunta\": \"¿Qué acabados tienen los apartamentos de Polanco?\",\n    \"respuesta\": \"Los apartamentos de Polanco incluyen:\\n- Piso cerámico en áreas sociales y cocina\\n- Piso cerámico imitación madera en dormitorios\\n- Ventanería de aluminio lacado negro con vidrio de cámara y película low-e\\n- Muros y cielos alisados\\n- Closets de melamina con puertas\\n- Puertas MDF texturizadas color café o similar\\n- Chapa electrónica (cerradura eléctrica) en puerta principal\\n- Gabinetes aéreos y de base de melamina en cocina\\n- Top de cuarzo y back splash en cocina\\n- Grifería de monomando cromado\\n- Iluminación con ojos de buey\\n- Zócalo de piso\\n- Ductos secos para aire acondicionado en dormitorios\\n- Cabeza de ducha redonda con grifería monomando\\n- Mampara de baño\\n- Inodoro de dos piezas ahorrador color blanco\\n- Lavamanos de submontar\\n- Gabinete aéreo de melamina en baño\\n- Azulejo cerámico en baños\"\n  },\n  {\n    \"id\": \"pl_cerraduras\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"especificaciones\",\n    \"tags\": [\n      \"cerradura\",\n      \"chapa\",\n      \"electronica\",\n      \"digital\",\n      \"seguridad puerta\"\n    ],\n    \"pregunta\": \"¿Polanco tiene cerraduras eléctricas?\",\n    \"respuesta\": \"Sí. Todos los apartamentos de Polanco incluyen chapa electrónica (cerradura eléctrica) en la puerta principal.\"\n  },\n  {\n    \"id\": \"pl_politica_renta\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\n      \"renta\",\n      \"airbnb\",\n      \"alquiler\",\n      \"largo plazo\",\n      \"no airbnb\",\n      \"30 dias\",\n      \"permanencia\"\n    ],\n    \"pregunta\": \"¿Polanco permite Airbnb? ¿Se puede rentar?\",\n    \"respuesta\": \"No. Polanco Parque Boutique promueve el privilegio de la permanencia. SOLO se permiten rentas de largo plazo (mínimo 30 días). NO se permite Air BnB ni plataformas de renta corta. Esta política fortalece la convivencia y la calidad de vida de la comunidad.\"\n  },\n  {\n    \"id\": \"pl_mantenimiento\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"mantenimiento\",\n    \"tags\": [\n      \"cuota mantenimiento\",\n      \"mensualidad\",\n      \"areas comunes\",\n      \"cuanto pago\",\n      \"que incluye\",\n      \"2.05\"\n    ],\n    \"pregunta\": \"¿Cuánto es la cuota de mantenimiento en Polanco y qué cubre?\",\n    \"respuesta\": \"La cuota de mantenimiento es de $2.05 por metro cuadrado mensual.\\n\\nCubre:\\n- Energía eléctrica de torres y áreas comunes\\n- Extracción de basura\\n- Agua\\n- Servicio de comunicaciones electrónicas\\n- Fumigación y aromaterapia en áreas comunes\\n- Mantenimiento de planta de tratamiento\\n- Extintores y elevadores\\n- Mantenimiento de amenidades (incluyendo piscina)\\n- Cámaras de seguridad y cerco eléctrico\\n- Luminarias y sistema de bombeo\\n- Personal: administración, recepción, guardias, mantenimiento, jardinería, limpieza\\n- Seguro contra incendio y responsabilidad civil\"\n  },\n  {\n    \"id\": \"pl_contacto\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"contacto\",\n    \"tags\": [\n      \"contacto\",\n      \"telefono\",\n      \"whatsapp\",\n      \"web\",\n      \"asesor\",\n      \"agendar cita\",\n      \"comunicacion\"\n    ],\n    \"pregunta\": \"¿Cómo puedo contactar a Polanco o agendar una visita?\",\n    \"respuesta\": \"Para reservar tu apartamento, agendar una cita o resolver cualquier duda, contacta directamente a un asesor comercial de Spectrum.\"\n  },\n  {\n    \"id\": \"pl_diferenciadores\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\n      \"diferenciadores\",\n      \"ventajas\",\n      \"por que elegir\",\n      \"competencia\",\n      \"valor agregado\",\n      \"zona10\"\n    ],\n    \"pregunta\": \"¿Por qué elegir Polanco sobre otros proyectos de la zona?\",\n    \"respuesta\": \"Polanco destaca por:\\n- Ubicación privilegiada en Zona 10, el corazón financiero y corporativo de Guatemala.\\n- 16 amenidades premium de clase internacional (Spa, Private Dining, Panoramic Lounge, Fire Pit).\\n- Ventanería con tecnología Low-E para mayor confort térmico y acústico.\\n- 9 modelos disponibles, con opciones desde 1 hasta 3 dormitorios + Penthouse.\\n- Política de rentas de largo plazo que fortalece la convivencia.\\n- Acabados de alta gama (cuarzo, cerradura electrónica, pisos cerámicos imitación madera).\\n- Rooftop con Panoramic Lounge en Nivel 21.\\n- Amplia trayectoria de Spectrum.\"\n  },\n  {\n    \"id\": \"ppol_apartamento_modelo\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"contacto\",\n    \"tags\": [\n      \"apartamento modelo\",\n      \"showroom\",\n      \"sala de ventas\",\n      \"centro de experiencia\",\n      \"donde ver\",\n      \"visitar\",\n      \"oakland mall\",\n      \"como llegar sala ventas\",\n      \"direccion sala ventas\"\n    ],\n    \"pregunta\": \"¿Dónde puedo ver el apartamento modelo de Polanco? ¿Tienen showroom o sala de ventas?\",\n    \"respuesta\": \"Contamos con un apartamento modelo en nuestro Centro de Experiencia, ubicado en Oakland Mall, Nivel 2, Ciudad de Guatemala. 📍\\nSerá un gusto recibirte y brindarte una asesoría personalizada para que conozcas cada detalle del proyecto. ¡Estamos para servirte!\"\n  },\n  {\n    \"id\": \"pl_entrega_proyecto\",\n    \"proyecto\": \"PPOL\",\n    \"categoria\": \"proyecto\",\n    \"tags\": [\n      \"entrega\",\n      \"fecha\",\n      \"construccion\",\n      \"cuando\",\n      \"mudarse\",\n      \"2027\",\n      \"2028\",\n      \"fecha de entrega\"\n    ],\n    \"pregunta\": \"¿Cuándo entregan los apartamentos de Polanco?\",\n    \"respuesta\": \"Polanco se encuentra en construcción y comercialización. La fecha estimada de entrega es 2027/2028. Para la fecha más actualizada y el avance actual de obra, consulta directamente con tu asesor comercial.\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -608
      ],
      "id": "6315e50f-b459-4b1e-b93a-40fd2f036fc2",
      "name": "LISTA de CHUNKS"
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "spectrum_embedding",
        "vectorIndexName": "spectrum_vector_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        176,
        -608
      ],
      "id": "310477ca-75df-4b6b-a51e-80f78ce14cf4",
      "name": "MongoDB Atlas Vector Store CHUNKS",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -608
      ],
      "id": "e5075db2-8f3e-4d98-85e0-7a61298c6f20",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LISTA de CHUNKS": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "LISTA de CHUNKS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}