SPECTRUM AGENTE/workflows/LEADS FASE 2 - RESUMEN en CRM.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads-fase2",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -16
      ],
      "id": "90a015ef-cd44-453c-b23a-363d157b1f2b",
      "name": "Webhook",
      "webhookId": "5c16b0c0-24e8-49dd-84de-16f7269f4995"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3c4d5e6-0001-0001-0001-000000000001",
              "name": "body",
              "value": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Body>\n<CreacionClientePotencialBot xmlns=\"http://tempuri.org/\">\n<_Proyecto>{{ $json.body.project }}</_Proyecto>\n<_Nombre>{{ $json.body.name.split(' ')[0] }}</_Nombre>\n<_Apellido>{{ $json.body.name.split(' ').slice(1).join(' ') || 'N/A' }}</_Apellido>\n<_TelefonoMovil>{{ $json.body.phone }}</_TelefonoMovil>\n<_CorreEletronico>{{ $json.body.email }}</_CorreEletronico>\n<_ResumenConversacion>{{ $json.body.resumen }}</_ResumenConversacion>\n</CreacionClientePotencialBot>\n</soap:Body>\n</soap:Envelope>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -16
      ],
      "id": "b3c4d5e6-0001-0001-0001-000000000002",
      "name": "Build Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.spectrum.com.gt:8055/Spectrum_WS_GeneracionLead/Service.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "SOAPAction",
              "value": "http://tempuri.org/CreacionClientePotencialBot"
            },
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $('Build Body').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -16
      ],
      "id": "b3c4d5e6-0001-0001-0001-000000000003",
      "name": "POST to CRM"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, project: $('Webhook').item.json.body.project, phone: $('Webhook').item.json.body.phone } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        576,
        -16
      ],
      "id": "b3c4d5e6-0001-0001-0001-000000000004",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Body": {
      "main": [
        [
          {
            "node": "POST to CRM",
            "type": "main","index": 0
          }
        ]
      ]
    },
    "POST to CRM": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "agentsprod.redtec.ai",
          "user-agent": "python-requests/2.34.0",
          "content-length": "271",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate",
          "content-type": "application/json",
          "x-forwarded-for": "135.148.169.27",
          "x-forwarded-host": "agentsprod.redtec.ai",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "f5656a829cd5",
          "x-real-ip": "135.148.169.27"
        },
        "params": {},
        "query": {},
        "body": {
          "_id": "6a2c02ef5404350fc54ac27e",
          "user_id": "086490011605",
          "first_interaction": "2026-06-12T13:00:31.342000",
          "name": "Terisa Ch",
          "phone": "+50240081164",
          "email": "terisacheng@hotmail.com",
          "project": "PMAR",
          "resumen": "A este lead se le envio material de fase 2"
        },
        "webhookUrl": "https://agentsprod.redtec.ai/webhook/leads-fase2",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}
