SPECTRUM AGENTE/workflows/RSVP.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manychat_id"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "nombre"
            },
            {
              "name": "correo"
            },
            {
              "name": "telefono"
            },
            {
              "name": "entrada_usuario"
            },
            {
              "name": "lista_proyectos",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1904,
        1488
      ],
      "id": "0378830d-82e1-4432-8af4-316f936ffa44",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf094ca3-c00a-43ab-ace2-67fd0e615aed",
              "name": "manychat_id",
              "value": "={{ $json.manychat_id }}",
              "type": "string"
            },
            {
              "id": "5780b9e2-72a8-42a7-b7b8-d5c9087d0cde",
              "name": "proyecto",
              "value": "={{ $json.proyecto }}",
              "type": "string"
            },
            {
              "id": "f205ffa2-6326-40fb-9a28-879e084e4263",
              "name": "proyecto_nombre",
              "value": "={{ \n  Object.values($json.lista_proyectos)\n    .find(p => p.includes($json.proyecto))\n    ?.split('->')[0]\n    .trim() || $json.proyecto \n}}",
              "type": "string"
            },
            {
              "id": "abdcd4a9-2c7d-4043-9f86-eec5da4aa55d",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "f1aaf0c3-bcf4-4986-b3fa-df08d329e423",
              "name": "correo",
              "value": "={{ $json.correo }}",
              "type": "string"
            },
            {
              "id": "a0f6512e-dcb6-43b7-b491-fb3963bbe716",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "cc78333c-91f0-4007-ad4a-607b3f5f3fd6",
              "name": "entrada_usuario",
              "value": "={{ $json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "2b56aad2-0829-4706-a928-ac1d8d0d2308",
              "name": "sendTo",
              "value": "=jorge.menzel@garooinc.com,hpalma@spectrum.com.gt,vramirez@spectrum.com.gt,lrivas@spectrum.com.gt,dmartinez@spectrum.com.gt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        1488
      ],
      "id": "1715b84a-9148-4088-bd58-f8bf193e46cc",
      "name": "CONTEXT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.entrada_usuario }}",
        "options": {
          "systemMessage": "=  # Zona horaria: America/Guatemala (UTC-6)\n  # Fecha y hora actual: {{\n  $now.setZone('America/Guatemala').toFormat('yyyy-MM-dd HH:mm') }}\n  # IMPORTANTE: Al emitir `fecha_hora` usa SIEMPRE ISO 8601 CON offset Guatemala: YYYY-MM-DDTHH:MM:00-06:00. NUNCA omitas el `-06:00` ni emitas la fecha en UTC (`Z`). Si lo haces, el sistema guardará una hora 6 horas distinta a la que pidió el lead.\n  # Proyecto: {{ $('CONTEXT').item.json.proyecto_nombre }}\n\n  ## ROL ##\n  Eres un agente de agendamiento de SPECTRUM VIVIENDA.\n  Tu única función: recolectar los datos necesarios para agendar una cita o\n   coordinar una llamada con el lead.\n  No das información del proyecto. No respondes preguntas sobre el\n  proyecto. Solo agendas.\n\n  ## CONTEXTO DEL LEAD ##\n  - Nombre: {{ $('CONTEXT').item.json.nombre }}\n  - Correo: {{ $('CONTEXT').item.json.correo }}\n  - Teléfono: {{ $('CONTEXT').item.json.telefono }}\n  - Proyecto de interés: {{ $('CONTEXT').item.json.proyecto_nombre }}\n\n  ## TIPOS DE AGENDAMIENTO ##\n\n  **cita_presencial:** Visita física en sala de ventas.\n  **cita_virtual:** Videollamada con un asesor.\n  **llamada:** El lead quiere ser contactado por voz por un asesor. ESTO INCLUYE TANTO LA LLAMADA TELEFÓNICA COMO LA LLAMADA POR WHATSAPP — ambas son la MISMA categoría `tipo_agendamiento: \"llamada\"`. NUNCA clasifiques una \"llamada por WhatsApp\" como `cita_virtual`, ni crees sub-tipos. Por defecto se asume llamada telefónica; el campo `medio_llamada` solo se llena con \"whatsapp\" SI el cliente lo menciona explícitamente — NO se le pregunta activamente.\n  **Atajo directo:** si el cliente dice \"contáctenme por WhatsApp\", \"por WhatsApp\", \"prefiero WhatsApp\" u otra variante como primera respuesta al tipo de cita → clasifica DIRECTAMENTE como `tipo_agendamiento: \"llamada\"` + `medio_llamada: \"whatsapp\"` sin pasar por el upsell de cita virtual.\n\n  ## DATOS A RECOLECTAR SEGÚN TIPO ##\n\n  ### Para cita_presencial y cita_virtual:\n  1. fecha_hora (ISO 8601 YYYY-MM-DDTHH:MM:00-06:00 — SIEMPRE con offset Guatemala)\n     - Pregunta siempre: \"¿Para qué fecha y a qué hora te gustaría\n  visitarnos?\"\n     - Convierte lenguaje natural: \"mañana a las 3\" → fecha ISO\n     - Si da múltiples opciones (\"martes 3pm o miércoles 4pm\", \"el lunes o el martes\"): toma SIEMPRE la primera opción y confirma: \"Tomé el [primera opción]. ¿Te parece bien?\"\n     - Si da un rango de horas (\"entre las 9 y la 1\", \"de 9 a 1\", \"en la mañana/tarde/noche\", \"a partir de X\"): toma el INICIO del rango. Rangos vagos → mañana=9:00, tarde=14:00, noche=19:00. Confirma siempre la hora elegida.\n     - Si da fecha pasada, indícalo amablemente y pide otra\n     - Al mostrar la fecha al usuario SIEMPRE usa formato natural: día de semana + día + mes en letras + hora con a.m./p.m. Ejemplo: el viernes 22 de mayo a las 10:00 a.m. NUNCA uses formato ISO al hablar con el usuario.\n  2. numero_habitaciones: \"1\", \"2\" o \"3\"\n     - Pregunta: \"¿Cuántas habitaciones te interesan?\"\n  3. intencion_compra: \"V\" (vivir) o \"I\" (invertir)\n     - Pregunta: \"¿Buscas el apartamento para vivir o para invertir?\"\n     - NUNCA expongas los códigos V/I al usuario\n\n  ### Para llamada:\n  1. horario_preferido: texto natural del horario preferido\n     - Pregunta: \"¿En qué horario te queda bien recibir la llamada?\"\n  2. intencion_compra: \"V\" (vivir) o \"I\" (invertir)\n     - Pregunta: \"¿Buscas el apartamento para vivir o para invertir?\"\n     - NUNCA expongas los códigos V/I al usuario\n  - NO pidas fecha_hora específica al lead.\n  - fecha_hora INTERNA para llamadas: aunque NO preguntas al lead por la fecha exacta, DEBES calcularla internamente combinando la fecha actual del sistema (disponible en el encabezado de este prompt) con la hora indicada en horario_preferido. Reglas:\n     · \"hoy a las X\" → fecha actual + hora X en ISO -06:00\n     · \"mañana a las X\" → fecha actual +1 día + hora X\n     · \"[día de semana] a las X\" → próxima ocurrencia de ese día + hora X\n     · Hora vaga: mañana=09:00, mediodía=12:00, tarde=14:00, noche=19:00\n     · Si el horario es muy indefinido → usa 09:00 del día más próximo mencionado\n     · SIEMPRE emite fecha_hora en formato YYYY-MM-DDTHH:MM:00-06:00 cuando hay horario_preferido. NUNCA emitas null si puedes inferir alguna hora.\n  - medio_llamada: NO se pregunta activamente. Valor por defecto: \"telefono\". Solo se cambia a \"whatsapp\" si el cliente lo menciona espontáneamente (\"llámenme por WhatsApp\", \"prefiero que me contacten por WhatsApp\", \"mejor por WhatsApp\", etc.). En cualquier otro caso, asume \"telefono\".\n\n  ORDEN OBLIGATORIO para llamada:\n  1. Pregunta horario_preferido\n  2. En cuanto el lead dé horario_preferido → marca cita_confirmada: true Y envía confirmación en el MISMO turno: \"Perfecto, [nombre]! Un asesor te contactará en el horario que indicaste: [horario]. ¿Puedo ayudarte con algo más?\" (si mencionó WhatsApp explícitamente por su cuenta, agrega \"por WhatsApp\" antes del punto).\n  3. En turnos siguientes continúa recolectando intencion_compra si aún falta (pregunta: \"¿Buscas el apartamento para vivir o para invertir?\").\n  🔒 NUNCA vuelvas a poner cita_confirmada: false una vez que fue true (excepto si el lead cambia de tipo — ver CAMBIO DE TIPO).\n  NUNCA esperes intencion_compra para activar cita_confirmada en llamadas — la notificación se dispara con solo el horario.\n  NUNCA preguntes por el medio (teléfono vs WhatsApp) — solo regístralo si el usuario lo dijo por su cuenta.\n\n  ## FLUJO DE CONVERSACIÓN ##\n\n  **PASO 1 — IDENTIFICAR TIPO:**\n  PRIMERO revisa el historial de conversación: si ya existe un `tipo_agendamiento` confirmado (presencial, virtual o llamada), SÁLTATE este paso y ve directamente al dato faltante (fecha/hora, habitaciones, intención, etc.). NUNCA repitas la pregunta de tipo si ya fue elegido.\n  Si el usuario no especifica, pregunta:\n  \"¿Prefieres una visita presencial en sala de ventas, una cita virtual o\n  que te llamemos?\"\n  - Una vez que confirme el tipo, confirma de recibido e INMEDIATAMENTE\n  pregúntale por la fecha/hora en el mismo mensaje.\n\n**CUANDO EL USUARIO PIDE SOLO UNA LLAMADA:**\nSi el usuario dijo \"llamada\", \"por llamada\", \"que me llamen\" o cualquier variante\nexplícita → clasifica DIRECTAMENTE como tipo: \"llamada\" y pide horario_preferido. NO ofrezcas cita virtual. El upsell aplica SOLO si el usuario llegó al RSVP sin haber mencionado ningún tipo todavía.\n\n  **CUANDO EL CLIENTE MENCIONA WHATSAPP EXPLÍCITAMENTE:**\n  No ofrezcas cita virtual. Clasifica directamente como `tipo_agendamiento: \"llamada\"` con `medio_llamada: \"whatsapp\"` y avanza a pedir `horario_preferido`.\n\n  **CAMBIO DE TIPO DURANTE EL FLUJO:**\n  Si el lead YA tiene un `tipo_agendamiento` registrado pero en un mensaje posterior indica preferencia por un tipo diferente (ej: ya eligió \"cita_presencial\" pero dice \"pueden llamarme\", \"mejor llámenme\", \"puede llamar antes\", \"prefiero que me contacten\" o variantes similares):\n  → Actualiza `tipo_agendamiento` al nuevo tipo.\n  → Resetea a `null` los campos que no aplican al nuevo tipo: si cambia a \"llamada\" → `fecha_hora: null`, `numero_habitaciones: null`; si cambia a \"cita_presencial\"/\"cita_virtual\" → `horario_preferido: null`.\n  → Pon `cita_confirmada: false` (reinicia el gate de notificación para el nuevo tipo).\n  → Solicita el primer dato obligatorio del nuevo tipo.\n\n  **NUNCA ofrezcas \"solo información\" como alternativa a agendar:**\n  Si el usuario dice \"envíenme información por WhatsApp\", \"mándenme detalles\", \"¿pueden enviarme info?\" o similar → NO interpretes esto como sustituto de una cita. Reconoce el interés e invítalo SIEMPRE a agendar: \"Con gusto te comparto más detalles. ¿Prefieres que te llamemos, agendar una visita presencial o una cita virtual?\" NUNCA preguntes \"¿prefiere llamada o información por WhatsApp?\".\n\n  **PASO 2 — RECOLECCIÓN SECUENCIAL:**\n  Pregunta solo UN dato por mensaje. No bombardees con todo junto.\n  Si el usuario da varios datos a la vez, procésalos todos y pide solo los\n  faltantes.\n\n  **PASO 3 — CONFIRMACIÓN AUTOMÁTICA:**\n  Para cita_presencial y cita_virtual: en cuanto tengas una fecha_hora válida → marca cita_confirmada: true Y confirma en el MISMO mensaje:\n  \"¡Perfecto, [nombre]! Tu [tipo] quedó agendada para el [fecha natural]. Un asesor te contactará por WhatsApp para confirmar los detalles. ¿Cuántas habitaciones te interesan?\"\n  (si ya tienes habitaciones, pregunta intencion_compra; si tienes ambos, cierra con \"¿Puedo ayudarte con algo más?\")\n  NO uses \"¿Es correcto?\" — confirma directamente sin pedir aprobación del lead.\n  El mensaje de confirmación DEBE incluir:\n  1. Confirmación breve de la cita (tipo + fecha/hora en formato natural).\n  2. Que un asesor contactará al lead por WhatsApp para confirmar detalles (o enviar enlace si es virtual).\n  3. El siguiente dato a recolectar (habitaciones o intencion_compra) o invitación abierta si ya están todos.\n  🔒 UNA VEZ QUE cita_confirmada ES true, MANTENLA EN true EN TODOS LOS TURNOS SIGUIENTES. NUNCA la pongas en false aunque el lead cambie datos restantes — excepto si cambia de tipo de cita (ver CAMBIO DE TIPO). Poner false después de true haría que la notificación se dispare de nuevo.\n  Para llamada: ver ORDEN OBLIGATORIO para llamada más arriba.\n\n  ## REGLAS ESTRICTAS ##\n  - El bot NUNCA ofrece enviar el enlace de la reunión por sí mismo;\n  siempre delega esta acción al asesor.\n  - Pregunta solo UN dato por mensaje.\n  - NUNCA menciones los campos internos ni los códigos al usuario.\n  - NUNCA uses \"RESERVA\" en el response.\n  - NUNCA incluyas prefijos como \"Tu:\" ni markdown.\n  - NUNCA expongas los códigos V/I al usuario.\n  - En cada respuesta incluye TODOS los parámetros ya recopilados, aunque\n  no sean nuevos en ese turno; solo van como null los que el lead AÚN NO\n  ha proporcionado.\n  - 🔒 NUNCA pongas en `null` un dato que YA fue proporcionado en turnos anteriores (especialmente `tipo_agendamiento`, `fecha_hora`, `horario_preferido`, `numero_habitaciones`, `intencion_compra`). Si ya está en el historial de la conversación, REPÍTELO tal cual en CADA respuesta. Poner null un dato ya dado provoca que la cita NO se actualice en el sistema.\n  - 🔒 NUNCA pongas `cita_confirmada: false` si en turnos anteriores fue `true` — excepto cuando el lead cambia de tipo de cita (ver CAMBIO DE TIPO), caso en el que sí se reinicia a false para el nuevo tipo.\n  - NO avances al siguiente dato hasta que el actual sea válido.\n\n  ## FORMATO DE SALIDA OBLIGATORIO ##\n  Responde ÚNICAMENTE con este JSON en una sola línea, sin bloques de\n  código:\n\n  {\"response\":\"<texto al usuario>\",\"parameters\":{\"tipo_agendamiento\":\"<cita\n  _presencial|cita_virtual|llamada|null>\",\"horario_preferido\":\"<texto|null>\n  \",\"medio_llamada\":\"<telefono|whatsapp|null>\",\"fecha_hora\":\"<ISO_con_offset_-06:00|null>\",\"numero_habitaciones\":\"<1|2|3|null>\",\"intenci\n  on_compra\":\"<V|I|null>\",\"cita_confirmada\":<true|false>}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1456,
        1488
      ],
      "id": "168b31d6-a7ea-4531-b750-421a88e4ca33",
      "name": "RSVP Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('CONTEXT').item.json.manychat_id }}",
        "collectionName": "chat_histories_rsvp",
        "databaseName": "Centralizado",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -1312,
        1712
      ],
      "id": "b3e6159d-280c-4ea7-a9c6-729d31cd0cd8",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92c59e06-0b5e-4ace-af31-3303c130b394",
              "leftValue": "={{ \n  (\n    $json.output.parameters.tipo_agendamiento !== null && \n    $json.output.parameters.tipo_agendamiento !== 'null' && \n    $json.output.parameters.tipo_agendamiento !== ''\n  ) \n  ||\n  (\n    $json.output.parameters.fecha_hora !== null && \n    $json.output.parameters.fecha_hora !== 'null' && \n    $json.output.parameters.fecha_hora !== ''\n  ) \n  ||\n  (\n    $json.output.parameters.horario_preferido !== null &&\n    $json.output.parameters.horario_preferido !== 'null' &&\n    $json.output.parameters.horario_preferido !== ''\n  )\n  ||\n  $json.output.parameters.cita_confirmada === true\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        1488
      ],
      "id": "249e76a3-e209-4b8e-acfa-0ad5199ea317",
      "name": "If TIENE FECHA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d992e9f0-ff10-42ea-9dc8-c756f5d77cc5",
              "leftValue": "={{ $('Find Appointment').first().json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        1392
      ],
      "id": "ab39b2ce-6b66-4f02-94b8-668348be0604",
      "name": "IF APPOINTMENT EXIST"
    },
    {
      "parameters": {
        "jsCode": "const params = $('Parse RSVP Output').first().json.output.parameters;\nconst ctx = $('CONTEXT').item.json;\n\nconst data = {\n  _id: $('Find Appointment').first().json._id.toString().replace(/^\"(.*)\"$/, '$1'),\n  updated_at: $now.toISO()\n};\n\nif (params.tipo_agendamiento && params.tipo_agendamiento !== 'null') data.tipo = params.tipo_agendamiento;\nif (params.fecha_hora && params.fecha_hora !== 'null') data.fecha_hora = params.fecha_hora;\nif (params.horario_preferido && params.horario_preferido !== 'null') data.horario_preferido = params.horario_preferido;\nif (params.medio_llamada && params.medio_llamada !== 'null') data.medio_llamada = params.medio_llamada;\nif (params.numero_habitaciones && params.numero_habitaciones !== 'null') data.habitaciones = params.numero_habitaciones;\nif (params.intencion_compra && params.intencion_compra !== 'null') data.intencion = params.intencion_compra;\nif (params.metodo_contacto_pref && params.metodo_contacto_pref !== 'null') data.contacto_pref = params.metodo_contacto_pref;\nif (params.estado_civil && params.estado_civil !== 'null') data.estado_civil = params.estado_civil;\nif (params.cita_confirmada) data.confirmada = params.cita_confirmada;\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1296
      ],
      "id": "e7c4fb1f-4ac1-4df5-8e42-daadb43cdc4a",
      "name": "Update Appointment Data"
    },
    {
      "parameters": {
        "jsCode": "const params = $('Parse RSVP Output').first().json.output.parameters;\nconst ctx = $('CONTEXT').item.json;\n\nconst data = {\n  manychat_id: ctx.manychat_id,\n  proyecto: ctx.proyecto,\n  nombre: ctx.nombre,\n  correo: ctx.correo,\n  telefono: ctx.telefono,\n  created_at: $now.toISO(),\n  updated_at: $now.toISO()\n};\n\nif (params.tipo_agendamiento && params.tipo_agendamiento !== 'null') data.tipo = params.tipo_agendamiento;\nif (params.fecha_hora && params.fecha_hora !== 'null') data.fecha_hora = params.fecha_hora;\nif (params.horario_preferido && params.horario_preferido !== 'null') data.horario_preferido = params.horario_preferido;\nif (params.medio_llamada && params.medio_llamada !== 'null') data.medio_llamada = params.medio_llamada;\nif (params.numero_habitaciones && params.numero_habitaciones !== 'null') data.habitaciones = params.numero_habitaciones;\nif (params.intencion_compra && params.intencion_compra !== 'null') data.intencion = params.intencion_compra;\nif (params.metodo_contacto_pref && params.metodo_contacto_pref !== 'null') data.contacto_pref = params.metodo_contacto_pref;\nif (params.estado_civil && params.estado_civil !== 'null') data.estado_civil = params.estado_civil;\nif (params.cita_confirmada) data.confirmada = params.cita_confirmada;\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1520
      ],
      "id": "3f0af54c-25c7-4ef0-99e4-f60c50938ee5",
      "name": "Insert Appointment Data"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "appointments",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(',') }}",
        "options": {
          "dateFields": "updated_at"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        1296
      ],
      "id": "5e8c2f9b-c241-451b-9162-977bb08f8eba",
      "name": "Update Appointment",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "appointments",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(',') }}",
        "options": {
          "dateFields": "created_at,updated_at"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        1520
      ],
      "id": "122199f8-886f-477b-8d3f-2bb6d5bf6f5b",
      "name": "Insert Appointment",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r1Jf5vwrkBrT4dEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/r1Jf5vwrkBrT4dEu",
          "cachedResultName": "Notifications Master"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_alerta": "cita",
            "datos": "={{ \n  {\n    \"proyecto\": $('CONTEXT').item.json.proyecto_nombre || 'No identificado',\n    \"nombre_lead\": $('CONTEXT').item.json.nombre || 'No registrado',\n    \"telefono_lead\": $('CONTEXT').item.json.telefono || 'No registrado',\n    \"correo_lead\": $('CONTEXT').item.json.correo || 'No registrado',\n    \"fecha_cita\": $('HTML').item.json.fecha || 'Por confirmar',\n    \"modalidad\": $('HTML').item.json.modalidad || 'Presencial',\n    \"tipo_agendamiento\": $('HTML').item.json.tipo_agendamiento || null,\n    \"horario_preferido\": $('HTML').item.json.horario_preferido || null,\n    \"medio_llamada\": $('HTML').item.json.medio_llamada || null,\n    \"medio_llamada_label\": $('HTML').item.json.medio_llamada_label || '-'\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tipo_alerta",
              "displayName": "tipo_alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "datos",
              "displayName": "datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        1296
      ],
      "id": "11ff2e5c-7e1c-4e77-9f18-a286683728e7",
      "name": "'Notifications Master' Cita"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a3c4317-c310-4233-8dbc-6b7190a3417f",
              "leftValue": "={{ $('Parse RSVP Output').item.json.output.parameters.cita_confirmada === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "b2f5e8a1-d3c7-4f92-a1e6-9c4b0d8e2f63",
              "leftValue": "={{ $('Find Appointment').first().json.confirmada !== true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        1392
      ],
      "id": "c9295804-6f0e-46ee-a179-00bb7bc22acb",
      "name": "IF CONFIRMADA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1e815fb-c2c8-4ea2-8702-0469bce83c44",
              "name": "response",
              "value": "={{ $('Parse RSVP Output').item.json.output.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        1680
      ],
      "id": "1dee85db-cde8-4c20-ba3b-14b42e427228",
      "name": "RESPONSE 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        1488
      ],
      "id": "000506ce-b51b-421c-ac79-f77759d9f894",
      "name": "NADA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17040735-ba26-4907-a78f-586ea71fcbe9",
              "name": "response",
              "value": "={{ $('Parse RSVP Output').item.json.output.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        1488
      ],
      "id": "59c28793-dc35-4c9a-acef-51525ae146bf",
      "name": "RESPONSE FINAL"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('CONTEXT').item.json;\nconst params = $('Parse RSVP Output').item.json.output.parameters;\n\nconst proyectoNombre = ctx.proyecto_nombre || ctx.proyecto;\nconst intencion = params.intencion_compra === 'V' ? 'Vivir' : params.intencion_compra === 'I' ? 'Invertir' : '-';\nconst contacto = {'2':'Correo','3':'Llamada','4':'WhatsApp','5':'Cualquiera'}[params.metodo_contacto_pref] || '-';\n\nconst esCita = ['cita_presencial', 'cita_virtual'].includes(params.tipo_agendamiento);\n\nconst tipoLabel = {\n  'cita_presencial': '🏢 Visita presencial en sala de ventas',\n  'cita_virtual': '💻 Cita virtual (Teams / Meet / Zoom)',\n  'llamada': '📞 Llamada telefónica'\n}[params.tipo_agendamiento] || '-';\n\nconst fechaIso = params.fecha_hora || $('Find Appointment').first().json.fecha_hora;\nlet fecha = '-';\nif (fechaIso) {\n    const hasOffset = /[+-]\\d{2}:?\\d{2}$|Z$/.test(fechaIso);\n  const dt = hasOffset\n    ? DateTime.fromISO(fechaIso).setZone('America/Guatemala')\n    : DateTime.fromISO(fechaIso, { zone: 'America/Guatemala' });\n  if (dt.isValid) {\n    const txt = dt.setLocale('es').toFormat(\"cccc d 'de' LLLL 'de' yyyy 'a las' h:mm a\");\n    fecha = txt.charAt(0).toUpperCase() + txt.slice(1) + ' (hora Guatemala)';\n  }\n}\nconst medioLlamadaLabel = params.medio_llamada === 'whatsapp' ? '📱 WhatsApp' : params.medio_llamada === 'telefono' ? '📞 Teléfono' : '-';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head><meta charset=\"utf-8\"><title>Nueva cita — SPECTRUM VIVIENDA</title></head>\n<body style=\"background:#f7f7f8;margin:0;padding:0;font-family:Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td align=\"center\" style=\"padding:28px 16px;\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\">\n\n  <tr><td style=\"background:#1a1a2e;padding:24px 32px;\">\n    <h1 style=\"color:#fff;margin:0;font-size:20px;\">🏢 SPECTRUM VIVIENDA</h1>\n    <p style=\"color:#a0a0b0;margin:4px 0 0;font-size:14px;\">\n      ${esCita ? 'Nueva cita registrada' : 'Nueva solicitud de llamada'}\n    </p>\n  </td></tr>\n\n  <tr><td style=\"background:#f0f4ff;padding:16px 32px;border-bottom:1px solid #e0e8ff;\">\n    <p style=\"margin:0;font-size:16px;font-weight:bold;color:#1a1a2e;\">📍 ${proyectoNombre}</p>\n    <p style=\"margin:4px 0 0;font-size:14px;color:#555;\">${tipoLabel}</p>\n  </td></tr>\n\n  <tr><td style=\"padding:24px 32px;\">\n    <h2 style=\"font-size:13px;text-transform:uppercase;color:#888;margin:0 0 12px;\">Datos del Lead</h2>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;width:45%;\">Nombre</td>\n          <td style=\"font-size:14px;color:#1a1a2e;font-weight:bold;\">${ctx.nombre}</td></tr>\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Correo</td>\n          <td style=\"font-size:14px;color:#1a1a2e;\">${ctx.correo}</td></tr>\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Teléfono</td>\n          <td style=\"font-size:14px;color:#1a1a2e;\">${ctx.telefono}</td></tr>\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Intención</td>\n          <td style=\"font-size:14px;color:#1a1a2e;\">${intencion}</td></tr>\n      ${params.estado_civil ? `\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Estado civil</td>\n          <td style=\"font-size:14px;color:#1a1a2e;\">${params.estado_civil}</td></tr>` : ''}\n    </table>\n  </td></tr>\n\n  <tr><td style=\"padding:0 32px 24px;\">\n    <h2 style=\"font-size:13px;text-transform:uppercase;color:#888;margin:0 0 12px;\">\n      ${esCita ? 'Detalles de la cita' : 'Detalles de la llamada'}\n    </h2>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;width:45%;\">Tipo</td>\n          <td style=\"font-size:14px;color:#1a1a2e;font-weight:bold;\">${tipoLabel}</td></tr>\n      ${esCita ? `\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Fecha y hora</td>\n          <td style=\"font-size:14px;color:#1a1a2e;font-weight:bold;\">${fecha}</td></tr>\n      ${params.numero_habitaciones ? `\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Habitaciones</td>\n          <td style=\"font-size:14px;color:#1a1a2e;\">${params.numero_habitaciones}</td></tr>` : ''}\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Contacto preferido</td>\n          <td style=\"font-size:14px;color:#1a1a2e;\">${contacto}</td></tr>` : `\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Horario preferido</td>\n          <td style=\"font-size:14px;color:#1a1a2e;font-weight:bold;\">${params.horario_preferido || '-'}</td></tr>\n      <tr><td style=\"padding:5px 0;font-size:14px;color:#555;\">Medio de llamada</td>\n          <td style=\"font-size:14px;color:#1a1a2e;font-weight:bold;\">${medioLlamadaLabel}</td></tr>`}\n    </table>\n  </td></tr>\n\n  <tr><td style=\"background:#f7f7f8;padding:14px 32px;border-top:1px solid #eee;\">\n    <p style=\"margin:0;font-size:12px;color:#aaa;text-align:center;\">\n      Sistema automatizado SPECTRUM VIVIENDA · ${new Date().toLocaleString('es-GT', {timeZone:'America/Guatemala'})}\n    </p>\n  </td></tr>\n\n</table>\n</td></tr>\n</table>\n</body>\n</html>`;\n\nreturn [{ json: { html, fecha, modalidad: tipoLabel, tipo_agendamiento: params.tipo_agendamiento || null, horario_preferido: params.horario_preferido || null, medio_llamada: params.medio_llamada || null, medio_llamada_label: medioLlamadaLabel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1296
      ],
      "id": "4bb5a763-b43a-477a-8a64-993e0a89014e",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\n\nfunction extractJSON(text) {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (!match) return null;\n  try {\n    return JSON.parse(match[0]);\n  } catch(e) {\n    return null;\n  }\n}\n\nconst parsed = extractJSON(raw);\n\nif (!parsed) {\n  return [{\n    json: {\n      output: {\n        response: raw,\n        parameters: {\n          tipo_agendamiento: null,\n          horario_preferido: null,\n          medio_llamada: null,\n          fecha_hora: null,\n          numero_habitaciones: null,\n          intencion_compra: null,\n          metodo_contacto_pref: null,\n          estado_civil: null,\n          cita_confirmada: false\n        }\n      }\n    }\n  }];\n}\n\nconst p = parsed.parameters || {};\n\n// Normaliza valores \"null\" string a null real\nconst norm = (v) => (v === 'null' || v === '' || v === undefined) ? null : v;\n\nreturn [{\n  json: {\n    output: {\n      response: parsed.response || raw,\n      parameters: {\n        tipo_agendamiento: norm(p.tipo_agendamiento),\n        horario_preferido: norm(p.horario_preferido),\n        medio_llamada: (() => { const v = norm(p.medio_llamada); if (!v) return null; const s = String(v).toLowerCase().replace(/[^a-z]/g, ''); if (s.includes('whats')) return 'whatsapp'; if (s.includes('telef') || s.includes('phone') || s === 'tel') return 'telefono'; return s === 'telefono' || s === 'whatsapp' ? s : null; })(),\n        fecha_hora: (() => { const raw = norm(p.fecha_hora); if (!raw) return null; const local =\n  raw.replace(/(\\.[0-9]+)?(Z|[+-]\\d{2}:?\\d{2})$/, ''); return local + '-06:00'; })(),\n        numero_habitaciones: norm(p.numero_habitaciones),\n        intencion_compra: norm(p.intencion_compra),\n        metodo_contacto_pref: norm(p.metodo_contacto_pref),\n        estado_civil: norm(p.estado_civil),\n        cita_confirmada: p.cita_confirmada === true\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        1488
      ],
      "id": "1c1aeb09-d5d6-471d-8728-29625627a5ee",
      "name": "Parse RSVP Output"
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        688,
        1296
      ],
      "id": "52b05910-fa6b-4836-9f88-72424f5a4137",
      "name": "HTML PURO"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "has_reservation",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1584,
        1296
      ],
      "id": "66e69eea-abae-479b-9ebe-5a41903684be",
      "name": "Update User",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a52d8ad-da2c-4760-9834-ac9e439b4841",
              "name": "_id",
              "value": "={{ $('Find User').item.json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "1660f796-d040-4c8c-9bd3-e26e6eda9daf",
              "name": "has_reservation",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        1296
      ],
      "id": "58bd6cb6-ab0c-4547-b931-b58960176ae2",
      "name": "reservation update"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1440,
        1712
      ],
      "id": "85de75b6-5d8a-483b-80cc-39489aa509ce",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fl0nmLLeTH299pzW",
          "name": "Spectrum  Bot"
        }
      }
    },
    {
      "parameters": {
        "collection": "appointments",
        "options": {},
        "query": "={\n  \"manychat_id\": \"{{$('CONTEXT').item.json.manychat_id}}\",\n  \"proyecto\": \"{{$('CONTEXT').item.json.proyecto}}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -656,
        1392
      ],
      "id": "d3b3ad04-8ba1-45ae-a8ad-3b947ef6c657",
      "name": "Find Appointment",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\"manychat_id\": \"{{$('CONTEXT').item.json.manychat_id}}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1136,
        1296
      ],
      "id": "1debc88d-e0fc-407d-a4dc-78e34f4d3657",
      "name": "Find User",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONTEXT": {
      "main": [
        [
          {
            "node": "RSVP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSVP Agent": {
      "main": [
        [
          {
            "node": "Parse RSVP Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RSVP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If TIENE FECHA": {
      "main": [
        [
          {
            "node": "Find Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RESPONSE 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF APPOINTMENT EXIST": {
      "main": [
        [
          {
            "node": "Update Appointment Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment Data": {
      "main": [
        [
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Appointment Data": {
      "main": [
        [
          {
            "node": "Insert Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment": {
      "main": [
        [
          {
            "node": "IF CONFIRMADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Appointment": {
      "main": [
        [
          {
            "node": "IF CONFIRMADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "'Notifications Master' Cita": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CONFIRMADA": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESPONSE 1": {
      "main": [
        [
          {
            "node": "RESPONSE FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NADA": {
      "main": [
        [
          {
            "node": "RESPONSE FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTML PURO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSVP Output": {
      "main": [
        [
          {
            "node": "If TIENE FECHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML PURO": {
      "main": [
        [
          {
            "node": "'Notifications Master' Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "RESPONSE FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reservation update": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RSVP Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment": {
      "main": [
        [
          {
            "node": "IF APPOINTMENT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "reservation update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}