SPECTRUM AGENTE/workflows/Send Media.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const proyecto = $input.item.json.proyecto || \"PVV\";\nconst tipo = ($input.item.json.tipo_media || \"bienvenida\").toLowerCase().trim();\nconst canal = ($input.item.json.canal || \"whatsapp\").toLowerCase().trim();\n\n// URLs por proyecto y tipo. Llenar conforme Dayrin suba archivos a Cloudinary.\n// Tipos: bienvenida (video maestro M1), amenidad (video amenidades M2),\n//        plano (PDF brochure M3), avance_obra (video obra — solo PVV y PPO).\nconst database = {\n  \"PVV\": {\n    \"bienvenida\":  \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780984094/pvv_bienvenida_xs2gef.mp4\",\n    \"amenidad\":    \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780976014/pvv_amenidades_mtxjzk.mp4\",\n    \"plano\":       \"https://drive.usercontent.google.com/download?id=1m7-eXU3Lw1xVRRsDvJ0B5Czxda4hFvGX&export=download\",\n    \"avance_obra\": \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780972932/PVV_MAR_IG_OBRA_hbazgx.mp4\"\n  },\n  \"PMAR\": {\n    \"bienvenida\":  \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780982219/pmar_bienvenida_bhen3o.mp4\",\n    \"amenidad\":    \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780975779/pmar_amenidades_nzlzct.mp4\",\n    \"plano\":       \"https://drive.usercontent.google.com/download?id=1fT3tPv0dYkzuJcnD8LJHC1GtDAyXbszN&export=download\",\n    \"avance_obra\": null\n  },\n  \"PPO\": {\n    \"bienvenida\":  \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780982064/ppo_bienvenida_krer9u.mp4\",\n    \"amenidad\":    \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780975716/ppo_amenidades_ojrp36.mp4\",\n    \"plano\":       \"https://drive.usercontent.google.com/download?id=1FbmQA96iJW6uosODYPHWbzGXPxUoUlD-&export=download\",\n    \"avance_obra\": \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780972938/PPO_ABR_IG_OBRA_vwtfhw.mp4\"\n  },\n  \"PPOL\": {\n    \"bienvenida\":  \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780982055/ppol_bienvenida_viqbbl.mp4\",\n    \"amenidad\":    \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780975777/ppol_amenidades_nzvq50.mp4\",\n    \"plano\":       \"https://drive.usercontent.google.com/download?id=1oQwk1TxDwwat9PgZPPPbUOqzrMLRUcOu&export=download\",\n    \"avance_obra\": null\n  },\n  \"PSB\": {\n    \"bienvenida\":  \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780984029/psb_bienvenida_uf9rsd.mp4\",\n    \"amenidad\":    \"https://res.cloudinary.com/dtmw4kwfo/video/upload/v1780975780/psb_amenidades_e0bjkz.mp4\",\n    \"plano\":       \"https://drive.usercontent.google.com/download?id=1SfUniFrWxiaLcwKNV8nVxFK38vQADjbp&export=download\",\n    \"avance_obra\": null\n  }\n};\n\nconst projectData = database[proyecto] || database[\"PVV\"];\nconst url = projectData[tipo] || null;\n\nfunction buildMessages(url, canal, tipo) {\n  if (!url) return [{ type: 'image', url: null }];\n  const isVideo = /\\.(mp4|mov|avi|webm)/i.test(url);\n  const isPdf = tipo === 'plano' || /\\.pdf/i.test(url);\n  if (isVideo && canal === 'whatsapp') {\n    const thumbnail = url.replace(/\\.(mp4|mov|avi|webm)$/i, '.jpg');\n    return [\n      { type: 'image', url: thumbnail },\n      { type: 'text', text: 'Ver video completo: ' + url }\n    ];\n  }\n  if (isVideo) return [{ type: 'video', url: url }];\n  if (isPdf) return [{ type: 'file', url: url }];\n  return [{ type: 'image', url: url }];\n}\n\nconst messages = buildMessages(url, canal, tipo);\n\nreturn [{\n  json: {\n    manychat_id: $input.item.json.manychat_id,\n    canal: canal,\n    proyecto: proyecto,\n    media_disponible: url !== null,\n    messages: messages\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        496
      ],
      "id": "4090307a-8743-43ff-9f14-cdfca36018da",
      "name": "Map Media Resources"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "media-disponible-001",
              "leftValue": "={{ $json.media_disponible }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        496
      ],
      "id": "37bd53e2-db9b-48e3-91ec-dcbd88fc04fb",
      "name": "IF Media Disponible"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('START').item.json.manychat_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "options": {},
        "body": "={{ JSON.stringify({ subscriber_id: $('Map Media Resources').item.json.manychat_id, data: { version: 'v2', content: { type: $('Map Media Resources').item.json.canal, messages: $('Map Media Resources').item.json.messages } } }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        400
      ],
      "id": "07a815f3-353d-4f2f-afe0-54634c06a6f7",
      "name": "Send API ManyChat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e21820-2c70-4976-8051-789a6be3db9d",
              "name": "response",
              "value": "Media enviada. Dile al usuario con entusiasmo que ya le enviaste lo que solicitó y pregúntale qué le parece el proyecto.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        400
      ],
      "id": "53a8ed83-558c-41da-8240-1ec8334df8ac",
      "name": "Response To Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-media-response-001",
              "name": "response",
              "value": "=Informa al usuario con entusiasmo que sí contamos con material visual de {{ $('Map Media Resources').item.json.proyecto }} (renders, planos, brochure y más). Dile que un asesor puede contactarle por este mismo canal para enviárselo personalmente. Ofrécele también la opción de agendar una visita a nuestra sala de ventas para verlo en detalle.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        592
      ],
      "id": "59263a90-4433-4f0c-ab62-90cc2ee70263",
      "name": "No Media Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo_media"
            },
            {
              "name": "proyecto"
            },
            {
              "name": "canal"
            },
            {
              "name": "manychat_id"
            },
            {
              "name": "manychat_api"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        496
      ],
      "id": "59c22ffb-0fec-4285-9e7e-72087fe88736",
      "name": "START"
    }
  ],
  "connections": {
    "Map Media Resources": {
      "main": [
        [
          {
            "node": "IF Media Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Media Disponible": {
      "main": [
        [
          {
            "node": "Send API ManyChat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Media Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send API ManyChat": {
      "main": [
        [
          {
            "node": "Response To Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START": {
      "main": [
        [
          {
            "node": "Map Media Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}