SPECTRUM AGENTE/workflows/Sync_CRM.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        22576,
        1168
      ],
      "id": "fc1c145c-3ea9-424e-8299-d86045598e13",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        23248,
        1168
      ],
      "id": "6debdd60-ddf2-42a8-8fa9-80caa71140d6",
      "name": "Loop Over Users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad37ff15-8600-45b7-b912-b284a9e0157d",
              "name": "lead_messages",
              "value": "={{ $('LEAD').item.json.lead_messages ?? \"No hay\" }}",
              "type": "string"
            },
            {
              "id": "2ec7f63b-931b-4b46-aaa9-001b6c2e93b4",
              "name": "rsvp_messages",
              "value": "={{ $('RSVP').item.json.RSVP_messages ?? \"No hay\" }}",
              "type": "string"
            },
            {
              "id": "6fb0062c-596a-478f-aebb-25416e4aa396",
              "name": "principal_messages",
              "value": "={{ $('PRINCIPAL').item.json.principal_messages ?? \"No hay\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25040,
        992
      ],
      "id": "d4ad835c-1d54-4dce-8926-12e79db79090",
      "name": "Messages",
      "executeOnce": false
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        24592,
        976
      ],
      "id": "455d88f6-d5cb-4cf0-a760-991d1c3b766c",
      "name": "Merge"
    },
    {
      "parameters": {
        "collection": "appointments",
        "options": {},
        "query": "={\"manychat_id\": \"{{ $('Loop Over Users').item.json.manychat_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        23696,
        944
      ],
      "id": "3355c7b5-0d72-4ba9-8858-8036ca7a656b",
      "name": "Find Appointment",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "333ef0a2-5347-49b3-9a2e-94f8780dec53",
              "name": "manychat_user_id",
              "value": "={{ $('Loop Over Users').item.json.manychat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        23920,
        944
      ],
      "id": "b270c52f-5de3-4b13-80ec-0bf39e9ed0ae",
      "name": "Manychat User ID"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cutoff: new Date(Date.now() - 15 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22800,
        1168
      ],
      "id": "ea414d29-3c3b-4c1e-a18d-0bbd233d1b5c",
      "name": "Time-15min"
    },
    {
      "parameters": {
        "text": "=DATOS ACTUALES EN SISTEMA:\n- Proyecto: {{ $('Loop Over Users').item.json.proyecto }}\n- Habitaciones: {{ $('Find Appointment').item.json.habitaciones || 'No especificado' }}\n- Intención: {{ $('Find Appointment').item.json.intencion || 'No especificada' }}\n- Cita: {{ $('Find Appointment').item.json.fecha_hora ? 'Agendada para ' + $('Find Appointment').item.json.fecha_hora : 'No agendada' }}\n\nHISTORIAL DE CONVERSACIÓN COMPLETO:\n\nHistorial del lead agent:{{ Array.isArray($json.lead_messages) ? $json.lead_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.lead_messages }} \n\nHistorial del rsvp agent: \n{{ Array.isArray($json.rsvp_messages) ? $json.rsvp_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.rsvp_messages }}\n\nHistorial del principal agent: \n{{ Array.isArray($json.principal_messages) ? $json.principal_messages.map(m => m.role + ': ' + m.content).join('\\\\n') : $json.principal_messages }}",
        "attributes": {
          "attributes": [
            {
              "name": "Presupuesto",
              "description": "Presupuesto mencionado por el cliente (ej: 'Q800,000', 'No mencionado').",
              "required": true
            },
            {
              "name": "Dormitorios",
              "description": "Número de habitaciones o tipo de unidad que busca.",
              "required": true
            },
            {
              "name": "Requisitos",
              "description": "Requisitos específicos o amenidades de interés (ej: 'piso alto', 'con balcón', 'cerca de amenidades').",
              "required": true
            },
            {
              "name": "Resumen",
              "description": "Resumen narrativo de la conversación. Incluye: (1) qué información se le dio al lead y en qué punto quedó; (2) nivel de interés detectado (ALTO si mostró señales claras como 'sí', 'me interesa', pidió fecha o precio concreto — MEDIO si preguntó pero no comprometió — BAJO si solo exploró); (3) modelo o tipo de unidad que más le interesó si lo mencionó; (4) objeciones o frenos detectados (precio, ubicación, decisión familiar, timing) o 'Sin objeciones' si no hubo.",
              "required": true
            },
            {
              "name": "Dudas",
              "description": "Lista numerada de todas las preguntas o dudas que expresó el cliente durante la conversación. Si no hay dudas explícitas, escribe 'Ninguna'. Formato: 1. ... 2. ... 3. ...",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        25264,
        992
      ],
      "id": "44c16727-2eeb-4b85-9413-17524e85cae6",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29811091-f623-46a3-920e-a37d4484e9f2",
              "name": "_id",
              "value": "={{ $('Loop Over Users').item.json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "fd8c37c0-b8b9-4e6d-8514-43839e17ca8e",
              "name": "conversation_analysis",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ab7c37c0-b8b9-4e6d-8514-43839e17ca8f",
              "name": "conversation_ressume",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25616,
        992
      ],
      "id": "2e49f173-b333-408c-a1f3-13cc4d17b30e",
      "name": "EXTRACTOR RESPONSE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.spectrum.com.gt:8055/Spectrum_WS_GeneracionLead/Service.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "SOAPAction",
              "value": "http://tempuri.org/CreacionClientePotencialBot"
            },
            {
              "name": "Content-Type",
              "value": "text/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml; charset=utf-8",
        "body": "={{ $('Body').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        26288,
        992
      ],
      "id": "df1c5c0d-daa1-48e8-9994-a1dab7837bbb",
      "name": "GENERAR LEAD CONTACT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        26512,
        992
      ],
      "id": "ed41ae66-7e43-4fa1-8bbe-3c777b00b694",
      "name": "XML BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29bc8a2a-9b6e-4b09-ae6d-30b74ab45b94",
              "name": "body",
              "value": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Body>\n<CreacionClientePotencialBot xmlns=\"http://tempuri.org/\">\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_OrigenCliente>' + ($('Loop Over Users').item.json.CRM_Data?._OrigenCliente || 100000001) + '</_OrigenCliente>' : '' }}\n<_Proyecto>{{ $('Loop Over Users').item.json.proyecto }}</_Proyecto>\n<_Nombre>{{ $('Loop Over Users').item.json.primer_nombre || $('Loop Over Users').item.json.nombre?.split(' ')[0] || 'Cliente' }}</_Nombre>\n<_Apellido>{{ $('Loop Over Users').item.json.apellidos || $('Loop Over Users').item.json.nombre?.split(' ').slice(1).join(' ') || 'N/A' }}</_Apellido>\n<_TelefonoMovil>{{ (() => { const t = ($('Loop Over Users').first().json.telefono || '').trim().replace(/\\s/g,''); if (!t) return ''; return t.startsWith('+') ? t : '+502' + t; })() }}</_TelefonoMovil>\n<_CorreEletronico>{{ $('Loop Over Users').item.json.correo || \"\" }}</_CorreEletronico>\n<_AtendidoPorIA>1</_AtendidoPorIA>\n{{ $('Loop Over Users').item.json.correo_secundario ? '<_CorreoSecundario>' + $('Loop Over Users').item.json.correo_secundario + '</_CorreoSecundario>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_UTMSource>' + ($('Loop Over Users').item.json.utm_source_crm || 100000004) + '</_UTMSource>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_UTMCampaing>' + (({\"Web\":\"Cliente atendido desde chatbot a través de web\",\"City Core\":\"Cliente atendido desde chatbot a través de anuncios\",\"Social Media\":\"Cliente atendido desde chatbot a través de redes sociales\",\"Fan Page\":\"Cliente atendido desde chatbot a través de fan page\",\"Mail\":\"Cliente atendido desde chatbot a través de email\",\"Banco\":\"Cliente atendido desde chatbot a través de banco\"})[$('Loop Over Users').item.json.atribucion_tag] || \"Cliente atendido desde chatbot a través de web\") + '</_UTMCampaing>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? '<_MetodocontactoPref>' + (($('Find Appointment').item.json?.medio_llamada === 'whatsapp' ? 4 : $('Find Appointment').item.json?.tipo === 'llamada' ? 3 : $('Find Appointment').item.json?.contacto_pref == \"correo\" ? 2 : $('Find Appointment').item.json?.contacto_pref == \"llamada\" ? 3 : $('Find Appointment').item.json?.contacto_pref == \"whatsapp\" ? 4 : $('Find Appointment').item.json?.contacto_pref == \"cualquier_forma\" ? 5 : Number($('Loop Over Users').item.json.CRM_Data?._MetodocontactoPref || 5))) + '</_MetodocontactoPref>' : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? (\n  $('Find Appointment').item.json?.habitaciones == \"1\" ? '<_NumeroHabitaciones>100000000</_NumeroHabitaciones>' :\n  $('Find Appointment').item.json?.habitaciones == \"2\" ? '<_NumeroHabitaciones>100000001</_NumeroHabitaciones>' :\n  $('Find Appointment').item.json?.habitaciones == \"3\" ? '<_NumeroHabitaciones>100000002</_NumeroHabitaciones>' :\n  ($('Loop Over Users').item.json.CRM_Data?._NumeroHabitaciones ? '<_NumeroHabitaciones>' + $('Loop Over Users').item.json.CRM_Data._NumeroHabitaciones + '</_NumeroHabitaciones>' : '')\n) : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? (\n  $('Find Appointment').item.json?.estado_civil == \"soltero\" ? '<_EstadoCivil>100000000</_EstadoCivil>' :\n  $('Find Appointment').item.json?.estado_civil == \"casado\" ? '<_EstadoCivil>100000001</_EstadoCivil>' :\n  $('Find Appointment').item.json?.estado_civil == \"divorciado\" ? '<_EstadoCivil>100000002</_EstadoCivil>' :\n  $('Find Appointment').item.json?.estado_civil == \"union_libre\" ? '<_EstadoCivil>100000003</_EstadoCivil>' :\n  ($('Loop Over Users').item.json.CRM_Data?._EstadoCivil ? '<_EstadoCivil>' + $('Loop Over Users').item.json.CRM_Data._EstadoCivil + '</_EstadoCivil>' : '')\n) : '' }}\n{{ !$('Loop Over Users').item.json.fase_2 ? (\n  $('Find Appointment').item.json?.intencion == \"I\" ? '<_MotivoInteres>100000001</_MotivoInteres>' :\n  $('Find Appointment').item.json?.intencion == \"V\" ? '<_MotivoInteres>100000003</_MotivoInteres>' :\n  ($('Loop Over Users').item.json.CRM_Data?._MotivoInteres ? '<_MotivoInteres>' + $('Loop Over Users').item.json.CRM_Data._MotivoInteres + '</_MotivoInteres>' : '')\n) : '' }}\n{{ \n  ($('Find Appointment').item.json?.tipo && $('Find Appointment').item.json?.fecha_hora) ? '<_FechaCita>' + $('Find Appointment').item.json.fecha_hora.replace(/^(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}).*$/, '$1:00.000Z') + '</_FechaCita>' : \n  ($('Loop Over Users').item.json.CRM_Data?._FechaCita ? '<_FechaCita>' + $('Loop Over Users').item.json.CRM_Data._FechaCita + '</_FechaCita>' : '') \n}}\n{{ \n  ($('Find Appointment').item.json?.tipo && $('Find Appointment').item.json?.fecha_hora && $('Find Appointment').item.json?.tipo == \"cita_presencial\" ? '<_TipoCita>100000000</_TipoCita>' : \n   $('Find Appointment').item.json?.tipo && $('Find Appointment').item.json?.fecha_hora && ['cita_virtual', 'llamada'].includes($('Find Appointment').item.json?.tipo) ? '<_TipoCita>100000001</_TipoCita>' : \n   ($('Loop Over Users').item.json.CRM_Data?._TipoCita ? '<_TipoCita>' + $('Loop Over Users').item.json.CRM_Data._TipoCita + '</_TipoCita>' : '')) \n}}\n{{ $json.conversation_ressume ? '<_ResumenConversacion>' + ('PRESUPUESTO: ' + ($json.conversation_ressume?.Presupuesto || 'No mencionado') + '\\n' + 'DORMITORIOS: ' + ($json.conversation_ressume?.Dormitorios || 'No mencionado') + '\\n' + 'REQUISITOS: ' + ($json.conversation_ressume?.Requisitos || 'Ninguno') + ($('Loop Over Users').item.json.fase_2 && $('Find Appointment').item.json?.estado_civil ? '\\nESTADO CIVIL: ' + $('Find Appointment').item.json.estado_civil : '') + ($('Loop Over Users').item.json.fase_2 && $('Find Appointment').item.json?.intencion ? '\\nMOTIVO: ' + ($('Find Appointment').item.json.intencion === 'V' ? 'Vivienda' : 'Inversion') : '') + '\\n\\n' + 'RESUMEN:\\n' + ($json.conversation_ressume?.Resumen || '')) + '</_ResumenConversacion>' : '' }}\n{{ $json.conversation_ressume?.Dudas ? '<_DudasCliente>' + $json.conversation_ressume.Dudas + '</_DudasCliente>' : '' }}\n</CreacionClientePotencialBot>\n</soap:Body>\n</soap:Envelope>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25840,
        992
      ],
      "id": "993c1468-7c56-4b5a-a691-9574e81d9333",
      "name": "Body"
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        26064,
        992
      ],
      "id": "a62c0e1a-9029-4971-a675-c3d1829043e6",
      "name": "PARSE BODY"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        28432,
        1168
      ],
      "id": "80502e5b-cbbc-48e6-aed9-97049e6eb59c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={\n  \"datos_completos\": true,\n  \"conversation_analysis\": { \"$ne\": true },\n  \"last_interaction\": { \"$lt\": \"{{ $json.cutoff }}\" },\n  \"proyecto\": { \"$exists\": true, \"$nin\": [null, \"\"] }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        23024,
        1168
      ],
      "id": "78b20e5c-e6db-4ed3-9e58-9345b09661bd",
      "name": "Find Users to Sync",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_histories_lead",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        24144,
        800
      ],
      "id": "c63b1d06-731c-4cfa-b665-c84dd2193b3f",
      "name": "Chat Lead",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_histories_rsvp",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        24144,
        992
      ],
      "id": "b1bf8a27-7bb5-4538-9e96-73911f36853d",
      "name": "Chat RSVP",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_histories",
        "options": {},
        "query": "={\"sessionId\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        24144,
        1184
      ],
      "id": "a238653d-dd26-48b6-9003-26793646bda0",
      "name": "Chat",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        24816,
        992
      ],
      "id": "2aa8c53f-d9aa-416c-bce2-b58af0fd42eb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3607b95d-eec6-47fc-8b07-afdcf62f14ed",
              "name": "lead_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24368,
        800
      ],
      "id": "6856c5ca-7db1-44a7-ab0c-71af0fd1427b",
      "name": "LEAD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b33f15a9-f6d3-46e7-a874-29c3fd3fc960",
              "name": "RSVP_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24368,
        992
      ],
      "id": "e50fd1c1-178f-4406-b253-f2f26f02acd2",
      "name": "RSVP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f56ae14-c394-4836-9b6a-1844357a4718",
              "name": "principal_messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24368,
        1184
      ],
      "id": "127c83f2-ac57-423f-9b51-5ec014e60e38",
      "name": "PRINCIPAL"
    },
    {
      "parameters": {
        "text": "=Lead Agent:\n{{ Array.isArray($('Messages').item.json.lead_messages) ? $('Messages').item.json.lead_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.lead_messages }}\n\nRSVP Agent:\n{{ Array.isArray($('Messages').item.json.rsvp_messages) ? $('Messages').item.json.rsvp_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.rsvp_messages }}\n\nPrincipal Agent:\n{{ Array.isArray($('Messages').item.json.principal_messages) ? $('Messages').item.json.principal_messages.map(m => m.role + ': ' + m.content).join('\\n') : $('Messages').item.json.principal_messages }}",
        "attributes": {
          "attributes": [
            {
              "name": "funnel_stage",
              "description": "=Etapa del funnel: 'nuevo' (solo saludó), 'identificado' (dio datos), 'proyecto_activo' (eligió proyecto), 'consultando' (hizo preguntas), 'en_rsvp' (inició agendamiento), 'cita_confirmada' (confirmó cita), 'escalado' (pidió humano)",
              "required": true
            },
            {
              "name": "intencion_detectada",
              "description": "=En una frase corta, qué buscaba el usuario en esta conversación",
              "required": true
            },
            {
              "name": "tools_correctas",
              "description": "=¿El agente usó las tools correctas en el momento correcto? Describe brevemente si lead_collector, kb_search, rsvp y send_media se usaron apropiadamente. Si no se usó alguna tool necesaria, indícalo.",
              "required": true
            },
            {
              "name": "errores_detectados",
              "description": "=Lista numerada de errores en la lógica del agente: respuestas incorrectas, loops, confusión de contexto, preguntas innecesarias. Escribe 'Ninguno' si no hay errores.",
              "required": true
            },
            {
              "name": "oportunidades_perdidas",
              "description": "=Momentos donde el agente pudo avanzar en el funnel o mejorar la experiencia pero no lo hizo. Escribe 'Ninguna' si no aplica.",
              "required": true
            },
            {
              "name": "tono_agente",
              "description": "=Evaluación del tono: 'natural y correcto', 'muy formal', 'robotico', 'confuso', 'repetitivo'",
              "required": true
            },
            {
              "name": "puntuacion",
              "description": "=Puntuación del 1 al 10. Criterios: correcta identificación de intención (20%), uso apropiado de tools (20%), tono natural (20%), avance en el funnel (20%), ausencia de errores (20%).",
              "required": true
            },
            {
              "name": "recomendacion",
              "description": "=Una recomendación concreta y accionable para el desarrollador sobre cómo mejorar el comportamiento del agente en conversaciones similares a esta.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        27632,
        992
      ],
      "id": "5daa0906-a006-4867-9163-20bab135b18c",
      "name": "Quality Auditor"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst user = $('Loop Over Users').item.json;\nconst resumen = $('EXTRACTOR RESPONSE').item.json.conversation_ressume;\n\nreturn [{\n  json: {\n    manychat_id: user.manychat_id,\n    nombre: user.nombre || 'Desconocido',\n    proyecto: user.proyecto || null,\n    fecha_analisis: $now.toISO(),\n    resumen_conversacion: resumen || null,\n    funnel_stage: output.funnel_stage || null,\n    intencion_detectada: output.intencion_detectada || null,\n    tools_correctas: output.tools_correctas || null,\n    errores_detectados: output.errores_detectados || null,\n    oportunidades_perdidas: output.oportunidades_perdidas || null,\n    tono_agente: output.tono_agente || null,\n    puntuacion: Number(output.puntuacion) || null,\n    recomendacion: output.recomendacion || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27984,
        992
      ],
      "id": "c74c8fcd-7ec1-4576-96e5-f5148a392b72",
      "name": "Build Quality Log"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "quality_logs",
        "fields": "={{ Object.keys($json).join(',') }}",
        "options": {
          "dateFields": "fecha_analisis"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        28208,
        992
      ],
      "id": "ee1b8fe6-929e-4693-8cc3-d668b6bdc592",
      "name": "Insert quality_logs",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "conversation_analysis,conversation_ressume",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        27408,
        992
      ],
      "id": "fc140b73-1ed9-499e-92b6-ef8d86b3e930",
      "name": "Update Conversation Analysis",
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('EXTRACTOR RESPONSE').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        27184,
        992
      ],
      "id": "d5aa5b93-5bb2-4439-ad6f-f3f837547bfd",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "collection": "manychat_settings",
        "options": {},
        "query": "={ \"page_id\": \"{{ $json.page_id }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        23472,
        944
      ],
      "id": "37534c91-7b7f-417e-8d71-789906540b0d",
      "name": "Find User Credentials",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "UzcANqeDFO1QLbfd",
          "name": "SPECTRUM - CENTRALIZADO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/subscriber/setCustomFieldByName",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Find User Credentials').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": \"{{ $('Manychat User ID').item.json.manychat_user_id }}\",\n  \"field_name\": \"proyecto_interes\",\n  \"field_value\": \"{{ $('Loop Over Users').item.json.proyecto || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        26960,
        992
      ],
      "id": "f5f332f5-aadb-4c84-baf9-5cff0457701d",
      "name": "UPDATE - Proyecto Interes Manychat"
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/page/getCustomFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Find User Credentials').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        26736,
        992
      ],
      "id": "5de2d6a1-715f-476b-9ccd-60d85c454f46",
      "name": "Campos Usuario"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        25344,
        1216
      ],
      "id": "974801c2-afd5-43ab-92f3-989ee0b8c48a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fl0nmLLeTH299pzW",
          "name": "Spectrum  Bot"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        27712,
        1216
      ],
      "id": "6d909aa4-2522-4aa5-a357-f5fb0aacf0a2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "fl0nmLLeTH299pzW",
          "name": "Spectrum  Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Time-15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [],
        [
          {
            "node": "Find User Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment": {
      "main": [
        [
          {
            "node": "Manychat User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manychat User ID": {
      "main": [
        [
          {
            "node": "Chat Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time-15min": {
      "main": [
        [
          {
            "node": "Find Users to Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "EXTRACTOR RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACTOR RESPONSE": {
      "main": [
        [
          {
            "node": "Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAR LEAD CONTACT": {
      "main": [
        [
          {
            "node": "XML BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML BODY": {
      "main": [
        [
          {
            "node": "Campos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "GENERAR LEAD CONTACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Users to Sync": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Lead": {
      "main": [
        [
          {
            "node": "LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat RSVP": {
      "main": [
        [
          {
            "node": "RSVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "PRINCIPAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSVP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PRINCIPAL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Quality Auditor": {
      "main": [
        [
          {
            "node": "Build Quality Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quality Log": {
      "main": [
        [
          {
            "node": "Insert quality_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert quality_logs": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation Analysis": {
      "main": [
        [
          {
            "node": "Quality Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update Conversation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User Credentials": {
      "main": [
        [
          {
            "node": "Find Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE - Proyecto Interes Manychat": {
      "main": [
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos Usuario": {
      "main": [
        [
          {
            "node": "UPDATE - Proyecto Interes Manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Auditor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}