ITZANA-KAANA/workflows/Itzana_KB_Search.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "manychat_id"
            },
            {
              "name": "propiedad"
            },
            {
              "name": "entrada_usuario"
            }
          ]
        },
        "inputSource": "workflowInputs"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2672,
        480
      ],
      "id": "e7685397-4fd0-4bf7-988d-6695173fdde0",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-sc-001",
              "name": "manychat_id",
              "value": "={{ $json.manychat_id }}",
              "type": "string"
            },
            {
              "id": "id-sc-002",
              "name": "propiedad",
              "value": "={{ $json.propiedad || 'ITZ' }}",
              "type": "string"
            },
            {
              "id": "id-sc-003",
              "name": "entrada_usuario",
              "value": "={{ $json.entrada_usuario || $json.query || $json.input || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2896,
        480
      ],
      "id": "7a180871-f56e-4f2d-9a8f-acfe91fc3583",
      "name": "Search Context"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: {\n    contexto: \"No se encontró información relevante.\",\n    propiedad: $('Search Context').item.json.propiedad,\n    entrada_usuario: $('Search Context').item.json.entrada_usuario\n  }}];\n}\nconst contexto = items.map((item, i) => {\n  const doc = item.json.document || {};\n  return `[${i+1}] ${doc.pageContent || ''}`;\n}).join('\\n\\n---\\n\\n');\nreturn [{ json: {\n  contexto,\n  propiedad: $('Search Context').item.json.propiedad,\n  entrada_usuario: $('Search Context').item.json.entrada_usuario\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        480
      ],
      "id": "20c46119-3b31-4a10-8d27-02c4a75012a2",
      "name": "Format Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Search Context').first().json.entrada_usuario || $('START').first().json.entrada_usuario }}",
        "options": {
          "systemMessage": "=## KNOWLEDGE BASE — INFORMACIÓN ENCONTRADA ##\n{{ $json.contexto }}\n\n---\n\n# CONCIERGE VIRTUAL — {{ $json.resort_nombre }}\n\n## REGLAS DE ORO\n1. Responde ÚNICAMENTE con información del KNOWLEDGE BASE de arriba.\n2. NUNCA inventes datos. Si no está en el KB, di que el equipo del resort puede ayudar.\n3. Responde en el idioma en que el usuario te habla (español o inglés).\n4. Texto plano. Sin markdown. Máximo 500 caracteres.\n   - Excepción: listas de amenidades/actividades usan bullet • en líneas separadas.\n5. Cuando corresponda, incluye el link exacto del KB (reservas, menús, paquetes).\n6. Si el usuario quiere reservar → link: {{ $json.booking_link }}\n7. Si el usuario pregunta por bodas/eventos → escalar al equipo de eventos (mencionar que le pondremos en contacto).\n8. Si el usuario es de prensa/PR/influencer → escalar a {{ $json.pr_email }}.\n\n## FORMATO DE SALIDA\nResponde ÚNICAMENTE con este JSON en una sola línea:\n{\"response\": \"<texto conversacional>\", \"escalate\": false, \"categoria\": \"info\"}\n\nescalate: true SOLO si el usuario pide hablar con una persona o el tema requiere cotización (bodas, grupos grandes, eventos).\ncategoria: \"info\" | \"reserva\" | \"bodas_eventos\" | \"pr\" | \"empleo\" | \"escalamiento\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3920,
        480
      ],
      "id": "8b22043d-8d64-4ca9-95eb-9d391f11bebd",
      "name": "GENERAL AGENT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-resp-001",
              "name": "response",
              "value": "={{ $json.contexto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        480
      ],
      "id": "3476c8b9-b0d5-4570-aa1e-5c4097a38137",
      "name": "RESPONSE"
    },
    {
      "parameters": {
        "mode": "load",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "itzana_embedding",
        "metadata_field": "respuesta",
        "vectorIndexName": "itzana_vector_index",
        "prompt": "={{ $json.entrada_usuario || $('Search Context').first().json.entrada_usuario || $('START').first().json.entrada_usuario }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        3120,
        480
      ],
      "id": "cead4d67-f057-4011-8bdf-55ffa9783889",
      "name": "Knowledge Base",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3200,
        704
      ],
      "id": "f05a5386-6a72-46c0-b29a-e0e1dadbe401",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4000,
        704
      ],
      "id": "4ba6ad95-62f6-4e92-b742-e1e1c18e94d1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "J9zb84vhqsx182XW",
          "name": "ITZANA-KAANA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd0a7311-e6c4-4ea4-ad8c-bb90712a1854",
              "name": "contexto",
              "value": "={{ $json.contexto }}",
              "type": "string"
            },
            {
              "id": "64aa258b-5711-43c5-adad-c05c6ae5f5d6",
              "name": "resort_nombre",
              "value": "={{ $('Search Context').item.json.propiedad === 'KAA' ? \"Ka'ana Resort\" : \"Itz'ana Resort & Residences\" }}",
              "type": "string"
            },
            {
              "id": "8e4718d1-f69f-496a-8b4c-7234cd079dd9",
              "name": "booking_link",
              "value": "={{ $('Search Context').item.json.propiedad === 'KAA' ? 'https://bookings.travelclick.com/115718?_ga-ft=1aVg8l.0.0.0.0.EZOk7-EiA-4D3-ACB-Fe1iMl1U.0.1&languageid=1#/guestsandrooms' : 'https://reservations.itzanabelize.com/book/accommodations' }}",
              "type": "string"
            },
            {
              "id": "ca772ea2-05e0-43ee-884b-0a51935bbbb8",
              "name": "contacto_email",
              "value": "={{ $('Search Context').item.json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'concierge@itzanabelize.com' }}",
              "type": "string"
            },
            {
              "id": "cae57345-9dbd-4700-9a9c-f5f76b7b0e76",
              "name": "pr_email",
              "value": "={{ $('Search Context').item.json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'partnerships@itzanabelize.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3696,
        480
      ],
      "id": "2dda644b-e171-4765-831c-b27607ded370",
      "name": "Property Config"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Search Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Context": {
      "main": [
        [
          {
            "node": "Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}