ITZANA-KAANA/workflows/Itzana_KB_Search.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        48
      ],
      "id": "5dba2c96-88f7-425e-ab70-440ec810c5db",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-sc-001",
              "name": "manychat_id",
              "value": "={{ $json.manychat_id }}",
              "type": "string"
            },
            {
              "id": "id-sc-002",
              "name": "propiedad",
              "value": "={{ $json.propiedad || 'ITZ' }}",
              "type": "string"
            },
            {
              "id": "id-sc-003",
              "name": "entrada_usuario",
              "value": "={{ $json.entrada_usuario || $json.query || $json.input || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        48
      ],
      "id": "4c17f10b-9b6d-440d-8478-93b9bea0f4c5",
      "name": "Search Context"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: {\n    contexto: \"No se encontró información relevante.\",\n    propiedad: $('Search Context').item.json.propiedad,\n    entrada_usuario: $('Search Context').item.json.entrada_usuario\n  }}];\n}\nconst contexto = items.map((item, i) => {\n  const doc = item.json.document || {};\n  return `[${i+1}] ${doc.pageContent || ''}`;\n}).join('\\n\\n---\\n\\n');\nreturn [{ json: {\n  contexto,\n  propiedad: $('Search Context').item.json.propiedad,\n  entrada_usuario: $('Search Context').item.json.entrada_usuario\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        48
      ],
      "id": "c97bea09-1c8f-4d4c-8bb0-fc0e675174f2",
      "name": "Format Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.entrada_usuario }}",
        "options": {
          "systemMessage": "=## KNOWLEDGE BASE — INFORMACIÓN ENCONTRADA ##\n{{ $json.contexto }}\n\n---\n\n# CONCIERGE VIRTUAL — ITZ'ANA RESORT & RESIDENCES\n\n## REGLAS DE ORO\n1. Responde ÚNICAMENTE con información del KNOWLEDGE BASE de arriba.\n2. NUNCA inventes datos. Si no está en el KB, di que el equipo del resort puede ayudar.\n3. Responde en el idioma en que el usuario te habla (español o inglés).\n4. Texto plano. Sin markdown. Máximo 500 caracteres.\n   - Excepción: listas de amenidades/actividades usan bullet • en líneas separadas.\n5. Cuando corresponda, incluye el link exacto del KB (reservas, menús, paquetes).\n6. Si el usuario quiere reservar → link: https://reservations.itzanabelize.com/book/accommodations\n7. Si el usuario pregunta por bodas/eventos → escalar a Mr. Diego (mencionar que le pondremos en contacto).\n8. Si el usuario es de prensa/PR/influencer → escalar a partnerships@itzanabelize.com.\n\n## FORMATO DE SALIDA\nResponde ÚNICAMENTE con este JSON en una sola línea:\n{\"response\": \"<texto conversacional>\", \"escalate\": false, \"categoria\": \"info\"}\n\nescalate: true SOLO si el usuario pide hablar con una persona o el tema requiere cotización (bodas, grupos grandes, eventos).\ncategoria: \"info\" | \"reserva\" | \"bodas_eventos\" | \"pr\" | \"empleo\" | \"escalamiento\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1232,
        48
      ],
      "id": "14c872bb-4167-40d4-8baa-99fac635dc73",
      "name": "GENERAL AGENT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-resp-001",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        48
      ],
      "id": "3cfd9e3b-1158-43a6-95ac-a1962a5aeb1a",
      "name": "RESPONSE"
    },
    {
      "parameters": {
        "mode": "load",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "itzana_embedding",
        "metadata_field": "respuesta",
        "vectorIndexName": "itzana_vector_index",
        "prompt": "={{ $('Search Context').item.json.entrada_usuario }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        656,
        48
      ],
      "id": "5466cc1e-1371-46f0-b059-83f28e48ef3f",
      "name": "Knowledge Base",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        272
      ],
      "id": "ca7543c6-0f1c-431a-973c-dc13bfb4b853",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1312,
        272
      ],
      "id": "5c664094-ae7e-4c8b-9536-e1ee8cd87164",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "J9zb84vhqsx182XW",
          "name": "ITZANA-KAANA"
        }
      }
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Search Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Context": {
      "main": [
        [
          {
            "node": "Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "GENERAL AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAL AGENT": {
      "main": [
        [
          {
            "node": "RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GENERAL AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}