ITZANA-KAANA/workflows/Itzana_Vectorizar_KB.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "352fa218-4b91-49ac-9a84-1501d98a396c",
              "name": "chunks",
              "value": "=[\n  {\n    \"id\": \"itz_resort_general\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"resort\",\n    \"tags\": [\n      \"itzana\",\n      \"resort\",\n      \"belize\",\n      \"placencia\",\n      \"lujo\",\n      \"caribe\",\n      \"luxury\",\n      \"overview\",\n      \"que es\",\n      \"what is\"\n    ],\n    \"pregunta\": \"¿Qué es Itz'ana Resort & Residences? / What is Itz'ana Resort?\",\n    \"respuesta\": \"Itz'ana Resort & Residences is a luxury resort in Placencia, Belize (Mile 20 Placencia Road, Stann Creek District), bordered by the Caribbean Sea and tropical jungle. It offers beachfront villas, suites, penthouses, a spa, pristine white-sand beach, outdoor pool, organic garden, yoga terrace, and a full-service marina. Just minutes from the world's second-largest barrier reef — perfect for diving, snorkeling, fishing, and sailing. Website: www.itzanabelize.com\"\n  },\n  {\n    \"id\": \"itz_alojamiento_overview\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"habitaciones\",\n      \"rooms\",\n      \"alojamiento\",\n      \"accommodation\",\n      \"opciones\",\n      \"tipos\",\n      \"villa\",\n      \"suite\",\n      \"penthouse\",\n      \"cuartos\",\n      \"stay\"\n    ],\n    \"pregunta\": \"¿Qué tipos de alojamiento tienen? / What accommodation options do you have?\",\n    \"respuesta\": \"Itz'ana offers several accommodation types:\\n• Beachfront Villas (1, 2, and 3 bedrooms) — private terrace, plunge pool, steps from the beach\\n• Penthouses (2 and 3 bedrooms) — top-floor luxury with private plunge pool and sea views\\n• Beachfront Suite — king bed, living/dining area, private wrap-around terrace\\n• Deluxe Room — poolside retreat with private terrace and sofa bed\\n\\nPrices vary by date and season. Book here: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_villa_1dorm\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"villa\",\n      \"1 bedroom\",\n      \"1 dormitorio\",\n      \"una habitacion\",\n      \"one bedroom\",\n      \"plunge pool\",\n      \"beachfront\",\n      \"frente playa\",\n      \"terraza privada\"\n    ],\n    \"pregunta\": \"¿Cómo es la villa de 1 dormitorio? / Tell me about the 1-bedroom villa\",\n    \"respuesta\": \"Our 1-bedroom beachfront villa is a secluded retreat with breathtaking Caribbean Sea views. It features a private terrace with plunge pool, a fully equipped kitchen, luxurious linens, and is just steps from the beach. Perfect for couples seeking a private paradise.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_villa_2dorm\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"villa\",\n      \"2 bedroom\",\n      \"2 dormitorios\",\n      \"dos habitaciones\",\n      \"two bedroom\",\n      \"familia\",\n      \"family\",\n      \"grupo\",\n      \"piscina interior\",\n      \"plunge pool\"\n    ],\n    \"pregunta\": \"¿Cómo es la villa de 2 dormitorios? / Tell me about the 2-bedroom villa\",\n    \"respuesta\": \"Our 2-bedroom beachfront villa is surrounded by turquoise sea and white sand beach. It features a modern design, 2 bedrooms with en-suite bathrooms, open-concept living room and kitchen, and a sea-view terrace with plunge pool plus an interior courtyard pool. Ideal for families or small groups.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_villa_3dorm\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"villa\",\n      \"3 bedroom\",\n      \"3 dormitorios\",\n      \"tres habitaciones\",\n      \"three bedroom\",\n      \"grande\",\n      \"grupo grande\",\n      \"1470 metros\",\n      \"dos plunge pools\",\n      \"lujo maximo\"\n    ],\n    \"pregunta\": \"¿Cómo es la villa de 3 dormitorios? / Tell me about the 3-bedroom villa\",\n    \"respuesta\": \"Our 3-bedroom villa opens directly onto Placencia Beach. With 1,470 sqm of living space designed in harmony with nature, it features a master bedroom with sea views, 2 plunge pools, an interior courtyard, and seamless indoor-outdoor flow. Services available include private chef, butler, spa in-villa, babysitter, and a stocked villa bar.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_servicios_villa\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"servicios villa\",\n      \"villa services\",\n      \"chef privado\",\n      \"private chef\",\n      \"mayordomo\",\n      \"butler\",\n      \"spa villa\",\n      \"niñera\",\n      \"babysitter\",\n      \"villa bar\",\n      \"extras\"\n    ],\n    \"pregunta\": \"¿Qué servicios adicionales hay para las villas? / What extra services are available for villas?\",\n    \"respuesta\": \"All villas can request these exclusive services:\\n• Private Chef — personalized Belizean cuisine with fresh, seasonal ingredients\\n• Butler Service — impeccable, professional attention for your entire stay\\n• In-Villa Spa — massages and body treatments with the sound of the sea\\n• Babysitter — so you can relax or explore while your children are cared for\\n• Villa Bar — stocked with premium spirits (vodka, gin, rum, tequila), beer, sodas, and water\\n\\nContact reservations@itzanabelize.com to arrange.\"\n  },\n  {\n    \"id\": \"itz_penthouse_2hab\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"penthouse\",\n      \"2 bedrooms\",\n      \"2 habitaciones\",\n      \"pool view\",\n      \"vista piscina\",\n      \"287 metros\",\n      \"chef kitchen\",\n      \"top floor\"\n    ],\n    \"pregunta\": \"¿Cómo es el penthouse de 2 habitaciones? / Tell me about the 2-bedroom penthouse\",\n    \"respuesta\": \"Located on the top floor of the Resort Suites building, this 2-bedroom penthouse offers 287 sqm of beautifully designed interior and exterior space, including a chef's kitchen, integrated living and dining room, and a spacious terrace with a private pool and stunning views of the pool and Caribbean Sea.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_penthouse_3hab\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"penthouse\",\n      \"3 bedrooms\",\n      \"3 habitaciones\",\n      \"sea view\",\n      \"vista mar\",\n      \"grupos\",\n      \"familias\",\n      \"parejas\",\n      \"3.5 baños\",\n      \"plunge pool\"\n    ],\n    \"pregunta\": \"¿Cómo es el penthouse de 3 habitaciones? / Tell me about the 3-bedroom penthouse\",\n    \"respuesta\": \"Situated on the hotel's top floor with Caribbean Sea views, this 3-bedroom penthouse is a luxury retreat for groups, families, or couples. It features 3 bedrooms, 3.5 bathrooms, an inspiring design, and a large terrace with a plunge pool and sweeping ocean views.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_beachfront_suite\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"beachfront suite\",\n      \"suite\",\n      \"king\",\n      \"terraza privada\",\n      \"sunset\",\n      \"puesta de sol\",\n      \"lujo\",\n      \"luxury\"\n    ],\n    \"pregunta\": \"¿Cómo es la Beachfront Suite? / Tell me about the Beachfront Suite\",\n    \"respuesta\": \"Our Beachfront Suite features elegant decor and luxury details, a king bed, living and dining area, and a private wrap-around terrace on one of Belize's most beautiful beaches. Watch the sunset from the comfort of your suite.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_deluxe_room\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"deluxe room\",\n      \"habitacion\",\n      \"piscina\",\n      \"poolside\",\n      \"terraza\",\n      \"sofa bed\",\n      \"tranquila\",\n      \"quiet\"\n    ],\n    \"pregunta\": \"¿Cómo es la Deluxe Room? / Tell me about the Deluxe Room\",\n    \"respuesta\": \"The Deluxe Room is a poolside oasis for guests seeking tranquility. These thoughtfully designed rooms feature luxury amenities, a private terrace with a sofa bed, right next to the resort's sparkling pool.\\n\\nBook: https://reservations.itzanabelize.com/book/accommodations\"\n  },\n  {\n    \"id\": \"itz_precios_reservas\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"alojamientos\",\n    \"tags\": [\n      \"precio\",\n      \"price\",\n      \"cuanto cuesta\",\n      \"how much\",\n      \"tarifa\",\n      \"rate\",\n      \"costo\",\n      \"noche\",\n      \"night\",\n      \"reservar\",\n      \"book\",\n      \"disponibilidad\",\n      \"availability\"\n    ],\n    \"pregunta\": \"¿Cuánto cuesta la noche? / How much does a night cost? / How do I make a reservation?\",\n    \"respuesta\": \"Prices vary depending on the date, season, and accommodation type. To check real-time rates and availability and make a reservation, use our booking link: https://reservations.itzanabelize.com/book/accommodations\\n\\nFor personalized assistance, contact reservations@itzanabelize.com or WhatsApp +(501) 615-0674.\"\n  },\n  {\n    \"id\": \"itz_restaurante_limilia\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"restaurantes\",\n    \"tags\": [\n      \"limilia\",\n      \"restaurante\",\n      \"restaurant\",\n      \"comida\",\n      \"food\",\n      \"cena\",\n      \"dinner\",\n      \"almuerzo\",\n      \"lunch\",\n      \"desayuno\",\n      \"breakfast\",\n      \"menu\",\n      \"garifuna\",\n      \"seafood\",\n      \"mariscos\"\n    ],\n    \"pregunta\": \"¿Qué es Limilia Restaurant? / Tell me about Limilia Restaurant\",\n    \"respuesta\": \"Limilia Restaurant celebrates fresh Caribbean flavors with a nod to the Garifuna people of Belize. Seasonal, seafood-based cuisine highlights locally sourced ingredients — vegetables and herbs from our organic farm, fresh catch by our own fishermen. Dine with a relaxing view of the pool and beach.\\n\\n• Breakfast menu: https://www.itzanabelize.com/es/ResourceFiles/restaurant-pdf-menus/breakfast-menu-compressed.pdf\\n• Lunch menu: https://www.itzanabelize.com/es/ResourceFiles/restaurant-pdf-menus/lunch-menu.pdf\\n• Dinner menu: https://www.itzanabelize.com/es/ResourceFiles/restaurant-pdf-menus/limilia-dinner.pdf\\n• Wine & cocktail menu: https://www.itzanabelize.com/es/ResourceFiles/restaurant-pdf-menus/limilia-wine.pdf\\n\\nReservations: concierge@itzanabelize.com or +(501) 610-1329\"\n  },\n  {\n    \"id\": \"itz_restaurante_nadu\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"restaurantes\",\n    \"tags\": [\n      \"nadu\",\n      \"popup\",\n      \"pop-up\",\n      \"experiencia\",\n      \"experience\",\n      \"grupos\",\n      \"groups\",\n      \"arbol\",\n      \"tree\",\n      \"garifuna\",\n      \"sostenible\",\n      \"sustainable\",\n      \"parrilla\",\n      \"grill\",\n      \"organico\"\n    ],\n    \"pregunta\": \"¿Qué es Nadu? / What is Nadu restaurant?\",\n    \"respuesta\": \"Nadu (meaning 'tree' in Garifuna) is our exclusive pop-up dining experience under the trees, beachside. Sustainable cuisine with fresh, organic, seasonal ingredients — a farm-to-table concept. The menu changes daily based on local produce.\\n\\nAvailable for groups of 15 or more. Advance reservation required.\\nContact: concierge@itzanabelize.com or +(501) 610-1329\"\n  },\n  {\n    \"id\": \"itz_bares_y_lounges\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"restaurantes\",\n    \"tags\": [\n      \"bar\",\n      \"biblio\",\n      \"luna\",\n      \"pool bar\",\n      \"rum room\",\n      \"ron\",\n      \"rum\",\n      \"cocktails\",\n      \"cocteles\",\n      \"bebidas\",\n      \"drinks\",\n      \"lounge\",\n      \"piscina\"\n    ],\n    \"pregunta\": \"¿Qué bares y lounges tienen? / What bars and lounges do you have?\",\n    \"respuesta\": \"Itz'ana has several bars and lounges:\\n• Biblio Bar — craft cocktails, wine, beer, and snacks. Open seasonally 5:00 PM–10:00 PM (or during special events like Rum Tasting).\\n• Luna Bar — craft cocktails, wine, beer in a casual atmosphere. Menu: https://www.itzanabelize.com/es/ResourceFiles/restaurant-pdf-menus/luna-bar.pdf\\n• Pool Bar — refreshing cocktails, tropical drinks, cold beers, wine. Menu: https://www.itzanabelize.com/es/ResourceFiles/restaurant-pdf-menus/lunch-menu.pdf\\n• Rum Room — Caribbean and Central American rums curated by our sommelier in the Great House\\n• Private Owner's Lounge — exclusive for residents and their guests\"\n  },\n  {\n    \"id\": \"itz_actividades_overview\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"actividades\",\n    \"tags\": [\n      \"actividades\",\n      \"activities\",\n      \"excursiones\",\n      \"tours\",\n      \"adventures\",\n      \"aventuras\",\n      \"que hacer\",\n      \"things to do\",\n      \"snorkel\",\n      \"buceo\",\n      \"diving\",\n      \"pesca\",\n      \"fishing\",\n      \"jungle\",\n      \"selva\",\n      \"mayas\",\n      \"tirolesa\"\n    ],\n    \"pregunta\": \"¿Qué actividades y excursiones ofrecen? / What activities and excursions do you offer?\",\n    \"respuesta\": \"Itz'ana is the perfect base for Belizean adventures:\\n• Snorkeling and diving at the world's second-largest barrier reef\\n• Deep-sea and fly fishing\\n• Wildlife sanctuary night walks (jaguar spotting)\\n• Zip-lining through the jungle canopy\\n• Ancient Maya site explorations\\n• Sunset cruise on the Placencia Lagoon\\n• Cacao farm tours\\n• Sailing on pristine Caribbean waters\\n\\nSee all beach adventures: https://www.itzanabelize.com/es/aventuras?adv=aventuras-y-excursiones-en-la-playa\\nPackages & promotions: https://www.itzanabelize.com/es/especiales-paquetes?sp=Promociones\"\n  },\n  {\n    \"id\": \"itz_marina\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"actividades\",\n    \"tags\": [\n      \"marina\",\n      \"boat\",\n      \"bote\",\n      \"muelle\",\n      \"dock\",\n      \"nautico\",\n      \"water sports\",\n      \"deportes acuaticos\",\n      \"18 muelles\",\n      \"18 docks\",\n      \"combustible\",\n      \"fuel\"\n    ],\n    \"pregunta\": \"¿Tienen marina? / Do you have a marina?\",\n    \"respuesta\": \"Yes! Itz'ana has a full-service marina with 18 boat slips, a water sports activity center, fuel station, and supply store. It's the perfect base for fishing trips, diving, snorkeling, and sailing excursions.\\n\\nContact concierge@itzanabelize.com or +(501) 610-1329 for marina and activity bookings.\"\n  },\n  {\n    \"id\": \"itz_spa\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"actividades\",\n    \"tags\": [\n      \"spa\",\n      \"masaje\",\n      \"massage\",\n      \"tratamiento\",\n      \"treatment\",\n      \"wellness\",\n      \"bienestar\",\n      \"relajacion\",\n      \"relax\",\n      \"yoga\",\n      \"terraza yoga\"\n    ],\n    \"pregunta\": \"¿Qué servicios de spa y bienestar tienen? / What spa and wellness services do you offer?\",\n    \"respuesta\": \"Itz'ana Spa offers massages and body treatments by professional therapists — inside the spa or in your villa with the sound of the sea. We also have a yoga terrace with panoramic ocean and peninsula views.\\n\\nTo book spa treatments, contact: concierge@itzanabelize.com or +(501) 610-1329\"\n  },\n  {\n    \"id\": \"itz_paquetes_promociones\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"actividades\",\n    \"tags\": [\n      \"paquetes\",\n      \"packages\",\n      \"promociones\",\n      \"promotions\",\n      \"ofertas\",\n      \"deals\",\n      \"especiales\",\n      \"specials\",\n      \"romance\",\n      \"aventura\",\n      \"adventure\",\n      \"relajacion\"\n    ],\n    \"pregunta\": \"¿Tienen paquetes o promociones especiales? / Do you have special packages or promotions?\",\n    \"respuesta\": \"Yes! Itz'ana offers curated packages designed to inspire relaxation, romance, and adventure — from couples' escapes to family adventures.\\n\\nSee all current packages and promotions: https://www.itzanabelize.com/es/especiales-paquetes?sp=Promociones\\n\\nFor personalized quotes, contact reservations@itzanabelize.com\"\n  },\n  {\n    \"id\": \"itz_bodas_eventos_overview\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"bodas_eventos\",\n    \"tags\": [\n      \"boda\",\n      \"wedding\",\n      \"evento\",\n      \"event\",\n      \"celebracion\",\n      \"celebration\",\n      \"reunion\",\n      \"meeting\",\n      \"venue\",\n      \"espacios\",\n      \"ceremony\"\n    ],\n    \"pregunta\": \"¿Hacen bodas y eventos especiales? / Do you host weddings and special events?\",\n    \"respuesta\": \"Itz'ana Resort & Residences is an exclusive, sophisticated setting for weddings and special events. We offer multiple stunning venues, personalized services, and even Mayan shaman ceremonies.\\n\\nVenues available:\\n• Limilia Deck — outdoor, garden & sea views, up to 122 guests\\n• The Great House — elegant indoor space, up to 150 guests\\n• Yoga Deck — elevated, panoramic ocean views, up to 70 guests (intimate ceremonies)\\n• Private Beach — Caribbean backdrop, up to 150 guests\\n\\nTo start planning: https://www.itzanabelize.com/es/bodas-eventos/empiece-a-planificar\\nEvents calendar: https://www.itzanabelize.com/events\\nFor quotes, contact: reservations@itzanabelize.com or +813-567-1059\"\n  },\n  {\n    \"id\": \"itz_bodas_espacios\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"bodas_eventos\",\n    \"tags\": [\n      \"espacios\",\n      \"venues\",\n      \"limilia deck\",\n      \"great house\",\n      \"yoga deck\",\n      \"playa privada\",\n      \"private beach\",\n      \"capacidad\",\n      \"capacity\",\n      \"invitados\",\n      \"guests\",\n      \"ceremonia\"\n    ],\n    \"pregunta\": \"¿Cuáles son los espacios para eventos y cuántas personas caben?\",\n    \"respuesta\": \"Itz'ana event venues:\\n• Limilia Deck — outdoor, garden/sea views, max 122 guests. Great for open-air dinners and receptions.\\n• The Great House — elegant indoor space, max 150 guests. Ideal for formal events and large receptions.\\n• Yoga Deck — elevated, panoramic ocean + peninsula views, max 70 guests. Perfect for intimate ceremonies.\\n• Private Beach — Caribbean Sea backdrop, max 150 guests. Unique open-air celebration on the sand.\\n\\nMost common spaces: Playa and Limilia area, capacity up to 160–200 guests combined.\\n\\nNote: The resort does not provide its own furniture/equipment — chairs, linens, sound systems must be rented from external suppliers (the resort can recommend trusted vendors).\"\n  },\n  {\n    \"id\": \"itz_bodas_catering\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"bodas_eventos\",\n    \"tags\": [\n      \"catering\",\n      \"buffet\",\n      \"menu evento\",\n      \"comida evento\",\n      \"almuerzo\",\n      \"cena\",\n      \"lunch\",\n      \"dinner\",\n      \"mediterraneo\",\n      \"american\",\n      \"grill\",\n      \"caribbean\",\n      \"grupos\"\n    ],\n    \"pregunta\": \"¿Qué opciones de catering tienen para eventos? / What catering options do you have for events?\",\n    \"respuesta\": \"Itz'ana offers 4 buffet options for events (30–100 guests), priced per person (taxes and service charges not included):\\n\\n• Mediterranean Buffet — fresh salads, ceviches, soups, Mediterranean-inspired mains\\n• Classic American Buffet — salads, sushi, soups, quality American-style cuts\\n• Meet & Grill Buffet — grilled meats and seafood, bold flavors, asado style\\n• Caribbean Vibes Buffet — local Caribbean flavors, tropical fruits, fresh seafood\\n\\nFor pricing and availability, contact reservations@itzanabelize.com\"\n  },\n  {\n    \"id\": \"itz_bodas_open_bar\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"bodas_eventos\",\n    \"tags\": [\n      \"open bar\",\n      \"barra abierta\",\n      \"bebidas evento\",\n      \"event drinks\",\n      \"licores\",\n      \"spirits\",\n      \"precio barra\",\n      \"bar price\",\n      \"relax\",\n      \"deluxe\",\n      \"premium\",\n      \"por hora\",\n      \"per hour\"\n    ],\n    \"pregunta\": \"¿Tienen servicio de barra abierta para eventos? / Do you offer open bar service for events?\",\n    \"respuesta\": \"Yes! Three open bar tiers available (priced per person per hour):\\n\\n• Relax Open Bar — Stolichnaya, Absolut, Beefeater Gin. Starting from USD $32/person/hour.\\n• Deluxe Open Bar — Ketel One, Titos Vodka, Bombay. Premium pricing per hours contracted.\\n• Premium Open Bar — Belvedere, Grey Goose, Zacapa 23. Luxury pricing.\\n\\nExtra hourly charges apply. Corkage fee available if you bring your own wine/champagne.\\n\\nFor a detailed quote, contact reservations@itzanabelize.com\"\n  },\n  {\n    \"id\": \"itz_bodas_contacto\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"bodas_eventos\",\n    \"tags\": [\n      \"contacto eventos\",\n      \"event contact\",\n      \"cotizacion\",\n      \"quote\",\n      \"planificar boda\",\n      \"plan wedding\",\n      \"mr diego\",\n      \"diego\",\n      \"coordinador\",\n      \"coordinator\",\n      \"chamán\",\n      \"mayan shaman\"\n    ],\n    \"pregunta\": \"¿Con quién contacto para organizar un evento o boda? / Who do I contact to plan a wedding or event?\",\n    \"respuesta\": \"To get a quote or start planning your event or wedding, contact our events team:\\n\\n📧 reservations@itzanabelize.com\\n📞 +813-567-1059\\n📱 WhatsApp: +(501) 615-0674\\n\\nStart planning online: https://www.itzanabelize.com/es/bodas-eventos/empiece-a-planificar\\n\\nWe also offer unique Mayan shaman ceremonies, customizable to your beliefs and preferences.\"\n  },\n  {\n    \"id\": \"itz_ubicacion\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"ubicacion_logistica\",\n    \"tags\": [\n      \"ubicacion\",\n      \"location\",\n      \"donde estan\",\n      \"where are you\",\n      \"direccion\",\n      \"address\",\n      \"placencia\",\n      \"belize\",\n      \"stann creek\",\n      \"mile 20\",\n      \"peninsula\"\n    ],\n    \"pregunta\": \"¿Dónde están ubicados? / Where is Itz'ana located?\",\n    \"respuesta\": \"Itz'ana Resort & Residences is located on the Placencia Peninsula, Stann Creek District, southeast Belize.\\n\\nAddress: Mile 20 Placencia Road, Placencia, Stann Creek District, Belize\\n\\nThe resort is 20 minutes from Placencia Village and 3.5 hours by car from Belize City and Philip S.W. Goldson International Airport.\"\n  },\n  {\n    \"id\": \"itz_como_llegar\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"ubicacion_logistica\",\n    \"tags\": [\n      \"como llegar\",\n      \"how to get there\",\n      \"vuelo\",\n      \"flight\",\n      \"bus\",\n      \"tierra\",\n      \"land\",\n      \"barco\",\n      \"boat\",\n      \"sea\",\n      \"aeropuerto\",\n      \"airport\",\n      \"goldson\",\n      \"placencia airstrip\",\n      \"shuttle\"\n    ],\n    \"pregunta\": \"¿Cómo llegar a Itz'ana? / How do I get to Itz'ana?\",\n    \"respuesta\": \"You can reach Itz'ana by land, air, or sea:\\n\\n• By Land: 3.5 hours drive from Belize City and Philip S.W. Goldson International Airport.\\n• By Air: Domestic flight to Placencia Airstrip (short drive to the resort). Several airlines offer connections from Belize City.\\n• By Sea: Scenic arrival by boat.\\n\\nComplimentary bikes are available for exploring the Placencia Peninsula once you arrive.\"\n  },\n  {\n    \"id\": \"itz_transporte_local\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"ubicacion_logistica\",\n    \"tags\": [\n      \"shuttle\",\n      \"transporte\",\n      \"transport\",\n      \"golf cart\",\n      \"taxi\",\n      \"cab\",\n      \"maya beach\",\n      \"placencia village\",\n      \"bicicleta\",\n      \"bike\",\n      \"movilidad\",\n      \"getting around\",\n      \"aeropuerto\",\n      \"airport\",\n      \"vuelo\",\n      \"flight\",\n      \"maya island air\"\n    ],\n    \"pregunta\": \"¿Tienen shuttles, golf carts o taxis? / Do you have shuttles, golf carts, or taxis?\",\n    \"respuesta\": \"• Shuttles — available to Maya Beach and Placencia Village. Cost: USD $10 per additional person + taxes, subject to availability.\\n• Golf carts — available for rent (not complimentary). Pricing provided by our team.\\n• Taxis — our concierge can arrange.\\n• Complimentary bikes — free to use for exploring the peninsula.\\n• Airport: approximately 8 minutes away. First flight departs around 7:00 AM with Maya Island Air.\\n\\nContact concierge@itzanabelize.com or +(501) 610-1329 to arrange transportation.\"\n  },\n  {\n    \"id\": \"itz_contacto_general\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"contacto\",\n    \"tags\": [\n      \"contacto\",\n      \"contact\",\n      \"telefono\",\n      \"phone\",\n      \"email\",\n      \"whatsapp\",\n      \"reservaciones\",\n      \"reservations\",\n      \"concierge\",\n      \"reach us\",\n      \"comunicarse\"\n    ],\n    \"pregunta\": \"¿Cómo puedo contactar al resort? / How can I contact Itz'ana?\",\n    \"respuesta\": \"You can reach Itz'ana Resort & Residences through:\\n\\n📧 General: info@itzanabelize.com\\n📧 Reservations: reservations@itzanabelize.com\\n📧 Concierge / Restaurant / Adventures: concierge@itzanabelize.com\\n📧 Partnerships & PR: partnerships@itzanabelize.com\\n📞 Toll-free: 1-800-591-3077\\n📞 Main: +813-567-1059\\n📱 WhatsApp: +(501) 615-0674\\n📞 Belize local: +501-523-3250\\n📞 Restaurant Limilia / Adventures: +(501) 610-1329\\n🌐 Website: www.itzanabelize.com\"\n  },\n  {\n    \"id\": \"itz_empleo\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"politicas_faq\",\n    \"tags\": [\n      \"empleo\",\n      \"employment\",\n      \"trabajo\",\n      \"job\",\n      \"vacancy\",\n      \"vacante\",\n      \"bartender\",\n      \"server\",\n      \"housekeeping\",\n      \"staff\",\n      \"hiring\",\n      \"contratar\"\n    ],\n    \"pregunta\": \"¿Tienen vacantes de trabajo? / Do you have job openings?\",\n    \"respuesta\": \"For current job openings at Itz'ana Resort & Residences, please check our official website at www.itzanabelize.com or contact our HR department directly at reservations@itzanabelize.com.\\n\\nOur team will be happy to share information about current opportunities.\"\n  },\n  {\n    \"id\": \"itz_colaboraciones_pr\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"politicas_faq\",\n    \"tags\": [\n      \"colaboracion\",\n      \"collaboration\",\n      \"partnership\",\n      \"influencer\",\n      \"pr\",\n      \"press\",\n      \"prensa\",\n      \"media\",\n      \"content creator\",\n      \"creador\",\n      \"propuesta\",\n      \"proposal\",\n      \"redes sociales\"\n    ],\n    \"pregunta\": \"¿Trabajan con influencers o colaboraciones? / Do you work with influencers or collaborations?\",\n    \"respuesta\": \"Yes! Itz'ana is open to creative partnerships and media collaborations. Please send your proposal to our partnerships team:\\n\\n📧 partnerships@itzanabelize.com\\n\\nInclude details about your project and how you'd like to work together. Our team will review and get back to you.\"\n  },\n  {\n    \"id\": \"itz_mascotas\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"politicas_faq\",\n    \"tags\": [\n      \"mascotas\",\n      \"pets\",\n      \"perro\",\n      \"dog\",\n      \"gato\",\n      \"cat\",\n      \"animales\",\n      \"animals\",\n      \"pet friendly\",\n      \"pet policy\"\n    ],\n    \"pregunta\": \"¿Aceptan mascotas? / Are you pet friendly?\",\n    \"respuesta\": \"Itz'ana Resort & Residences is not a pet-friendly property. To ensure the comfort and safety of all our guests, we do not allow pets on the premises.\\n\\nFor further questions, contact: reservations@itzanabelize.com or WhatsApp +(501) 615-0674.\"\n  },\n  {\n    \"id\": \"itz_all_inclusive\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"politicas_faq\",\n    \"tags\": [\n      \"all inclusive\",\n      \"todo incluido\",\n      \"incluye\",\n      \"includes\",\n      \"what is included\",\n      \"que incluye\"\n    ],\n    \"pregunta\": \"¿Son todo incluido? / Are you all-inclusive?\",\n    \"respuesta\": \"No, Itz'ana Resort & Residences is not an all-inclusive property. Accommodation is booked separately, and dining, spa treatments, and activities are offered à la carte.\\n\\nHowever, we do offer curated packages that bundle accommodation with experiences. Check our promotions: https://www.itzanabelize.com/es/especiales-paquetes?sp=Promociones\"\n  },\n  {\n    \"id\": \"itz_horarios_fb\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"restaurantes\",\n    \"tags\": [\n      \"horario\",\n      \"hours\",\n      \"schedule\",\n      \"abre\",\n      \"cierra\",\n      \"open\",\n      \"close\",\n      \"desayuno\",\n      \"breakfast\",\n      \"room service\",\n      \"biblio bar\",\n      \"gift shop\",\n      \"tienda\",\n      \"limpia\",\n      \"housekeeping\"\n    ],\n    \"pregunta\": \"¿Cuáles son los horarios de los restaurantes y servicios? / What are the hours for restaurants and services?\",\n    \"respuesta\": \"Itz'ana service hours:\\n• Breakfast (Limilia): 6:30 AM – 11:00 AM\\n• Room Service: 7:00 AM – 9:00 PM\\n• Biblio Bar: 5:00 PM – 10:00 PM (seasonal / special events)\\n• Gift Shop: 8:00 AM – 8:00 PM, Monday – Sunday\\n• Housekeeping: daily service, 8:00 AM – 3:00 PM\\n\\nFor reservations at Limilia or spa treatments: concierge@itzanabelize.com or +(501) 610-1329\"\n  },\n  {\n    \"id\": \"itz_wifi\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"politicas_faq\",\n    \"tags\": [\n      \"wifi\",\n      \"internet\",\n      \"contraseña\",\n      \"password\",\n      \"red\",\n      \"network\",\n      \"conexion\",\n      \"connection\",\n      \"itzanaguest\",\n      \"lagoonside\"\n    ],\n    \"pregunta\": \"¿Hay WiFi? ¿Cuál es la contraseña? / Is there WiFi? What is the password?\",\n    \"respuesta\": \"Yes, complimentary WiFi is available throughout the resort:\\n• Resort network: ItzanaGuest — Password: Itzana123\\n• Marina network: LagooSide — Password: LagoonSide Villas\\n\\nFor connectivity issues, contact our team via WhatsApp +(501) 615-0674.\"\n  },\n  {\n    \"id\": \"itz_politicas_generales\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"politicas_faq\",\n    \"tags\": [\n      \"day pass\",\n      \"late checkout\",\n      \"salida tarde\",\n      \"check out\",\n      \"playa publica\",\n      \"beach access\",\n      \"service charge\",\n      \"cargo servicio\",\n      \"minibar\",\n      \"alimentos externos\"\n    ],\n    \"pregunta\": \"¿Tienen day pass? ¿Late checkout? ¿La playa es pública? / Do you have day passes? Late checkout? Is the beach public?\",\n    \"respuesta\": \"Key policies at Itz'ana:\\n• Day pass: Not available. Beach and facility access is for resort guests and F&B customers only.\\n• Late checkout: Standard checkout at 11:00 AM. Late checkout is subject to availability at no extra charge.\\n• Beach: Private — exclusive for resort guests and dining customers.\\n• Minibar: Not included; additional charge, billed to room daily.\\n• Outside food/drinks: Not permitted in common areas.\\n• Service charge: Applied to all services (covers service and facility use).\\n\\nQuestions? Contact: reservations@itzanabelize.com\"\n  },\n  {\n    \"id\": \"itz_equipos_gratuitos\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"actividades\",\n    \"tags\": [\n      \"kayak\",\n      \"paddle board\",\n      \"bicicleta\",\n      \"bike\",\n      \"gratuito\",\n      \"complimentary\",\n      \"free\",\n      \"incluido\",\n      \"included\",\n      \"pesca muelle\",\n      \"fishing dock\",\n      \"yoga privado\",\n      \"private yoga\"\n    ],\n    \"pregunta\": \"¿Qué equipos o actividades son gratuitos? / What equipment or activities are complimentary?\",\n    \"respuesta\": \"The following are complimentary for resort guests (subject to availability):\\n• Kayaks\\n• Paddle boards\\n• Bicycles (great for exploring the Placencia Peninsula)\\n• Recreational fishing from the dock is permitted in designated areas.\\n\\nAdditional options available for a fee:\\n• Private yoga or wellness sessions (on request)\\n• Golf cart rental\\n• Guided fishing and water activity excursions\\n\\nContact concierge@itzanabelize.com to arrange.\"\n  },\n  {\n    \"id\": \"itz_gimnasio_sostenibilidad\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"resort\",\n    \"tags\": [\n      \"gimnasio\",\n      \"gym\",\n      \"fitness\",\n      \"ejercicio\",\n      \"exercise\",\n      \"correr\",\n      \"run\",\n      \"sostenibilidad\",\n      \"sustainability\",\n      \"ecologico\",\n      \"eco\",\n      \"agua filtrada\",\n      \"filtered water\",\n      \"plastico\",\n      \"plastic\",\n      \"familia\",\n      \"family\",\n      \"adultos\",\n      \"adults\",\n      \"ninos\",\n      \"kids\"\n    ],\n    \"pregunta\": \"¿Tienen gimnasio? ¿Es familiar? ¿Qué hacen en sostenibilidad? / Do you have a gym? Is it family-friendly? What about sustainability?\",\n    \"respuesta\": \"• Gym: No on-site gym. We can recommend nearby options in Sirenian Bay or Placencia Village.\\n• Family-friendly: Yes! Itz'ana welcomes families with children while maintaining a relaxed, sophisticated atmosphere.\\n• Running/walking: Safe paths and trails available within the property.\\n• Sustainability: We use water filtration systems, minimize single-use plastics, and actively preserve local wildlife.\\n• Drinking water: Our filtered water system is safe for consumption.\\n• Medical services: Nearby clinics available; our team can assist in case of medical need.\"\n  },\n  {\n    \"id\": \"itz_amenidades_resort\",\n    \"propiedad\": \"ITZ\",\n    \"categoria\": \"resort\",\n    \"tags\": [\n      \"amenidades\",\n      \"amenities\",\n      \"instalaciones\",\n      \"facilities\",\n      \"piscina\",\n      \"pool\",\n      \"playa\",\n      \"beach\",\n      \"jardín orgánico\",\n      \"organic garden\",\n      \"tienda\",\n      \"shop\",\n      \"que tiene\",\n      \"what does it have\"\n    ],\n    \"pregunta\": \"¿Qué instalaciones y amenidades tiene el resort? / What facilities does the resort have?\",\n    \"respuesta\": \"Itz'ana Resort & Residences features:\\n• Private white-sand beach\\n• Outdoor swimming pool\\n• Full-service marina with 18 boat slips and water sports center\\n• Itz'ana Spa\\n• Yoga terrace with ocean views\\n• Organic garden (fresh herbs and vegetables for the kitchen)\\n• The Shop at Itz'ana — exclusive clothing and resort boutique\\n• Multiple restaurants and bars (Limilia, Nadu, Biblio Bar, Luna Bar, Pool Bar, Rum Room)\\n• Private Owner's Lounge\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -16
      ],
      "id": "49c3c59c-50c9-4aa4-bdb2-e594f574e070",
      "name": "LISTA de CHUNKS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -16
      ],
      "id": "3848e77b-d57a-482d-b8fd-f4bd7c67c95d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        -16
      ],
      "id": "1497a09c-590f-4894-a817-ca6749d10814",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embedding": "itzana_embedding",
        "vectorIndexName": "itzana_vector_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        480,
        -16
      ],
      "id": "5ce78ed0-23aa-4c27-b48f-88e406675365",
      "name": "MongoDB Atlas Vector Store CHUNKS",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pregunta }}. {{ $json.respuesta }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "categoria",
                "value": "={{ $json.categoria }}"
              },
              {
                "name": "tags",
                "value": "={{ $json.tags }}"
              },
              {
                "name": "pregunta",
                "value": "={{ $json.pregunta }}"
              },
              {
                "name": "respuesta",
                "value": "={{ $json.respuesta }}"
              },
              {
                "name": "propiedad",
                "value": "={{ $json.propiedad }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        624,
        208
      ],
      "id": "31be386d-fcef-4d65-bd22-80e148d4c724",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        208
      ],
      "id": "ea6548d5-2400-45b4-993c-e48080d4624a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtzIKoi61tZvaeua",
          "name": "Vectorizer Agent - Knowledge Bases"
        }
      }
    }
  ],
  "connections": {
    "LISTA de CHUNKS": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "LISTA de CHUNKS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store CHUNKS",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}