ITZANA-KAANA/workflows/Itzana_Notifications.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        1584
      ],
      "id": "fc8d1ff6-ab2f-446a-92e3-9b4e477b5606",
      "name": "START"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n-001",
              "name": "manychat_id",
              "value": "={{ $json.manychat_id }}",
              "type": "string"
            },
            {
              "id": "n-002",
              "name": "nombre",
              "value": "={{ $json.nombre || 'Huésped' }}",
              "type": "string"
            },
            {
              "id": "n-003",
              "name": "categoria",
              "value": "={{ $json.categoria }}",
              "type": "string"
            },
            {
              "id": "n-004",
              "name": "resumen_conversacion",
              "value": "={{ $json.resumen_conversacion }}",
              "type": "string"
            },
            {
              "id": "n-005",
              "name": "entrada_usuario",
              "value": "={{ $json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "6e647f6d-08c0-4054-b1ef-7f49b9b669f4",
              "name": "propiedad",
              "value": "={{ $json.propiedad || 'ITZ' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        1584
      ],
      "id": "11f10e76-6046-4fc5-9210-576b65286d17",
      "name": "Set Context"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-bodas",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "bodas_eventos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-pr",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "pr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-empleo",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "empleo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-escalamiento",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "escalamiento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-reserva",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "reserva",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        480,
        1536
      ],
      "id": "11ea954d-3eba-4d13-8582-98885898bf6a",
      "name": "Switch Categoria"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0b5fdb-ae4d-44ad-982a-a58db9b1be0c",
              "name": "html",
              "value": "=<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#1a5f7a\">🌊 Nueva consulta de bodas/eventos — Itz'ana Bot</h2>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold;width:140px\">ManyChat ID</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.manychat_id }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Nombre</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.nombre }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Categoría</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">bodas_eventos</td></tr>\n</table>\n<h3 style=\"color:#1a5f7a\">Último mensaje del usuario</h3>\n<blockquote style=\"border-left:4px solid #1a5f7a;margin:0;padding:10px 15px;background:#f9f9f9\">{{ $json.entrada_usuario }}</blockquote>\n<h3 style=\"color:#1a5f7a\">Resumen de conversación</h3>\n<div style=\"background:#f9f9f9;padding:15px;border-radius:4px\">{{ $json.resumen_conversacion }}</div>\n<hr style=\"margin:20px 0;border:none;border-top:1px solid #e0e0e0\">\n<p style=\"color:#888;font-size:12px\">Mensaje generado automáticamente por el bot de Itz'ana • <a href=\"https://www.itzanabelize.com\">itzanabelize.com</a></p>\n</body></html>",
              "type": "string"
            },
            {
              "id": "fc5abebb-63e9-4bf1-bffd-e578f4f9b5ac",
              "name": "subject",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? \"Nueva consulta bodas/eventos — Ka'ana Bot\" : \"Nueva consulta bodas/eventos — Itz'ana Bot\" }}",
              "type": "string"
            },
            {
              "id": "654a4c70-52b5-45e2-864d-f9d1bf35deea",
              "name": "sendTo",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'jorge.calderon@garooinc.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        1200
      ],
      "id": "0cb35fd6-effc-4abe-9688-acd24aa423bf",
      "name": "Email Bodas/Eventos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0b5fdb-ae4d-44ad-982a-a58db9b1be0c",
              "name": "html",
              "value": "=<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#1a5f7a\">📸 Nueva consulta PR/Colaboración — Itz'ana Bot</h2>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold;width:140px\">ManyChat ID</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.manychat_id }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Nombre</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.nombre }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Categoría</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">pr / colaboración</td></tr>\n</table>\n<h3 style=\"color:#1a5f7a\">Último mensaje del usuario</h3>\n<blockquote style=\"border-left:4px solid #1a5f7a;margin:0;padding:10px 15px;background:#f9f9f9\">{{ $json.entrada_usuario }}</blockquote>\n<h3 style=\"color:#1a5f7a\">Resumen de conversación</h3>\n<div style=\"background:#f9f9f9;padding:15px;border-radius:4px\">{{ $json.resumen_conversacion }}</div>\n<hr style=\"margin:20px 0;border:none;border-top:1px solid #e0e0e0\">\n<p style=\"color:#888;font-size:12px\">Mensaje generado automáticamente por el bot de Itz'ana • <a href=\"https://www.itzanabelize.com\">itzanabelize.com</a></p>\n</body></html>",
              "type": "string"
            },
            {
              "id": "fc5abebb-63e9-4bf1-bffd-e578f4f9b5ac",
              "name": "subject",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? \"Nueva consulta PR/Colaboración — Ka'ana Bot\" : \"Nueva consulta PR/Colaboración — Itz'ana Bot\" }}",
              "type": "string"
            },
            {
              "id": "654a4c70-52b5-45e2-864d-f9d1bf35deea",
              "name": "sendTo",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'jorge.calderon@garooinc.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        1392
      ],
      "id": "deb28436-a0a5-42c2-bae5-a613710d7153",
      "name": "Email PR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0b5fdb-ae4d-44ad-982a-a58db9b1be0c",
              "name": "html",
              "value": "=<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#1a5f7a\">💼 Nueva consulta de empleo — Itz'ana Bot</h2>\n<p style=\"color:#cc6600;font-size:13px\">⚠️ <strong>Nota:</strong> Reemplaza el destinatario de este correo con el email de RRHH cuando esté disponible.</p>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold;width:140px\">ManyChat ID</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.manychat_id }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Nombre</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.nombre }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Categoría</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">empleo</td></tr>\n</table>\n<h3 style=\"color:#1a5f7a\">Último mensaje del usuario</h3>\n<blockquote style=\"border-left:4px solid #1a5f7a;margin:0;padding:10px 15px;background:#f9f9f9\">{{ $json.entrada_usuario }}</blockquote>\n<h3 style=\"color:#1a5f7a\">Resumen de conversación</h3>\n<div style=\"background:#f9f9f9;padding:15px;border-radius:4px\">{{ $json.resumen_conversacion }}</div>\n<hr style=\"margin:20px 0;border:none;border-top:1px solid #e0e0e0\">\n<p style=\"color:#888;font-size:12px\">Mensaje generado automáticamente por el bot de Itz'ana • <a href=\"https://www.itzanabelize.com\">itzanabelize.com</a></p>\n</body></html>",
              "type": "string"
            },
            {
              "id": "fc5abebb-63e9-4bf1-bffd-e578f4f9b5ac",
              "name": "subject",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? \"Nueva consulta empleo — Ka'ana Bot\" : \"Nueva consulta empleo — Itz'ana Bot\" }}",
              "type": "string"
            },
            {
              "id": "654a4c70-52b5-45e2-864d-f9d1bf35deea",
              "name": "sendTo",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'jorge.calderon@garooinc.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        1584
      ],
      "id": "2f370a72-0b05-49e4-afed-ed56fd315c71",
      "name": "Email Empleo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0b5fdb-ae4d-44ad-982a-a58db9b1be0c",
              "name": "html",
              "value": "=<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#c0392b\">🔔 Usuario solicita atención humana — Itz'ana Bot</h2>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n<tr><td style=\"padding:8px;background:#fdf0f0;font-weight:bold;width:140px\">ManyChat ID</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.manychat_id }}</td></tr>\n<tr><td style=\"padding:8px;background:#fdf0f0;font-weight:bold\">Nombre</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.nombre }}</td></tr>\n<tr><td style=\"padding:8px;background:#fdf0f0;font-weight:bold\">Categoría</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">escalamiento</td></tr>\n</table>\n<h3 style=\"color:#c0392b\">Último mensaje del usuario</h3>\n<blockquote style=\"border-left:4px solid #c0392b;margin:0;padding:10px 15px;background:#f9f9f9\">{{ $json.entrada_usuario }}</blockquote>\n<h3 style=\"color:#c0392b\">Resumen de conversación</h3>\n<div style=\"background:#f9f9f9;padding:15px;border-radius:4px\">{{ $json.resumen_conversacion }}</div>\n<hr style=\"margin:20px 0;border:none;border-top:1px solid #e0e0e0\">\n<p style=\"color:#888;font-size:12px\">Mensaje generado automáticamente por el bot de Itz'ana • <a href=\"https://www.itzanabelize.com\">itzanabelize.com</a></p>\n</body></html>",
              "type": "string"
            },
            {
              "id": "fc5abebb-63e9-4bf1-bffd-e578f4f9b5ac",
              "name": "subject",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? \"Atención urgente requerida — Ka'ana Bot\" : \"Atención urgente requerida — Itz'ana Bot\" }}",
              "type": "string"
            },
            {
              "id": "654a4c70-52b5-45e2-864d-f9d1bf35deea",
              "name": "sendTo",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'jorge.calderon@garooinc.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        1776
      ],
      "id": "76de135d-56cf-48ef-87ee-cc38ff7cd4d4",
      "name": "Email Escalamiento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0b5fdb-ae4d-44ad-982a-a58db9b1be0c",
              "name": "html",
              "value": "=<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">\n<h2 style=\"color:#1a5f7a\">🏝️ Nueva consulta de reserva — Itz'ana Bot</h2>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold;width:140px\">ManyChat ID</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.manychat_id }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Nombre</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">{{ $json.nombre }}</td></tr>\n<tr><td style=\"padding:8px;background:#f0f7fb;font-weight:bold\">Categoría</td><td style=\"padding:8px;border-bottom:1px solid #e0e0e0\">reserva</td></tr>\n</table>\n<h3 style=\"color:#1a5f7a\">Último mensaje del usuario</h3>\n<blockquote style=\"border-left:4px solid #1a5f7a;margin:0;padding:10px 15px;background:#f9f9f9\">{{ $json.entrada_usuario }}</blockquote>\n<h3 style=\"color:#1a5f7a\">Resumen de conversación</h3>\n<div style=\"background:#f9f9f9;padding:15px;border-radius:4px\">{{ $json.resumen_conversacion }}</div>\n<hr style=\"margin:20px 0;border:none;border-top:1px solid #e0e0e0\">\n<p style=\"color:#888;font-size:12px\">Mensaje generado automáticamente por el bot de Itz'ana • <a href=\"https://www.itzanabelize.com\">itzanabelize.com</a></p>\n</body></html>",
              "type": "string"
            },
            {
              "id": "fc5abebb-63e9-4bf1-bffd-e578f4f9b5ac",
              "name": "subject",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? \"Nueva consulta de reserva — Ka'ana Bot\" : \"Nueva consulta de reserva — Itz'ana Bot\" }}",
              "type": "string"
            },
            {
              "id": "654a4c70-52b5-45e2-864d-f9d1bf35deea",
              "name": "sendTo",
              "value": "={{ $('Set Context').first().json.propiedad === 'KAA' ? 'info@kaanabelize.com' : 'jorge.calderon@garooinc.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        1968
      ],
      "id": "34e6a4f1-c064-46c7-adab-ceaeb730bb25",
      "name": "Email Reserva"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        1584
      ],
      "id": "8b086bcc-d45f-4f16-a29f-ceb109b9b55e",
      "name": "Send a message",
      "webhookId": "76bbf5a2-cc4e-4be0-89a6-c6f6360d6b34",
      "credentials": {
        "gmailOAuth2": {
          "id": "H8Qx7NlrthXmHUiy",
          "name": "Soporte Garoo"
        }
      }
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Switch Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Categoria": {
      "main": [
        [
          {
            "node": "Email Bodas/Eventos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Empleo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Escalamiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Bodas/Eventos": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email PR": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Empleo": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Escalamiento": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Reserva": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}