ITZANA-KAANA/workflows/PRINCIPAL.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($('Create Body').first().json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5104,
        1136
      ],
      "id": "4efadd7e-795a-41c4-83ef-d20722ab15bd",
      "name": "PARSE BODY"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df6dd35d-a8b7-4ecb-8ef8-5a19ed499cfc",
              "name": "message",
              "value": "={{ $json.propertyName.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8464,
        1136
      ],
      "id": "74997e4a-2a27-4c65-9f3b-a56f0b41d2bb",
      "name": "JOINNING MESSAGE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5ad242-c6c3-4f2a-9b67-edb92fa424be",
              "leftValue": "={{ $json.propertyName?.last() || \"\" }}",
              "rightValue": "={{ $('INPUT FINAL').first().json.input }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        8240,
        1136
      ],
      "id": "609779f2-a2c6-4c57-9fd3-9bcc137fcae0",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=hotel:{{ $('PARSE BODY').first().json.current_body.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8688,
        1136
      ],
      "id": "0cad39bb-6944-43a9-a811-3db5fbf8a641",
      "name": "DELETE MESSAGES",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7792,
        1136
      ],
      "id": "834ed8a2-a3b4-4bf1-94f5-4fcb5bb5f59c",
      "name": "Wait",
      "webhookId": "50ed2939-b8ec-48f7-8c6b-3bf14c2efc58"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=hotel:{{ $('PARSE BODY').first().json.current_body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8016,
        1136
      ],
      "id": "d317fb87-ebdd-4b09-b8e1-747e85b3c512",
      "name": "GET MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=hotel:{{ $('PARSE BODY').first().json.current_body.id }}",
        "messageData": "={{ $json.input }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7568,
        1136
      ],
      "id": "b52a88af-518e-4bae-bbdf-beff290f2fff",
      "name": "SAVE MESSAGE",
      "credentials": {
        "redis": {
          "id": "8EUkwaZixjCH7szY",
          "name": "Redis GarooVPS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1c4c388-e572-4502-9cf1-51d28b4d022d",
              "name": "input",
              "value": "={{ $json.mensaje.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7344,
        1136
      ],
      "id": "0f1c6378-f84d-46ac-94b3-b96130c4f78b",
      "name": "INPUT FINAL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6448,
        944
      ],
      "id": "06f1a5a4-0c91-40d1-9de0-98d5a73b87ab",
      "name": "audio input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6448,
        1136
      ],
      "id": "7c2a5747-2a21-435b-9fe2-838d00978f4a",
      "name": "image input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea8c9284-e11f-4e87-a742-4392a692da2a",
              "name": "mensaje",
              "value": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
              "type": "string"
            },
            {
              "id": "1f2fe528-cff0-4713-9dcb-4221b508c597",
              "name": "hora_llegada",
              "value": "={{ $('PARSE BODY').first().json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6448,
        1328
      ],
      "id": "f7fc47e3-951b-49a4-94c7-1ece7f3ea717",
      "name": "text input"
    },
    {
      "parameters": {
        "url": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        944
      ],
      "id": "01814180-5480-4a51-9ed4-30fe592027da",
      "name": "HTTP IF AUDIO"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7120,
        1136
      ],
      "id": "f4a49ed2-5f49-4bb7-8bad-7c16732ab53a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "hora_llegada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        6896,
        1136
      ],
      "id": "cf7d62a4-017b-40d8-946b-5215bfa14d6f",
      "name": "Sort"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6672,
        1120
      ],
      "id": "29d0fbb7-cf0d-4981-92dc-9fc21a3954a0",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        6224,
        944
      ],
      "id": "530b08b6-8621-4c58-9a88-d10b6a42ff62",
      "name": "TRANSCRIBE AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "PjPavWO5j0jIFtSG",
          "name": "ITZANA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('HTTP Request').first().binary.data.mimeType }}",
              "rightValue": "audio/ogg",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('HTTP Request').first().binary.data.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5776,
        1040
      ],
      "id": "ac21ecba-0df2-4b89-8001-bc66f641584e",
      "name": "ES AUDIO / IMAGEN"
    },
    {
      "parameters": {
        "url": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5552,
        1040
      ],
      "id": "7a9ed106-c319-4c83-93f7-2b6812a8f782",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92200249-f6e4-4f84-bd28-bc36de22beb3",
              "leftValue": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
              "rightValue": "https://manybot-files",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b5bd48d1-851e-43bc-a097-e16c0dcca59c",
              "leftValue": "={{ $('PARSE BODY').first().json.current_body.last_input_text }}",
              "rightValue": "https://lookaside.fbsbx.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5328,
        1136
      ],
      "id": "06c1ad44-8b6d-4f90-84a4-1c0c368fcdf0",
      "name": "ES ARCHIVO"
    },
    {
      "parameters": {
        "jsCode": "const current_key = $input.first().json.body.key;\n\nconst current_body = $input.first().json.body;\n\nconst timestamp = new Date().toISOString();\n\nconst start_time = Date.now();\n\nconst result_body = {\n current_body,\n  timestamp\n}\n\nreturn [{\n  key: current_key,\n  body: JSON.stringify(result_body),\n  timestamp,\n  start_time\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        1136
      ],
      "id": "5ded5d2b-0819-42b2-ba29-744c91e3bbf5",
      "name": "Create Body"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotels-agent",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4656,
        1136
      ],
      "id": "ef7aa0b1-a65d-4084-80f9-251ba2592450",
      "name": "Webhook",
      "webhookId": "bbe94977-7886-4071-a874-e370d3b20c97"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera. \"El usuario envió una imagen etc...\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        6224,
        1136
      ],
      "id": "15a855c4-c2aa-4c4a-88d5-a990b3b786da",
      "name": "ANALIZA IMAGEN",
      "credentials": {
        "openAiApi": {
          "id": "PjPavWO5j0jIFtSG",
          "name": "ITZANA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp-001",
              "name": "propiedad",
              "value": "ITZ",
              "type": "string"
            },
            {
              "id": "sp-002",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "4b61b5a4-35ba-478d-bf51-69b4a83faa12",
              "name": "page_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "sp-003",
              "name": "entrada_usuario",
              "value": "={{ $('JOINNING MESSAGE').first().json.message }}",
              "type": "string"
            },
            {
              "id": "ffb93e3d-90aa-4350-8c08-63772244385f",
              "name": "canal_ingreso",
              "value": "={{ $('PARSE BODY').item.json.current_body.custom_fields.canal_ingreso }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8912,
        1136
      ],
      "id": "1d8aea0d-b8bd-4048-a119-433ab17f9f8c",
      "name": "Set Propiedad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "manyChatApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subscriber_id: $('Set Propiedad').first().json.manychat_id, data: { version: 'v2', content: { type: $('Parameter Type').first().json.type, messages: [{ type: 'text', text: $('Parse Agent Output').first().json.response_text }] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11296,
        1136
      ],
      "id": "a0a4d3dd-1532-4ecc-8196-0d46a15e8608",
      "name": "Send to ManyChat",
      "credentials": {
        "manyChatApi": {
          "id": "aEvHbFXnmwofChqs",
          "name": "ManyChat Garoo"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  $('Find User').first().json.isNotEmpty()\n  ? $('Find User').first().json\n  : $('Insert User').first().json\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10032,
        1136
      ],
      "id": "58740f77-3bd0-46f8-9e61-7d628af5cd29",
      "name": "User Data"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(\",\") }}",
        "options": {
          "dateFields": "timestamp"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9808,
        1232
      ],
      "id": "e9100f48-8b40-40cc-9b0f-f51a39c7c291",
      "name": "Update User",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "={{ Object.keys($json).join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9808,
        1040
      ],
      "id": "a2171302-e945-41ff-9831-10bd61b76ecb",
      "name": "Insert User",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={ \n  \"manychat_id\": \"{{ $json.manychat_id }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9136,
        1136
      ],
      "id": "245b1745-a8d6-483d-b940-9d7bb56b05f7",
      "name": "Find User",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "1fca47c3-3150-4740-a3a3-aaeb55e0bd49",
              "name": "page_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "propiedad",
              "value": "={{ $('Set Propiedad').first().json.propiedad }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('Set Propiedad').item.json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('Set Propiedad').first().json.canal_ingreso }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "06aad59e-59d6-404b-a8f0-4b0c72f2c1c3",
              "name": "first_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7436bc68-ba4c-4c48-8ac0-bea988b3079d",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "d424a476-8d63-449f-acc2-09a69f158a8f",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "c10d0b79-3d2d-4c63-b70f-9242d988e501",
              "name": "datos_completos",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b8e966d8-5d08-45d2-a61f-40da8b8c6690",
              "name": "nombre",
              "value": "",
              "type": "string"
            },
            {
              "id": "072fcfdf-3c65-480a-961c-a92dc5074624",
              "name": "email",
              "value": "",
              "type": "string"
            },
            {
              "id": "f2561825-220c-49ab-ad1b-c98ea75e2d4c",
              "name": "telefono",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9584,
        1040
      ],
      "id": "76db63e0-b3bf-428b-8487-c856abe31b47",
      "name": "DATA to CREATE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f396d4-0c8b-4099-b87a-4f98c96f9af1",
              "leftValue": "={{ $('Find User').first().json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9360,
        1136
      ],
      "id": "ed367982-bcf4-44e8-9372-898e81f3488a",
      "name": "If USER NOT EXIST"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2b99084-0422-4ba4-973e-0fc03b22ba6e",
              "name": "_id",
              "value": "={{ $('Find User').first().json._id.toJsonString().replace(/^\"(.*)\"$/, '$1') }}",
              "type": "string"
            },
            {
              "id": "9040d88b-dc99-47e3-a6e3-14b8264ae6cb",
              "name": "manychat_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.id }}",
              "type": "string"
            },
            {
              "id": "1fca47c3-3150-4740-a3a3-aaeb55e0bd49",
              "name": "page_id",
              "value": "={{ $('PARSE BODY').first().json.current_body.page_id }}",
              "type": "string"
            },
            {
              "id": "689aa6e6-0e3f-4aba-8834-1b8f675acaf4",
              "name": "propiedad",
              "value": "={{ $('Set Propiedad').first().json.propiedad }}",
              "type": "string"
            },
            {
              "id": "d2233cfa-026f-400c-99a9-7f34bd8d58cc",
              "name": "last_user_input",
              "value": "={{ $('Set Propiedad').first().json.entrada_usuario }}",
              "type": "string"
            },
            {
              "id": "15532baf-1a9a-439a-9af2-bc6354c701e5",
              "name": "input_channel",
              "value": "={{ $('Set Propiedad').first().json.canal_ingreso }}",
              "type": "string"
            },
            {
              "id": "014d3381-ff7e-446b-a7ab-753ca46481ff",
              "name": "timestamp",
              "value": "={{ $('PARSE BODY').first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "06aad59e-59d6-404b-a8f0-4b0c72f2c1c3",
              "name": "first_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7436bc68-ba4c-4c48-8ac0-bea988b3079d",
              "name": "last_interaction",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "d424a476-8d63-449f-acc2-09a69f158a8f",
              "name": "has_reservation",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "c10d0b79-3d2d-4c63-b70f-9242d988e501",
              "name": "datos_completos",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9584,
        1232
      ],
      "id": "24d39dab-6a35-4dc9-a38b-8c8ea7bb6f24",
      "name": "DATA to UPDATE"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10256,
        1360
      ],
      "id": "3f0e1bf6-3cc7-4f13-abaf-93da269ee97d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "J9zb84vhqsx182XW",
          "name": "ITZANA-KAANA"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.manychat_id }}",
        "collectionName": "chat_histories",
        "databaseName": "Database",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1.1,
      "position": [
        10384,
        1360
      ],
      "id": "d92915ad-e83a-4ec2-a2ae-2cd066ff50b1",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    },
    {
      "parameters": {
        "description": "=Escala al equipo del hotel. Úsala cuando el usuario pida hablar con una persona, o la consulta sea sobre bodas/eventos, PR/colaboración o empleo. Pasa: {\"categoria\": \"<bodas_eventos|pr|empleo|escalamiento|reserva>\", \"resumen_conversacion\": \"<resumen de 2-3 oraciones de la conversación>\", \"entrada_usuario\": \"<último mensaje del usuario textual>\", \"nombre\": \"<nombre del usuario si se conoce, si no cadena vacía>\"}.",
        "workflowId": {
          "__rl": true,
          "value": "OApztbIN8Jhb4JHz",
          "mode": "list",
          "cachedResultUrl": "/workflow/OApztbIN8Jhb4JHz",
          "cachedResultName": "ITZ NOTIFICATIONS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        10512,
        1360
      ],
      "id": "859d1304-ed89-4062-8ad9-e569ba3f9e5c",
      "name": "notifications"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Propiedad').first().json.entrada_usuario }}",
        "options": {
          "systemMessage": "=## PRIORIDAD MÁXIMA — SALUDOS PUROS ##\nSi el mensaje del usuario es ÚNICAMENTE un saludo (hola, hi, hello, hey, buenas, good morning, good afternoon, good evening, buenos días, buenas tardes, buenas noches) — NO llames ninguna herramienta. Responde DIRECTAMENTE con este JSON:\n{\"response\": \"Hola, soy Kaan, tu concierge virtual de Itz'ana. ¿En qué puedo ayudarte hoy?\", \"escalate\": false, \"categoria\": \"info\", \"nombre_capturado\": null, \"email_capturado\": null, \"telefono_capturado\": null}\n\n---\n\n{{ $('User Data').first().json.nombre ? '## USUARIO REGISTRADO ##\\nEste usuario ya nos ha escrito antes. Su nombre es ' + $('User Data').first().json.nombre + '.\\nSalúdalo por su nombre de forma natural al inicio de este mensaje (solo una vez, no repetirlo en cada respuesta).\\n\\n---\\n\\n' : '' }}\n\n## IDENTIDAD ##\nEres Kaan, el concierge virtual oficial de Itz'ana Resort & Residences, un resort de lujo en Placencia, Belice (Mile 20 Placencia Road, Stann Creek District). Eres cálido, sofisticado y reflejas el espíritu del Caribe beliceño. Nunca te presentes como IA a menos que te lo pregunten directamente.\n\n---\n\n## CAPTURA DE DATOS DE CONTACTO ##\nTu objetivo secundario es obtener nombre, correo y teléfono del visitante, pero NUNCA como barrera antes de responder.\n\nRegla: Responde primero. Solicita datos solo cuando el usuario muestra intención activa de reservar o ser contactado.\n- Si pregunta sobre habitaciones, actividades, precios → responde con info del KB + link correspondiente. No pidas datos.\n- Si quiere reservar o pide cotización → después de dar la info, agrega: \"¿Me compartes tu nombre y correo para que el equipo pueda darte seguimiento?\"\n- Si activas handoff (bodas, PR, empleo, escalamiento) → el equipo del hotel tomará los datos al contactarle.\n\nCaptura pasiva: si el usuario menciona su nombre, email o teléfono en cualquier mensaje, extráelos y ponlos en el JSON de salida (nombre_capturado, email_capturado, telefono_capturado). Si no se mencionaron → null.\n\n---\n\n## IDIOMA ##\nDetecta el idioma del usuario en su primer mensaje y responde SIEMPRE en ese mismo idioma:\n- Si escribe en español → responde en español\n- Si escribe en inglés → responde en inglés\n- Si mezcla → usa el idioma predominante\nNunca cambies de idioma en mitad de la conversación.\n\n---\n\n## HERRAMIENTAS DISPONIBLES ##\n\n### kb_search\nCuándo usarla: Para responder CUALQUIER pregunta sobre el resort: alojamientos, restaurantes, bares, actividades, excursiones, bodas, eventos, spa, marina, políticas, ubicación, precios, paquetes, contacto.\nREGLA: SIEMPRE usa kb_search antes de responder sobre el resort. NUNCA inventes información.\nCómo llamarla: Pasa la pregunta del usuario como query.\nRespuesta: Usa la respuesta del KB tal como viene. Si el KB incluye un link de contenido (actividades, paquetes, menús), inclúyelo tal cual.\n\n### handoff\nCuándo usarla:\n- El usuario pide hablar con una persona del equipo\n- Consulta de boda o evento especial → categoria: \"bodas_eventos\"\n- Consulta de PR, prensa, influencer o colaboración → categoria: \"pr\"\n- Pregunta sobre empleo o vacantes → categoria: \"empleo\"\n- Consulta de reserva que requiere atención personalizada → categoria: \"reserva\"\n- El usuario expresa frustración o urgencia → categoria: \"escalamiento\"\nCómo llamarla: Pasa categoria y resumen_conversacion (2-3 oraciones de contexto).\nDespués de llamarla: Informa al usuario que el equipo lo contactará pronto.\n\n---\n\n## REGLAS DE CONVERSACIÓN ##\n\n### Saludos puros (hola, hi, good morning)\nSaluda con calidez, preséntate como Kaan y pregunta en qué puedes ayudar.\nEjemplo: \"Hola, soy Kaan, tu concierge virtual de Itz'ana. ¿En qué puedo ayudarte hoy?\"\n\n### Explorando el resort (habitaciones, actividades, restaurantes, amenidades, precios generales)\nEl usuario está conociendo el resort. SIEMPRE usa kb_search primero.\nSirve la información del KB + el link de contenido que el KB mencione (página del resort, menús, galería de actividades, paquetes).\nNO des el link de reservas todavía — el usuario está explorando, aún no está listo para reservar.\nEjemplo: usuario pregunta \"what rooms do you have?\" → describe opciones con bullet • + link de contenido si el KB lo incluye.\n\n### Intención de booking clara\nEl usuario quiere RESERVAR activamente. Señales: \"quiero reservar\", \"I want to book\", \"how do I make a reservation\", \"I'm ready to book\", \"¿cómo reservo?\", preguntas directas de disponibilidad + intención de compra.\nUsa kb_search para contexto. SIEMPRE incluye el link de reservas:\nhttps://reservations.itzanabelize.com/book/accommodations\nMenciona que los precios varían por fecha y temporada.\nLuego solicita nombre y correo para seguimiento del equipo.\n\n### Bodas y eventos\nLlama a kb_search para info inicial de venues y capacidades.\nLuego llama a handoff con categoria: \"bodas_eventos\".\nMensaje al usuario: \"Nuestro equipo de eventos te enviará una propuesta personalizada.\"\n\n### PR y colaboraciones\nLlama a handoff con categoria: \"pr\".\nInforma que partnerships@itzanabelize.com revisará su propuesta.\n\n### Empleo\nLlama a handoff con categoria: \"empleo\".\nInforma que el equipo de RRHH se pondrá en contacto.\n\n### Temas fuera de contexto\nRedirige amablemente: \"Solo puedo ayudarte con consultas sobre Itz'ana Resort & Residences. ¿Hay algo sobre el resort en lo que pueda ayudarte?\"\nNO respondas preguntas sobre otros hoteles, política, entretenimiento u otros temas.\n\n---\n\n## ESTILO DE RESPUESTA ##\n- Texto plano. Sin markdown, sin asteriscos, sin hashtags.\n- Máximo 500 caracteres por mensaje.\n  - Excepción: listas de amenidades o actividades usan bullet • en líneas separadas.\n- Cálido pero profesional.\n- No repitas \"Itz'ana Resort\" en cada mensaje.\n- No uses frases genéricas como \"Claro que sí\" o \"Por supuesto\". Ve directo al punto.\n- Si incluyes un link, ponlo al final del mensaje.\n\n---\n\n## FORMATO DE SALIDA OBLIGATORIO ##\nResponde ÚNICAMENTE con este JSON en una sola línea, sin texto adicional antes ni después:\n\n{\"response\": \"<texto de respuesta al usuario>\", \"escalate\": false, \"categoria\": \"info\", \"nombre_capturado\": null, \"email_capturado\": null, \"telefono_capturado\": null}\n\nescalate: true SOLO cuando llames a handoff o cuando el usuario explícitamente pida hablar con alguien.\ncategoria: uno de estos valores exactos:\n- \"info\" — consulta general sobre el resort\n- \"reserva\" — pregunta sobre disponibilidad, precios, reservas\n- \"bodas_eventos\" — bodas, eventos, celebraciones\n- \"pr\" — prensa, influencers, colaboraciones\n- \"empleo\" — trabajo, vacantes\n- \"escalamiento\" — usuario pide humano o situación urgente\n- \"off_topic\" — tema fuera del resort\n\nnombre_capturado: string con el nombre si el usuario lo mencionó en este mensaje, o null.\nemail_capturado: string con el email si el usuario lo mencionó en este mensaje, o null.\ntelefono_capturado: string con el teléfono si el usuario lo mencionó en este mensaje, o null.\n\n---\n\n## GUARDRAILS ##\n- NUNCA inventes información sobre el resort (precios exactos, disponibilidad específica, políticas no documentadas).\n- NUNCA digas que eres ChatGPT, Claude, o cualquier IA específica.\n- NUNCA compartas información privada de otros huéspedes.\n- NUNCA prometas algo que el KB no confirme (descuentos, upgrades, excepciones a políticas).\n- Si no sabes algo → dirige al equipo: concierge@itzanabelize.com o +(501) 610-1329"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        10384,
        1136
      ],
      "id": "6c16c6e6-5f45-4fbb-88a5-6f2c597a6523",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output || '';\n\nlet parsed;\ntry {\n  const jsonMatch = agentOutput.match(/\\{[\\s\\S]*\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n} catch(e) {\n  parsed = null;\n}\n\nreturn [{\n  json: {\n    response_text:       parsed?.response          || agentOutput,\n    escalate:            parsed?.escalate           || false,\n    categoria:           parsed?.categoria          || 'info',\n    nombre_capturado:    parsed?.nombre_capturado   || null,\n    email_capturado:     parsed?.email_capturado    || null,\n    telefono_capturado:  parsed?.telefono_capturado || null,\n    raw_output:          agentOutput\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10848,
        1136
      ],
      "id": "b7c6584d-056b-48f9-9b6f-ff88a685be18",
      "name": "Parse Agent Output"
    },
    {
      "parameters": {
        "description": "=Busca en la base de conocimiento de Itz'ana Resort. Úsala para CUALQUIER pregunta sobre el resort: alojamiento, restaurantes, actividades, bodas, ubicación, políticas, precios. Pasa la consulta del usuario como {\"query\": \"<pregunta del usuario>\"}.",
        "workflowId": {
          "__rl": true,
          "value": "rofQe6ZGW3OpFqcb",
          "mode": "list",
          "cachedResultUrl": "/workflow/rofQe6ZGW3OpFqcb",
          "cachedResultName": "ITZ KB_SEARCH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        10640,
        1360
      ],
      "id": "583bec0b-e3ea-4939-b825-ccfe8a86a9cc",
      "name": "Call 'ITZ KB_SEARCH'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36d12256-d1f9-49ba-80d0-a97080e0fe3e",
              "name": "type",
              "value": "={{\n   $('Set Propiedad').first().json.canal_ingreso.toLowerCase().includes('instagram')\n     ? 'instagram'\n     : $('Set Propiedad').first().json.canal_ingreso.toLowerCase().includes('messenger')\n       ? 'messenger'\n       : 'whatsapp'\n }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11072,
        1136
      ],
      "id": "051a4bb1-8316-4b93-8738-3def71c23be2",
      "name": "Parameter Type"
    },
    {
      "parameters": {
        "jsCode": "const captured = $json;\nconst userDoc = $('User Data').first().json;\n\n// Solo proceder si hay algo nuevo que guardar\nconst update = {};\nif (captured.nombre_capturado)   update.nombre   = captured.nombre_capturado;\nif (captured.email_capturado)     update.email    = captured.email_capturado;\nif (captured.telefono_capturado)  update.telefono = captured.telefono_capturado;\n\nif (Object.keys(update).length === 0) return [];\n\n// Incluir _id para que MongoDB Update sepa qué documento actualizar\nconst idStr = JSON.stringify(userDoc._id).replace(/^\"|\"$/g, '');\nreturn [{ json: { _id: idStr, ...update } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10848,
        1380
      ],
      "id": "c5beaa84-fcf2-43c0-a2d8-f981a8f811fd",
      "name": "Preparar Datos Contacto"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "users",
        "updateKey": "_id",
        "fields": "={{ Object.keys($json).filter(k => k !== '_id').join(\",\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        11072,
        1380
      ],
      "id": "28b57b36-8af2-43b1-b62e-2a5183fe7aa7",
      "name": "Guardar Contacto",
      "credentials": {
        "mongoDb": {
          "id": "Msw0gTK8f8b192VX",
          "name": "HOTELS"
        }
      }
    }
  ],
  "connections": {
    "PARSE BODY": {
      "main": [
        [
          {
            "node": "ES ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOINNING MESSAGE": {
      "main": [
        [
          {
            "node": "DELETE MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "JOINNING MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE MESSAGES": {
      "main": [
        [
          {
            "node": "Set Propiedad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GET MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET MESSAGE": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE MESSAGE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUT FINAL": {
      "main": [
        [
          {
            "node": "SAVE MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "text input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP IF AUDIO": {
      "main": [
        [
          {
            "node": "TRANSCRIBE AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "INPUT FINAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSCRIBE AUDIO": {
      "main": [
        [
          {
            "node": "audio input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES AUDIO / IMAGEN": {
      "main": [
        [
          {
            "node": "HTTP IF AUDIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANALIZA IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "ES AUDIO / IMAGEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ES ARCHIVO": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Body": {
      "main": [
        [
          {
            "node": "PARSE BODY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALIZA IMAGEN": {
      "main": [
        [
          {
            "node": "image input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Propiedad": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "If USER NOT EXIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to CREATE": {
      "main": [
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If USER NOT EXIST": {
      "main": [
        [
          {
            "node": "DATA to CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DATA to UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA to UPDATE": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "notifications": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Parameter Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Datos Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ITZ KB_SEARCH'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parameter Type": {
      "main": [
        [
          {
            "node": "Send to ManyChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Contacto": {
      "main": [
        [
          {
            "node": "Guardar Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "agentsprod.redtec.ai",
          "user-agent": "ManyChat",
          "content-length": "1766",
          "content-type": "application/json; charset=utf-8",
          "x-forwarded-for": "3.64.54.57",
          "x-forwarded-host": "agentsprod.redtec.ai",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "f5656a829cd5",
          "x-real-ip": "3.64.54.57",
          "accept-encoding": "gzip"
        },
        "params": {},
        "query": {},
        "body": {
          "key": "user:1623941319",
          "id": "1623941319",
          "page_id": "962079940550460",
          "user_refs": [],
          "status": "active",
          "first_name": "Jorge",
          "last_name": "Calderon",
          "name": "Jorge Calderon",
          "gender": "unknown",
          "profile_pic": null,
          "locale": null,
          "language": null,
          "timezone": "UTC±00",
          "live_chat_url": "https://app.manychat.com/fb962079940550460/chat/1623941319",
          "last_input_text": "Hola",
          "optin_phone": true,
          "phone": "+13322311881",
          "optin_email": false,
          "email": null,
          "subscribed": "2026-02-04T13:17:27-06:00",
          "last_interaction": null,
          "ig_last_interaction": null,
          "last_seen": null,
          "ig_last_seen": null,
          "is_followup_enabled": true,
          "ig_username": null,
          "ig_id": null,
          "whatsapp_phone": "+13322311881",
          "whatsapp_bsuid": null,
          "whatsapp_username": null,
          "optin_whatsapp": true,
          "phone_country_code": "US",
          "last_growth_tool": null,
          "custom_fields": {
            "canal_ingreso": "whatsapp",
            "Celular": null,
            "ChatGPT's response": null,
            "ChatGPT's response (2024-08-13 21:18:56)": null,
            "Conversation": null,
            "Conversation (2024-08-13 21:18:56)": null,
            "conversation_id": null,
            "debugging": null,
            "Fecha Evento": null,
            "Fecha Evento 2": null,
            "Fecha Evento 3": null,
            "Fecha Reserva": null,
            "FicohsaResponse": null,
            "First name for prompt": null,
            "First name for prompt (2024-08-13 21:18:56)": null,
            "image_descriptioin": null,
            "Input from Template": null,
            "Last Input": null,
            "last_interaction_timestamp": null,
            "Nombre Cotizacion": null,
            "Nombre Reserva": null,
            "Numero Personas": null,
            "Ocasion": null,
            "Panelista": null,
            "Pregunta": null,
            "proyecto": "PVV",
            "proyecto_interes": "PMAR",
            "proyecto_utm_source": null,
            "Respuesta_Agente": null,
            "Respuesta_Audio_URL": null,
            "Respuesta de image-n8n via Webhook": null,
            "Respuesta de n8n via Webhook": null,
            "Respuesta_MVAgent": null,
            "user's question fallback": null,
            "user's question fallback (2024-08-13 21:18:56)": null,
            "voice_note_transcription": null
          }
        },
        "webhookUrl": "https://agentsprod.redtec.ai/webhook/hotels-agent",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4ab02fb1ef8b6ca2c1c5c1f280ee696b0514d7d92cee5fb0da1784dbe393998"
  }
}